<!-- patTemplate:tmpl name="content" -->
<script language="javascript" type="text/javascript">
	var xpopup;
	function centangin_semua(varname, start_num, end_num) {
		var obj = document.getElementById('cek_all');
		if(obj.checked == false) {
			for(i=start_num;i<=end_num;i++) {
				document.getElementById(varname + i).checked = false;
			}
		} else {
			for(i=start_num;i<=end_num;i++) {
				document.getElementById(varname + i).checked = true;
			}
		}
	}
	function show_checkbox (varname, start_num, end_num) {
		//show check_all checkbox
		document.getElementById('cek_all').style.display='';
		//document.getElementById('btnHapus').type="button";
	}
	function konfirmasi_delete(varname, start_num, end_num) {
		//var idDelete = document.getElementById('id_delete').value;
		for(i=start_num;i<=end_num;i++) {
			if(document.getElementById(varname + i).checked == true) {
				//document.getElementById('form_list').submit();
				document.getElementById('btnHapus').type="submit";
				document.getElementById('btnHapus').click();
				return true;
			}
		}
		alert('Silakan beri tanda cek pada minimal 1 data');
		return false;
	}
</script>

<div class="mainContent-fp-element-full">
	<div class="mainContent-fp-element-full-head"><h2>DATA CUTI</h2></div>
	<div class="mainContent-fp-element-full-body">
   
	<form method="POST" action="{URL_SEARCH}" class="dataquest xhr_simple_form dest_subcontent-element" id="filterbox">
	<table>
		<tr>
			<th colspan="2"><h2><strong>Pencarian Data</strong></h2></th>
		</tr>
		<tr>
    		<th>Tahun Priode Cuti</th>
    		<td>
    			<!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="year" / -->
			</td>
    	</tr>
		<tr>
    		<th>Status Persetujuan</th>
    		<td>
    			<!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="tampilkan" / -->
			</td>
    	</tr>
		<tr>
      		<th>Nomor Cuti </th>
      		<td>
      			<input type="text" name="nomor" value="{NOMOR}">
          </td>
      	</tr>
		<tr>              
			<th width="30%">&nbsp;</th>
			<td><input type="submit" name="btncari" value=" Cari &raquo;" class="buttonSubmit"/></td>
		</tr>
	</table>
	</form>
	<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
	<div class="{CLASS_PESAN}">
		{ISI_PESAN}
	</div>
	<br />
	<!-- /patTemplate:tmpl -->
	<div class="pageBar">
		<div class="toolbar">
			<a class="xhr dest_subcontent-element" href="{URL_TAMBAH_CUTI}" title="Request" tabindex="3"><img src="images/button-add.gif" alt="Request">Tambah Data</a>
		</div>
	</div>
	<table class="table-common" width="800px">
		<tr>
	        <th width="5px">No</th>
	        <th width="120px">Aksi</th>
	        <th width="70px">Nomor Cuti</th>
	        <th width="100px">Tipe Cuti</th>
	        <th>Tanggal Mulai</th>
	        <th>Tanggal Selesai</th>
	        <th>Durasi</th>
			<th width="30px">Status</th>
	      </tr>
			<!-- patTemplate:tmpl name="data_history" type="condition" conditionvar="HISTORY_EMPTY" -->
				<!-- patTemplate:sub condition="YES" -->
					<tr><td colspan="8" align="center"><em>-- Data tidak ditemukan --</em></td></tr>
				<!-- /patTemplate:sub -->
				<!-- patTemplate:sub condition="NO" -->
					<!-- patTemplate:tmpl name="data_history_item" -->
						<input type="hidden" name="cuti_id" value="{DATA_ID}">
						<tr class="{DATA_CLASS_NAME}">
							<td align="center">{DATA_NUMBER}</td>
							<td class="links" align="center">
								<a class="xhr dest_subcontent-element" href="{URL_DETAIL}" title="Detail"><img src="images/button-detail.gif" alt="Detail"/></a>
								<!-- patTemplate:tmpl name="hidden_aksi" type="condition" conditionvar="AKSI_HIDDEN" -->
								<!-- patTemplate:sub condition="NO" -->
									<a class="xhr dest_subcontent-element" href="{URL_EDIT}" title="Ubah"><img src="images/button-edit.gif" alt="Edit"/></a>
									<a class="xhr dest_subcontent-element" href="{URL_DELETE}" title="Delete"><img src="images/button-delete.gif" alt="Hapus"/></a>
								<!-- /patTemplate:sub -->
								<!-- patTemplate:sub condition="YES" --> 
								<!-- /patTemplate:sub -->
								<!-- /patTemplate:tmpl -->
							</td>
							<td align="center">{DATA_NO}</td>
							<td>{DATA_NAMA}</td>
						    <td align="center">{DATA_MULAI}</td>
							<td align="center">{DATA_SELESAI}</td>
							<td align="center">{DATA_DURASI}</td>
							<td align="center">{DATA_STATUS}</td>
						</tr>
					<!-- /patTemplate:tmpl -->
				<!-- /patTemplate:sub -->
			<!-- /patTemplate:tmpl -->
	</table>
	<br/>
	<div class="notebox-info">
	<h4>Petunjuk:</h4>
		<ul>
			<li><img src="images/lamp-green.gif" alt="Disetujui"/> Disetujui</li>
			<li><img src="images/lamp-red.gif" alt="Ditolak"/> Ditolak</li>
			<li><img src="images/lamp-off.gif" alt="Dalam Proses"/> Belum diproses (Dalam Proses)</li>
		</ul>
	</div>
	<div class="notebox-info" style="">
    <h2>Informasi Cuti Pegawai :</h2>
		<!-- patTemplate:tmpl name="balance_cuti" -->
		<table>
		  <tr><td>Jatah Cuti Tahunan</td><td>:</td><td>{BALANCE_CUTIPERTOTAL} hari </td></tr>
		  <tr><td>Jumlah Cuti Terambil</td><td>:</td><td>{BALANCE_CUTIPERDIAMBIL} hari</td><tr>
		  <tr><td><b>Sisa Cuti</b></td><td>:</td><td><b>{BALANCE_CUTIPERSISA} hari</b></td><tr>
		</table>
		<!-- /patTemplate:tmpl -->
	</div>
</div></div>
<!-- /patTemplate:tmpl -->
