
<!-- patTemplate:tmpl name="content" -->
<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<div class="{CLASS_PESAN}">
   {ISI_PESAN}
</div>
<br />
<!-- /patTemplate:tmpl -->
<div class="mainContent-fp-element-full">
	<div class="mainContent-fp-element-full-head"><h2>Data Persetujuan Cuti</h2></div>
	<div class="mainContent-fp-element-full-body">
<form method="POST" name="frmInput" action="{URL_AKSI}" class="xhr_form std_form" id="frmInput" enctype="multipart/form-data">
   <input type="hidden" name="idPeg" value="{DATA_ID}">
   <table class="table-details" width="100%" >
      <tr class="subhead">
        <th colspan="2" valign="center">Data Pegawai</th>
      </tr>
      <tr>
        <th width="39%">Nama</th>
        <td>
          {DATA_NAMA}
        </td>
      </tr>
      <tr>
        <th width="39%">ID</th>
        <td>
          {DATA_NIP}
        </td>
      </tr>
      <tr>
        <th width="39%">Sisa Cuti</th>
        <td>
          {DATA_SISA}
        </td>
      </tr>
      <tr class="subhead">
        <th colspan="2" valign="center">Detail Data Cuti</th>
      </tr>
      <tr>
        <th width="39%">Nomor Cuti</th>
        <td>
          {NO}
        </td>
      </tr>
      <tr>
        <th>Tanggal Permintaan</th>
        <td>
          {AJU}
        </td>
      </tr>
      <tr>
        <th>Tanggal Submit</th>
        <td>
          {SUBMIT}
        </td>
      </tr>
      <tr>
        <th>Durasi</th>
        <td>
          {DURASI} hari
        </td>
      </tr>
      <tr>
        <th>Tanggal Cuti</th>
        <td>
          {DATE_LEAVE}
        </td>
      </tr>
      <tr style="display:none">
        <th>Mulai</th>
        <td>
          {MULAI}
        </td>
      </tr>
      <tr style="display:none">
        <th>Selesai</th>
        <td>
          {SELESAI}
        </td>
      </tr>
      <tr>
        <th>Tipe Cuti</th>
        <td>
          {NAMA}
        </td>
      </tr>
      <tr>
        <th>Alasan Cuti</th>
        <td>
          {ALASAN}
        </td>
      </tr>
      <tr>
        <th>Tanggung Jawab Cuti</th>
        <td>
          {TGGJWB}
        </td>
      </tr>
      <tr>
        <th>Pengganti Sementara</th>
        <td>
          {PGGJWB}
        </td>
      </tr>
      <tr>
        <th>Kontak Pengganti Sementara</th>
        <td>
          {PGGJWBK}
        </td>
      </tr>
      <tr>
        <th>Status Persetujuan Cuti</th>
        <td>
          {STATUS}
        </td>
      </tr>
      <tr>
        <th>Status Terakhir Cuti</th>
        <td>
          {TGLSTAT}
        </td>
      </tr>
      <tr class="buttons">
         <td colspan="2" align="right">
          <div class="toolbar"> 
          <a class="xhr dest_subcontent-element " href="{URL_BACK}" title="Kembali" tabindex="2">
          <img src="images/button-back.gif" alt=""> Kembali</a> 	
          </div>
         </td>
      </tr>
   </table>
</form>
</div></div>
<!-- /patTemplate:tmpl -->