<!-- patTemplate:tmpl name="content" -->
<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<div class="{CLASS_PESAN}">
   {ISI_PESAN}
</div>
<br />
<!-- /patTemplate:tmpl -->
<div class="mainContent-fp-element-full">
	<div class="mainContent-fp-element-full-head"><h2>{TITLE}</h2></div>
	<div class="mainContent-fp-element-full-body">
<br>
<!-- patTemplate:tmpl name="data" type="condition" conditionvar="DATA_EMPTY" -->
      <!-- patTemplate:sub condition="YES" -->
    <h1>Data tidak ditemukan </h1>
      <!-- /patTemplate:sub -->
      <!-- patTemplate:sub condition="NO" -->
         <!-- patTemplate:tmpl name="data_item" -->

   <table class="table-details" width="96%" >
      <tr class="subhead">
         <th colspan="2">DATA</th>
      </tr>
      
	  <tr>
         <th >Nama Hukuman</th>
         <td>
           {DETAIL_NAMAHKM}
         </td>
      </tr>
	  <tr>
         <th >Jenis Hukuman</th>
         <td>
           {DETAIL_LABELHKM}
         </td>
      </tr>
	  <tr>
         <th >Kategori</th>
         <td>
           {DETAIL_KAT}
         </td>
      </tr>
	  <tr>
         <th >Mulai </th>
         <td>
           {DETAIL_MULAI}
         </td>
      </tr>
	  <tr>
         <th >Selesai </th>
         <td>
           {DETAIL_SELESAI}
         </td>
      </tr>
	    <tr>
         <th >Keterangan</th>
         <td>
           {DETAIL_KET}
         </td>
      </tr>      
   </table>

<!-- /patTemplate:tmpl -->
      <!-- /patTemplate:sub -->
   <!-- /patTemplate:tmpl -->
            <div class="toolbar"> 
               <a class="xhr dest_subcontent-element " href="{URL_BACK}" title="Kembali" tabindex="2">
               <img src="images/button-back.gif" alt="">Kembali</a> 
            </div>

</div>
</div>
<!-- /patTemplate:tmpl -->