<!-- patTemplate:tmpl name="content" -->
<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<div class="{CLASS_PESAN}">
   {ISI_PESAN}
</div>
<br />
<!-- /patTemplate:tmpl -->
<div class="mainContent-fp-element-full">
	<div class="mainContent-fp-element-full-head"><h2>SEMINAR</h2></div>
	<div class="mainContent-fp-element-full-body">
<form method="POST" name="frmInput" action="{URL_ACTION}" class="xhr_form std_form" id="frmInput" enctype="multipart/form-data">
   <table class="table-details" width="100%" style="display:{DISPLAY_FORM}">
      <tr class="subhead">
         <th colspan="2">
          {LABEL_ACTION} {LABEL_INPUT}
          <div class="toolbar">
            <a class="xhr dest_subcontent-element " href="{URL_KEMBALI}" title="Kembali" tabindex="2"><img src="images/button-back.gif" alt="">Kembali</a>
          </div>
         </th>
      </tr>
     <tr>
         <th >Nama Seminar</th>
         <td>
            <input type="text" name="nama" value="{INPUT_NAMA}"  size="50" />&nbsp;*
            <input name="pegKode" type="hidden" value="{ID}" />
   		   <input name="dataKode" type="hidden" value="{INPUT_ID}" />
         </td>
      </tr> 
	  <tr>
         <th >Tingkat Seminar</th>
         <td>
         <!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="tingkat"  / -->*
         </td>
      </tr>
      <tr>
         <th >Peranan</th>
         <td>
         <input type="text" name="peranan" value="{INPUT_PERANAN}"  size="40" />&nbsp;*
         </td>
      </tr>
      <tr>
         <th >Tanggal</th>
         <td>
           <!-- patTemplate:gtfwrendermodule module="tanggal" submodule="Tanggal" action="view" name="mulai" / -->
         </td>
      </tr>
      <tr>
         <th >Penyelenggara</th>
         <td>
         <input type="text" name="penyelenggara" value="{INPUT_PENYELENGGARA}"  size="10" />
         </td>
      </tr>
      <tr>
         <th >Tempat</th>
         <td>
         <input type="text" name="tempat" value="{INPUT_TEMPAT}"  size="50" />
         </td>
      </tr>
	  <tr>
         <th >Upload </th>
         <td>
           <input type="file" name="file" size="40"><br />
				File sebelumnya: <a href="{INPUT_LINK_DOWNLOAD}">{INPUT_UPLOAD}</a>
        <input name="upload" type="hidden" value="{INPUT_UPLOAD}" />
         </td>
      </tr>
      <tr class="buttons">
         <th>&nbsp;</th>
         <td>
            <input name="btnsimpan" value="{LABEL_ACTION} " class="buttonSubmit" type="submit">
            <input name="btnbatal" value="{BUTTON}" class="buttonSubmit" type="{TYPE}">
         </td>
      </tr>
   </table>
</form>
<br />
<div class="pageBar" style="display:{DISPLAY_LIST}">
  <!-- patTemplate:gtfwrendermodule module="paging" submodule="paging" action="view" name="paging_top"  / -->
  <div class="toolbar">
    <a class="xhr dest_subcontent-element " href="{URL_TAMBAH}" title="Tambah" tabindex="2"><img src="images/button-add.gif" alt="">Tambah</a>
  </div>
</div>
<table class="table-common" width="96%" style="display:{DISPLAY_LIST}">
   <tr>
      <th width="5px" >No</th>
	  <th width="99px" >Aksi</th>
      <th >Nama Seminar</th>
      <th >Tingkat </th>
      <th >Tanggal </th>
      <th >Tempat </th>
      <th >Penyelenggara</th>
   </tr>
   <!-- patTemplate:tmpl name="data" type="condition" conditionvar="DATA_EMPTY" -->
      <!-- patTemplate:sub condition="YES" -->
   <tr><td colspan="10" align="center"><em>-- Data tidak ditemukan --</em></td></tr>
      <!-- /patTemplate:sub -->
      <!-- patTemplate:sub condition="NO" -->
         <!-- patTemplate:tmpl name="data_item" -->
   <tr class="{PEL_CLASS_NAME}">
      <td align="center" width="5%">{PEL_NUMBER}</td>
	  <td class="links">
		 <div id="tombol_{PEL_NUMBER}">
         <a class="xhr dest_subcontent-element" href="{PEL_URL_EDIT}" title="Ubah"><img src="images/button-edit.gif" alt="Ubah"/></a>
         <a class="xhr dest_subcontent-element" href="{PEL_URL_DELETE}" title="Hapus"><img src="images/button-delete.gif" alt="Hapus"/></a>
		 </div>
		 <a class="xhr dest_subcontent-element" href="{PEL_URL_DETAIL}" title="Detail"><img src="images/button-detail.gif" alt="Detail"/></a>
		 <div id="download_{PEL_NUMBER}"><a href="{PEL_LINK_DOWNLOAD_SK}" title="SK" target="_blank"><img src="images/detil.gif" alt="SK"/></a></div>
		 <script>
			verifyShow('tombol_{PEL_NUMBER}','&jenis=1&params=sdm_seminar:{PEL_ID}');
			if ('{PEL_LINK_DOWNLOAD_SK}'==''){var download='download_{PEL_NUMBER}'; document.getElementById(download).style.display='none';}
		 </script>
      </td>
      <td align="left" width="20%">{PEL_NAMA}</td>
	  <td align="left">{PEL_TINGKATLABEL}</td>
	  <td align="left">{PEL_MULAI}</td>
	  <td align="left">{PEL_TEMPAT}</td>
	  <td align="left">{PEL_PENYELENGGARA}</td>
   </tr>
         <!-- /patTemplate:tmpl -->
      <!-- /patTemplate:sub -->
   <!-- /patTemplate:tmpl -->
</table>
</div></div>
<script>
var display_form='{DISPLAY_FORM}',display_list='{DISPLAY_LIST}';
</script>
<!-- /patTemplate:tmpl -->