<!-- patTemplate:tmpl name="content" -->
<div class="background-blue padding-10 text-big"><!-- patTemplate:var name="TITLE" default="Profil Pengguna" / --></div>
<div class="padding-10">

<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<div class="row">
    <div class="col-md-12">
        <div class="{CLASS_PESAN}">
            {ISI_PESAN}
        </div>
    </div>
</div>
<!-- /patTemplate:tmpl -->
   
   <form method="POST" class="xhr_form std_form" action="{URL_EDIT}" id="filterbox">
   <input type="hidden" name="returnPage" value="{RETURN_PAGE}" size="30" />
      <input type="hidden" name="dataId" value="{DATA_ID}">
      <div class="table-responsive">
         <table class="table">
         <tr class="background-blue-light">
            <th colspan="2">Ubah Password</th>
         </tr>
         <!-- patTemplate:tmpl name="password_lama" visibility="visible" -->
         <tr>
            <th width="150">Old Password</th>
            <td align="left"><input type="password" name="passlama" value="" size="30" /></td>
         </tr>
         <!-- /patTemplate:tmpl -->
         <tr>
            <th>New Password</th>
            <td>
               <input type="password" name="passbaru1" value="" size="30" />
               <input type="hidden" name="usr" value="{USER_ID}" size="30" />
            </td>
         </tr>
         <tr>
            <th>Retype New Password</th>
            <td><input type="password" name="passbaru2" value="" size="30" /></td>
         </tr>
         
         <tr class="background-blue-light">
            <th>&nbsp;</th>
            <td>
                <div class="btn-group">
                    <input type="submit" name="btnganti" value="Simpan" class="btn btn-info btn-xs"/>
                    <input type="submit" name="btnbalik" value="Batal" class="btn btn-warning btn-xs"/>
                </div>
            </td>
         </tr>
        </table>
      </div>
   </form>
   
   <div class="petunjuk-area">
      <h4>Petunjuk:</h4>
      <ul>
         <li>Kolom Konfimasi Password Baru harus diisi dengan isi yang sama dengan kolom Password Baru</li>
      </ul>
   </div>

</div>
<!-- /patTemplate:tmpl -->
