<!-- patTemplate:tmpl name="content" -->
<div class="mainContent-fp-element-full">
		<div class="mainContent-fp-element-full-head">
		  <h2>Dokumen</h2>
		</div>
		<div class="mainContent-fp-element-full-body">
      <br>
      <div class="kabarAlumni-content">
            <h2>{TITLE}</h2><p>{ARTIKEL} </p><p><br /><br /> {DATE_POSTED} oleh {PENGIRIM} </p>
      </div>
      <a href="<!-- patTemplate:gtfwgeturl module="policy" sub="policyList" action="view" type="html" params=""  / -->" class="specialButton">Kembali</a>
    </div>
</div>
<!-- /patTemplate:tmpl -->