<!-- patTemplate:tmpl name="content" -->
<h1>{LABEL_TITLE}</h1>
<br />

<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<div class="{CLASS_PESAN}">
   {ISI_PESAN}
</div>
<br />
<!-- /patTemplate:tmpl -->
<div><h1>{TITLE}</h1></div><br>
<table class="table-details" width="100%" >
	<tr class="subhead">
		<th colspan="3"><b>Informasi Pribadi</b></th>
	</tr>
	<tr>
		<td rowspan="4" width="20%"><img src="upload_file/photo/{PROFIL_FOTO}" width="100" height="100"></td>
   </tr>
   <tr>
      <td width="20%">Nama</td>
	  <td>{PROFIL_NAME}</td>
   </tr>
   <tr>
      <td>NIP</td>
	  <td>{PROFIL_KODE}</td>
   </tr>
   <tr>
     
      <td valign="top">Alamat</td>
	  <td valign="top">{PROFIL_ALAMAT}</td>
   </tr>
   <tr>
      
   </tr>
</table>
<!-- patTemplate:tmpl name="data" type="condition" conditionvar="DATA_EMPTY" -->
      <!-- patTemplate:sub condition="YES" -->
    <h1>-- Data tidak ditemukan -- </h1>
      <!-- /patTemplate:sub -->
      <!-- patTemplate:sub condition="NO" -->
         <!-- patTemplate:tmpl name="data_item" -->

   <table class="table-details" width="100%" >
      <tr class="subhead">
         <th>DATA</th>
      </tr>
	  <tr>
         <th>Tanggal Mulai Kontrak</th>
         <td>
           {DETAIL_TGL_AWAL}
         </td>
      </tr>
      <tr>
         <th >Tanggal Akhir Kontrak</th>
         <td>
           {DETAIL_TGL_AKHIR}
         </td>
      </tr>
	  <tr class="subhead">
		<th colspan="2">Disetujui</th>
	  </tr>
	  <tr>
         <th >Tanda Tangan</th>
         <td>
           {DETAIL_PEJABAT}
         </td>
      </tr>
	  <tr>
         <th >Nomor Surat </th>
         <td>
           {DETAIL_NOSK}
         </td>
      </tr>
	  <tr>
         <th >Tanggal Disetujui </th>
         <td>
           {DETAIL_TGL_SK}
         </td>
      </tr>
	  <tr>
         <th >Status Kontrak </th>
         <td>
           {DETAIL_STATUS}
         </td>
      </tr>
	  <tr>
         <th >Tanggal Kontrak</th>
         <td>
           {DETAIL_TGL_STATUS}
         </td>
      </tr>
	  <tr>
         <th >Dokumen Keputusan</th>
         <td>
           <a href="{DETAIL_LINK_DOWNLOAD_SK}" target="_blank">{DETAIL_UPLOAD}</a>
         </td>
      </tr>

<!-- /patTemplate:tmpl -->
      <!-- /patTemplate:sub -->
   <!-- /patTemplate:tmpl -->
	<tr>
	<td class="subhead" colspan="2">	
	    <div class="toolbar"> 
               <a class="xhr dest_subcontent-element " href="{URL_BACK}" title="Kembali ke halaman sebelumnya" tabindex="2">
               <img src="images/button-back.gif" alt="">Kembali</a> 
            </div>
	</td>
	</tr>
</table>
<!-- /patTemplate:tmpl -->
