<!-- patTemplate:tmpl name="content" -->
<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<div class="{CLASS_PESAN}">
   {ISI_PESAN}
</div>
<br />
<!-- /patTemplate:tmpl -->
<div class="mainContent-fp-element-full">
	<div class="mainContent-fp-element-full-head"><h2>{TITLE}</h2></div>
	<div class="mainContent-fp-element-full-body">
	
<div class="pageBar">
<!-- patTemplate:gtfwrendermodule module="paging" submodule="paging" action="view" name="paging_top"  / -->
</div>
<table class="table-common" width="90%">
   <tr>
      <th width="5px" rowspan="2">No</th>
	  <th width="100px" rowspan="2">Aksi</th>
      <th rowspan="2">Golongan</th>
	  <th rowspan="2">Gaji Pokok</th>
	   <!-- <th rowspan="2">Masa Kerja</th> -->
	   <th rowspan="2">TMT</th>
	  <!--<th rowspan="2">TMT Berikut</th>-->
	  <th colspan="3">Surat Keputusan (SK)</th>
	  <th rowspan="2">Status</th>
   </tr>
   <tr>
      <th>Kantor</th>
	  <th>Nomor</th>
	  <th>Tanggal</th>
   </tr>
   <!-- patTemplate:tmpl name="data" type="condition" conditionvar="DATA_EMPTY" -->
      <!-- patTemplate:sub condition="YES" -->
   <tr><td colspan="11" align="center"><em>-- Data tidak ditemukan --</em></td></tr>
      <!-- /patTemplate:sub -->
      <!-- patTemplate:sub condition="NO" -->
         <!-- patTemplate:tmpl name="data_item" -->
   <tr class="{JS_CLASS_NAME}">
      <td align="center" width="8px">{JS_NUMBER}</td>
	  <td class="links">
            <a class="xhr dest_subcontent-element" href="{JS_URL_DETAIL}" title="Detail"><img src="images/button-detail.gif" alt="Detail"/></a>
			<div id="download_{JS_NUMBER}"><a href="{JS_LINK_DOWNLOAD_SK}" title="SK" target="_blank"><img src="images/detil.gif" alt="SK"/></a></div>
			<script>
				if ('{JS_LINK_DOWNLOAD_SK}'==''){var download='download_{JS_NUMBER}'; document.getElementById(download).style.display='none';}
			</script>
      </td>
      <td align="left">{JS_PKTGOLLABEL}</td>
	  <td align="left">{JS_GAPOK}</td>
	  <!-- <td align="left">{JS_MASA}</td> -->
	  <td align="left">{JS_MULAI}</td>
	  <!--<td align="left">{JS_YAD}</td>-->
	  <td align="left">{JS_PEJABAT}</td>
	  <td align="left">{JS_NOSK}</td>
	  <td align="left">{JS_TGL_SK}</td>
	  <td align="left">{JS_STATUS}</td>
	  
   </tr>
         <!-- /patTemplate:tmpl -->
      <!-- /patTemplate:sub -->
   <!-- /patTemplate:tmpl -->
</table>
</div></div>
<!-- /patTemplate:tmpl -->