<!-- patTemplate:tmpl name="content" -->
<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<div class="notebox-alert">
   {ISI_PESAN}
</div>
<!-- /patTemplate:tmpl -->
<div class="mainContent-fp-element-full">
	<div class="mainContent-fp-element-full-head"><h2>{TITLE}</h2></div>
	<div class="mainContent-fp-element-full-body">
	<table class="table-details" width="100%">
		<tr class="buttons">
			<td colspan="2">
				<div class="toolbar"> 
					<a class="xhr dest_subcontent-element " href="{URL_ACTION}" title=" Edit " tabindex="2">
					<img src="images/button-edit.gif" alt="Ubah"> Ubah </a> 	
				</div>
			</td>
		</tr>
		<tr class="subhead">
			<th colspan="2">Data Pegawai</th>
		</tr>	
		<tr>
			<th colspan="2" width="25%"><b>Informasi Pribadi</b></th>
		</tr>
		<tr>
			<td width="43%">&nbsp;&nbsp;&nbsp;NIP</td>
			<td>{NIP}</td>
		</tr>
		<tr>
			<td width="43%">&nbsp;&nbsp;&nbsp;Nomor Induk Internal</td>
			<td>{KODEINT}</td>
		</tr>	
		<tr>
			<td width="43%">&nbsp;&nbsp;&nbsp;NIDN</td>
			<td>{KODELAIN}</td>
		</tr>
		<tr>
			<td width="43%">&nbsp;&nbsp;&nbsp;Nama </td>
			<td>{GELDEP} {NAMA} {GELBEL}</td>
		</tr>
		<tr>
			<td width="43%">&nbsp;&nbsp;&nbsp;Tempat & Tanggal Lahir </td>
			<td>{TMPLAHIR}{TGLLAHIR}</td>
		</tr>  
		<tr>
			<td width="43%">&nbsp;&nbsp;&nbsp;Jenis ID Lain </td>
			<td>{JNSIDLAIN}</td>
		</tr>
		<tr>
			<td width="43%">&nbsp;&nbsp;&nbsp;ID Lain</td>
			<td>{IDLAIN}</td>
		</tr>
		<tr>
			<td width="43%">&nbsp;&nbsp;&nbsp;Jender </td>
			<td>{JENKEL}</td>
		</tr>
		<tr>
			<td width="43%">&nbsp;&nbsp;&nbsp;Agama </td>
			<td>{AGAMA}</td>
		</tr>
		<tr>
			<td width="43%">&nbsp;&nbsp;&nbsp;Status Pernikahan </td>
			<td>{NIKAH}</td>
		</tr>
		<tr style="display:none">
			<td width="30%">&nbsp;&nbsp;&nbsp;Kode Nikah </td>
			<td>{KODENIKAH}</td>
		</tr>
		<tr>
			<th colspan="2" width="30%"><b>Data Lain</b></th>
		</tr>
		<tr>
			<td width="43%">&nbsp;&nbsp;&nbsp;Alamat </td>
			<td>{ALAMAT}</td>
		</tr>
		<tr>
			<td width="43%">&nbsp;&nbsp;&nbsp;Kota </td>
			<td>{SATWIL}</td>
		</tr>
		<tr>
			<td width="43%">&nbsp;&nbsp;&nbsp;Kode Pos</td>
			<td>{KODEPOS}</td>
		</tr>
		<tr>
			<td width="43%">&nbsp;&nbsp;&nbsp;Nomor Telepon </td>
			<td>{TELP}</td>
		</tr>
		<tr>
			<td width="43%">&nbsp;&nbsp;&nbsp;Nomor HP</td>
			<td>{HP}</td>
		</tr>
		<tr>
			<td width="43%">&nbsp;&nbsp;&nbsp;Email </td>
			<td>{EMAIL}</td>
		</tr>
		<tr>
			<th colspan="2" width="30%"><b>Informasi Medis</b></th>
		</tr>
		<tr>
			<td width="43%">&nbsp;&nbsp;&nbsp;Golongan Darah </td>
			<td>{GOLDAR}</td>
		</tr>
		<tr>
			<td width="43%">&nbsp;&nbsp;&nbsp;Tinggi </td>
			<td>{TINGGIBDN}</td>
		</tr>
		<tr>
			<td width="43%">&nbsp;&nbsp;&nbsp;Berat Badan </td>
			<td>{BERATBDN}</td>
		</tr>
		<tr>
			<td width="43%">&nbsp;&nbsp;&nbsp;Cacat </td>
			<td>{CACAT}</td>
		</tr>
		<tr>
			<td width="43%">&nbsp;&nbsp;&nbsp;Warna Rambut </td>
			<td>{WARNARAMBUT}</td>
		</tr>
		<tr>
			<td width="43%">&nbsp;&nbsp;&nbsp;Bentuk Muka </td>
			<td>{BENTUKMUKA}</td>
		</tr>
		<tr>
			<td width="43%">&nbsp;&nbsp;&nbsp;Warna Kulit </td>
			<td>{WARNAKULIT}</td>
		</tr>
		<tr>
			<td width="43%">&nbsp;&nbsp;&nbsp;Ciri Khas </td>
			<td>{CIRIKHAS}</td>
		</tr>
		<tr>
			<td width="43%">&nbsp;&nbsp;&nbsp;Hobi </td>
			<td> <p>{HOBI}</p></td>
		</tr>
		<tr>
			<th colspan="2" width="30%"><b>Informasi Pegawai Saat Rekruitmen</b></th>
		</tr>
		<tr>
			<td width="43%">&nbsp;&nbsp;&nbsp;Tanggal Masuk Institusi </td>
			<td>{TGLMASUK}</td>
		</tr>
		<tr style="display:none">
			<td width="43%">&nbsp;&nbsp;&nbsp;Tanggal Mulai </td>
			<td>{PNSTMT}</td>
		</tr>
		<tr>
			<td width="43%">&nbsp;&nbsp;&nbsp;Kategori Pegawai</td>
			<td>{KATPEG}</td>
		</tr>
		<tr>
			<td width="43%">&nbsp;&nbsp;&nbsp;Jenis Pegawai </td>
			<td>{TIPPEG}</td>
		</tr>
		<tr>
			<td width="43%">&nbsp;&nbsp;&nbsp;Status Pekerjaan </td>
			<td>{JNSPEGID}</td>
		</tr>
		<tr>
			<td width="43%">&nbsp;&nbsp;&nbsp;Status Pegawai </td>
			<td>{STATR}</td>
		</tr>
		<tr>
			<td width="43%">&nbsp;&nbsp;&nbsp;Bank </td>
			<td>{BANK}</td>
		</tr>
		<tr>
			<td width="43%">&nbsp;&nbsp;&nbsp;Nomor Rekening </td>
			<td>{REKENING}</td>
		</tr>
		<tr>
			<td width="43%">&nbsp;&nbsp;&nbsp;Nama Penerima </td>
			<td>{RESIPIEN}</td>
		</tr>
		<tr>
			<td width="43%">&nbsp;&nbsp;&nbsp;Nomor Jaminan Sosial (Taspen) </td>
			<td>{NOTASPEN}</td>
		</tr>
		<tr>
			<td width="43%">&nbsp;&nbsp;&nbsp;Nomor Asuransi Kehatan </td> 
			<td>{NOASKES}</td>
		</tr>
		<tr>
			<td width="43%">&nbsp;&nbsp;&nbsp;NPWP </td>
			<td>{NONPWP}</td>
		</tr>
		<tr>
			<td width="43%">&nbsp;&nbsp;&nbsp;Batas Usia Pensiun </td>
			<td>{USIAPENS}</td>
		</tr>
		<tr style="display:none">
			<td width="43%">&nbsp;&nbsp;&nbsp;Kode Kehadiran </td>
			<td>{KODEABSEN}</td>
		</tr>
		<tr style="display:none">
			<td width="43%">&nbsp;&nbsp;&nbsp;Wilayah Kerja </td>
			<td>{SATKER}</td>
		</tr>
		<tr style="display:none">
			<td width="43%">&nbsp;&nbsp;&nbsp;Supervisor </td>
			<td>{DIRSPV}</td>
		</tr>
		<tr style="display:none">
			<td width="43%">&nbsp;&nbsp;&nbsp;MOR</td>
			<td>{MOR}</td>
		</tr>
		<tr style="display:none">
			<td width="43%">&nbsp;&nbsp;&nbsp;Golongan </td>
			<td>{PKTGOL}</td>
		</tr>
		<tr style="display:none">
			<td width="43%">&nbsp;&nbsp;&nbsp;Jabatan Struktural</td>
			<td>{JABSTRUK}</td>
		</tr>
		<tr style="display:none">
			<td width="43%">&nbsp;&nbsp;&nbsp;Jabatan Akademik</td>
			<td>{JABFUNG}</td>
		</tr>
		<tr class="buttons">
			<td colspan="2">
				<div class="toolbar"> 
					<a class="xhr dest_subcontent-element " href="{URL_ACTION}" title=" Ubah " tabindex="2">
					<img src="images/button-edit.gif" alt="Ubah"> Ubah </a> 	
				</div>
			 </td>
		</tr>
   </table>
   </div>
   </div>
<!-- /patTemplate:tmpl -->
