<!-- patTemplate:tmpl name="content" -->
<script language="javascript" type="text/javascript">
var xpopup;
function cariPegawai(temp,xurl) {
	document.getElementById('temp').value=temp;
	b=xurl;
	showPopup(b,'Employee List',500, 600);
}
</script>
<h1>MANAJEMEN DOKUMEN</h1>
<h2>Tambah/Ubah Data</h2>
	<form method="post" enctype="multipart/form-data" name="formInput"></form>

   <!-- patTemplate:tmpl name="message" type="simpleCondition" requiredvars="MESSAGE" -->
      <h4>{MESSAGE}</h4>  
   <!-- /patTemplate:tmpl -->
   
   <form name="form_policy" id="form_policy" action="<!-- patTemplate:gtfwgeturl module="manajemen_policy" sub="{SUB}" action="view" type="html" / -->" method="post" autocomplete=off enctype="multipart/form-data">
      <table class="table-details" style="width:650px;">
		 <tr class="subhead">
			<th valign="center" nowrap="nowrap">Data Dokumen</th>
			<th valign="right" style="padding:0pt;">
				<div class="toolbar">
					<a class="xhr dest_subcontent-element" href="{URL_BACK}" title="Kembali" tabindex="3"><img src="images/button-back.gif" alt="Kembali"> Kembali </a>
				</div>
			</th>
		 </tr>
		 <tr>
            <th width="30%">Unit Kerja</th>
            <td>
              <!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="satkerpolicy"  / --> *
            </td>
         </tr>
         <tr>
            <th width="20%">Jenis</th>
            <td>
              <!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="tipe"  / --> *
            </td>
         </tr>
         <tr>
            <th width="20%">Nama</th>
            <td><input type="text" name="nama" id="nama" value="{POLICYNAMA}" size="50" />*</td>
         </tr>
         <tr>
            <th>Deskripsi</th>
            <td><textarea cols="50" rows="5" name="keterangan">{POLICYKETERANGAN}</textarea></td>
         </tr>
         <tr>
            <th>External Link</th>
            <td><input type="text" name="url" value="{POLICYURL}" size="40" /></td>
         </tr>
         <tr>
            <th>Tanggal Input</th>
            <td>
               <!-- patTemplate:gtfwrendermodule module="tanggal" submodule="Tanggal" action="view" name="tanggal_policy" / -->
               <!--<input type="text" class="input" readonly name="tanggal_policy" value="{DATE}" readonly />
			       <a href="javascript:void(0)" onclick="if(self.gfPop)gfPop.fPopCalendar(document.form_policy.tanggal_policy,null,null);">...</a>-->
            </td>
         </tr>
         <tr>
            <th>Status</th>
            <td><input type="checkbox" name="status" value="1" size="40" {CHECKED} /> Aktif</td>
         </tr>
         <tr>
            <th>Seleksi Pegawai</th>
            <td>
				<select name="seleksi" id="seleksi">
					<option value="" selected>-- Pilihan --</option>
					<option value="all" {SELECT_ALL}>Semua Pegawai</option>
					<option value="pilih" {SELECT_PILIH}>Pilih Pegawai</option>
				</select>
				<div style="padding:5px;"></div>
				<div id="show_tombol" 
					style="display:none;padding:3px;border:1px solid #cccccc;width:105px;margin:0;background-color:#FFF3BD;" >
					<a onclick="cariPegawai('pejabat','{URL_SELEKSI}')" href="javascript:void(0);">
						<img border="0" src="images/detil.gif"> Pilih Pegawai
					</a>
				</div>
			</td>
         </tr>
         <tr>
            <td colspan="2">
				<div id="show_list" style="display:none;background-color:#cccccc;padding:3px;text-align:center;">
					<span style="font-size:14px;font-weight:bold;">List Pegawai Yang Dipilih</span>
					<table class="table-common" width="100%">
						<tr>
							<th width="20%">NIP</th>
							<th width="20%">Nama</th>
							<th width="20%">Pangkat</th>
							<th width="20%">Jabatan Fungsional</th>
							<th width="20%">Satuan Kerja</th>
							<th width="">Aksi</th>
						</tr>
						
						<!-- patTemplate:tmpl name="data" type="condition" conditionvar="DATA_EMPTY" -->
							<!-- patTemplate:sub condition="YES" -->
								<tr><td colspan="6" align="center"></td></tr>
							<!-- /patTemplate:sub -->
							<!-- patTemplate:sub condition="NO" -->
								<!-- patTemplate:tmpl name="data_item" -->
									<tr>
										<td align="left">{NIP}<input type="hidden" name="data[pjb][nip][]" value="{NIP}" /></td>
										<td align="left">{NAMAPEG}</td>
										<td align="left">{PKTGOL}</td>
										<td align="left">{JABFUNG}</td>
										<td align="left">{SATKER}</td>
										<td class="links">
											<a class="xhr dest_subcontent-element" href="{URL_DELETE}" title="Hapus"><img src="images/button-delete.gif" alt="Hapus"/></a>
										</td>
									</tr>
								<!-- /patTemplate:tmpl -->
							<!-- /patTemplate:sub -->
						<!-- /patTemplate:tmpl -->
						
					<tbody id="tbody_pejabat_list">
					</tbody>
					</table>
				</div>
			</td>
         </tr>
         <tr>
            <th>&nbsp;</th>
			<td>
               <input type="hidden" name="cekRec" id="cekRec" value="{REC_PEG}" />
               <input type="hidden" name="input_pilih" id="input_pilih" value="{INPUT_PILIH}" />
               <input type="hidden" name="temp" id="temp" />
			   <input type="hidden" name="id" value="{POLICYID}" />
               <div style="display:none;"><input name="actionsave" id="actionsave" value="Save" class="buttonSubmit" type="submit" /></div>
               <input type="button" name="actionsaveBohong" value="Simpan" onclick="cekIsiForm()" />
               <input type="button" name="action" value="Batal" onclick="window.location.href = '{URL_BACK}'"/>
            </td>
         </tr>
      </table>
   </form>

<script language="javascript" type="text/javascript">
function cekIsiForm(){
    var nama			= document.getElementById('nama').value;
	var satkerpolicy	= document.getElementById('satkerpolicy').selectedIndex;
    var type			= document.getElementById('tipe').selectedIndex;
	var seleksi			= document.getElementById('seleksi').selectedIndex;
    var cekRec			= document.getElementById('cekRec').value;
	
	if (satkerpolicy==0) {
        alert('Unit Kerja Harus Dipilih');
        document.form_policy.satkerpolicy.focus();
        return false;
    }else if (type==0) {
        alert('Kategori harus dipilih');
        document.form_policy.tipe.focus();
        return false;
    }else if (nama==''){
        alert('Nama tidak boleh kosong');
        document.form_policy.nama.focus();
        return false;
    }else if (seleksi==''){
        alert('Seleksi pegawai tidak boleh kosong');
        document.form_policy.seleksi.focus();
        return false;
    }else if (seleksi=='2'){
		if(cekRec == ''){
			alert('Anda belum memilih pegawai');
			document.form_policy.show_tombol.focus();
			return false;
		}
    }
    document.form_policy.actionsave.click();  
  }  
</script>
   
<script type="text/javascript" charset="utf-8"> 	
	$(document).ready(function() {	
		$('#seleksi').change(function() {
			if ($(this).val() == 'pilih') {
				$('#show_tombol').slideDown("slow");
				$('#show_list').slideDown("slow");
			} else {
				$('#show_tombol').slideUp("slow");
				$('#show_list').slideUp("slow");
			} 
		});	
	});
</script>

<script type="text/javascript" charset="utf-8"> 	
	$(document).ready(function() {
		if ($('#input_pilih').val() == '1') {
			$('#show_tombol').slideDown("slow");
			$('#show_list').slideDown("slow");
		} else {
			$('#show_tombol').slideUp("slow");
			$('#show_list').slideUp("slow");
		}
	});
</script>

<!-- /patTemplate:tmpl -->