<!-- patTemplate:tmpl name="content" -->
<h1>Manajemen Pengguna</h1>
<br />
   <!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
   <div class="notebox-alert">
      {ISI_PESAN}
   </div>
<br />
   <!-- /patTemplate:tmpl -->
   
   <form method="POST" class="xhr_form std_form" action="{URL_ACTION}" id="filterbox">
      <table width="100%" class="table-edit">
         <tr class="subhead">
            <th colspan="2"> Ubah Password </th>
         </tr>
         
         <tr>
            <th>Password Baru</th>
            <td><input type="password" name="password" size="25" maxlength="32" /> *
            <input type="hidden" name="usr" value="{USER_ID}" size="30" />
          <tr>
            <th>Konfirmasi Password Baru</th>
            <td><input type="password" name="retype_password"  size="25" maxlength="32" /> *</td>
         </tr>
            
         </tr>
         <tr class="buttons">
            <th>&nbsp;</th>
            <td>
               <input type="submit" name="btnsimpan" value=" Simpan " class="buttonSubmit"/>
               <input  type="submit"  name="btnbalik" value=" Batal " class="buttonSubmit"/>
            </td>
         </tr>
      </table>
   </form>
   
   <div class="petunjuk-area">
      <h4>Petunjuk:</h4>
      <ul>
         <li>Kolom Konfimasi Password Baru harus diisi dengan isi yang sama dengan kolom Password Baru</li>
      </ul>
   </div>
<!-- /patTemplate:tmpl -->
