<!-- patTemplate:tmpl name="content" -->
<!--<h1>{LABEL_TITLE}</h1>-->
<div class="background-blue padding-10 text-big">{TITLE}</div>

<div class="padding-10">

<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<div class="{CLASS_PESAN}">
   {ISI_PESAN}
</div>
<!-- /patTemplate:tmpl -->

<div class="table-responsive">
<table class="table" >
	<tr class="background-blue-light">
		<th colspan="3"><b>Informasi Pribadi</b></th>
	</tr>
	<tr>
		<td rowspan="4" width="60px"><img src="upload_file/photo/{PROFIL_FOTO}" width="100" height="100"></td>
   </tr>
   <tr>
      <td>Nama</td>
	  <td>{PROFIL_NAME}</td>
   </tr>
   <tr>
      <td>NIP</td>
	  <td>{PROFIL_KODE}</td>
   </tr>
   <tr>
      <td valign="top">Alamat</td>
	  <td valign="top">{PROFIL_ALAMAT}</td>
   </tr>
</table>
</div>

<!-- patTemplate:tmpl name="data" type="condition" conditionvar="DATA_EMPTY" -->
      <!-- patTemplate:sub condition="YES" -->
    <h1>Data tidak ditemukan </h1>
      <!-- /patTemplate:sub -->
      <!-- patTemplate:sub condition="NO" -->
         <!-- patTemplate:tmpl name="data_item" -->

   <table class="table" >
      <tr class="background-blue-light" >
         <th colspan="5">Data Pangkat/Golongan</th>
      </tr>
      <tr>
         <th >Status Pegawai</th>
         <td>
           {DETAIL_JPNAMA}
         </td>
      </tr>
      <tr>
         <th >Pangkat/Golongan</th>
         <td>
           {DETAIL_PKTGOL}
         </td>
      </tr>
	  <!--<tr>
         <th >Welfare Benefit </th>
         <td>
           {DETAIL_NOMINAL_GAPOK}
         </td>
      </tr>-->
    <tr>
         <th >Masa Kerja Golongan</th>
         <td>
           {DETAIL_MASA_THN} Tahun {DETAIL_MASA_BLN} Bulan 
         </td>
      </tr>
	  <tr>
         <th >TMT</th>
         <td>
           {DETAIL_TMT}
         </td>
      </tr>
      <tr>
         <th >Tanggal berikutnya</th>
         <td>
           {DETAIL_TGL_NAIK}
         </td>
      </tr>
	  <tr class="background-blue-light">
		<th colspan="2">Keputusan</th>
	  </tr>
	  <tr>
         <th >Pejabat </th>
         <td>
           {DETAIL_PEJABAT}
         </td>
      </tr>
	  <tr>
         <th >Nomor Surat </th>
         <td>
           {DETAIL_NOSK}
         </td>
      </tr>
	  <tr>
         <th >Tanggal keputusan </th>
         <td>
           {DETAIL_TGL_SK}
         </td>
      </tr>
  <tr>
         <th >Nomor Persetujuan BKN </th>
         <td>
           {DETAIL_DASAR}
         </td>
      </tr>
  <tr>
         <th >Gaji Pangkat/Golongan </th>
         <td>
           Rp. {DETAIL_GAJI_PANGKAT} ,-
         </td>
      </tr>
      <tr>
         <th >Tanggal Persetujuan BKN </th>
         <td>
           {DETAIL_TGL_BKN}
         </td>
      </tr>
	  <!-- <tr>
         <th >Status Aktif </th>
         <td>
           {DETAIL_STATUS}
         </td>
      </tr> -->
	  <tr>
         <th >Dokumen Keputusan </th>
         <td>
           <a href="{URL_LINK_DOWNLOAD}" target="_blank">{DETAIL_UPLOAD}</a>
         </td>
      </tr>

<!-- /patTemplate:tmpl -->
      <!-- /patTemplate:sub -->
   <!-- /patTemplate:tmpl -->
	<tr>	   
        <td colspan="2" class="background-blue-light text-right">
            <a class="xhr dest_subcontent-element " href="{URL_BACK}" title="Back to Current Page" tabindex="2">
                <button type="button" class="btn btn-default btn-xs">Kembali</button>
            </a>
        </td>
	</tr>
</table>
</div>
<!-- /patTemplate:tmpl -->
