<!-- patTemplate:tmpl name="content" -->
<div class="background-blue padding-10 text-big" style="text-transform:uppercase">Daftar Kenaikan Pangkat/Golongan</div>

<div class="padding-10">

<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<div class="{CLASS_PESAN}">
   {ISI_PESAN}
</div>
<br />
<!-- /patTemplate:tmpl -->

<div class="panel panel-default">
    <div class="panel-heading text-big"><strong>Pencarian Data</strong></div>
    <div class="panel-body">
        <form method="POST" action="{URL_SEARCH}" class="form-horizontal xhr_simple_form dest_subcontent-element" id="filterbox" role="form">
            
            <div class="form-group">
                <label for="nip" class="col-sm-2 control-label">Periode Awal</label>
                <div class="col-sm-3">
            <!-- patTemplate:gtfwrendermodule module="tanggal" submodule="Tanggal" action="view" name="awal" / -->
                </div>
            </div>
             <div class="form-group">
                <label for="nip" class="col-sm-2 control-label">Periode Akhir</label>
                <div class="col-sm-3">            
                            <!-- patTemplate:gtfwrendermodule module="tanggal" submodule="Tanggal" action="view" name="akhir" / -->
                </div>
            </div>
             <div class="form-group">
                <label for="nip" class="col-sm-2 control-label">Unit Kerja</label>
                <div class="col-sm-2">
             <!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="unit_kerja"  / -->
                </div>
            </div>
             <div class="form-group">
                <label for="nip" class="col-sm-2 control-label">Pangkat/Golongan</label>
                <div class="col-sm-2">
            <!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="pangkat_golongan"  / -->
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                <input type="hidden" name="cari" value="cari" size="30" />
                <button name="btncari" type="submit" class="btn btn-default btn-xs">Cari <span class="glyphicon glyphicon-search"></span></button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="row push-down-10">
    <div class="col-md-6">
  <!-- patTemplate:gtfwrendermodule module="paging" submodule="paging" action="view" name="paging_top"  / -->
    </div>
    <div class="col-md-6 text-right">
        <div class="btn-group">            
                <a target="_Blank" href="{URL_EXCEL}" title="Export Excel" tabindex="3" class="btn btn-xs btn-default">Export Excel</a>
        </div>
    </div>
</div>

<div class="table-responsive" style="max-width:100%; overflow-x:scroll;margin-bottom:20px;">
<table class="table table-bordered">
<tr>
	<th rowspan=2>No.</th>
	<th rowspan=2>NIP</th>
	<th rowspan=2>Nama</th>
	<th rowspan=2>Pangkat Terakhir</th>
   <th rowspan=2>TMT Pangkat Terakhir</th>
	<th colspan=2>Pangkat Berikut</th>
	<th rowspan=2 class=right>Unit Kerja</th>
</tr>
<tr>
   <th colspan=1>Golongan</th>
   <th colspan=1>TMT</th>
</tr>
<tr>
	<th class=bottom>1</th>
	<th class=bottom>2</th>
	<th class=bottom>3</th>
	<th class=bottom>4</th>
	<th class=bottom>5</th>
	<th class=bottom>6</th>
	<th class=bottom>7</th>
	<th class=bottom-right>8</th>
</tr>
<!-- patTemplate:tmpl name="table_list" type="condition" conditionvar="EMPTY" -->
   <!-- patTemplate:sub condition="YES" -->
    <tr><td align="center" colspan="8">---Data Tidak Ditemukan---</td></tr>
   <!-- /patTemplate:sub -->
   <!-- patTemplate:sub condition="NO" -->
   <!-- patTemplate:tmpl name="table_item" -->
     <tr>
  		<td style="{CLASS_NAME}">{NO}</td>
  		<td nowrap>{NIP}</td>
  		<td nowrap>{NAMA}</td>
  		<td nowrap>{GOLONGAN}</td>
  		<td nowrap>{GOLONGAN_TMT}</td>
  		<td nowrap>{GOLONGAN_YAD}</td>
  		<td nowrap>{GOLONGAN_YAD_TMT}</td>
  		<td nowrap>{UNIT_KERJA}</td>
  	</tr>
  <!-- /patTemplate:tmpl -->
	<!-- /patTemplate:sub -->
<!-- /patTemplate:tmpl -->
</table>
</div>
</div>
<!-- /patTemplate:tmpl -->