<!-- patTemplate:tmpl name="content" -->
<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<div class="{CLASS_PESAN}">
   {ISI_PESAN}
</div>
<br />
<!-- /patTemplate:tmpl -->
<div class="mainContent-fp-element-full">
	<div class="mainContent-fp-element-full-head"><h2>Detail Mutasi Beban Kinerja Dosen</h2></div>
	<div class="mainContent-fp-element-full-body">

   <table class="table-details" width="100%" >
	<tr class="subhead">
		<th>Detail</th>
		<th align="right">
			<div class="toolbar"> 
				<a class="xhr dest_subcontent-element " href="{URL_BACK}" title="back to the current page" tabindex="2">
					<img src="images/button-back.gif" alt="">Back
				</a> 
			</div>
		</th>
	</tr>

	<tr>
		<th colspan="2">

        <!-- TAB PANEL START -->
        <div style="width:100%;">
            <div class="TabbedPanels" id="tp1">
              <ul class="TabbedPanelsTabGroup">
                <li class="TabbedPanelsTab TabbedPanelsTabSelected">IDENTITAS</li>
                <li class="TabbedPanelsTab">PENDIDIKAN</li>
                <li class="TabbedPanelsTab">PENELITIAN</li>
                <li class="TabbedPanelsTab">PENGABDIAN</li>
                <li class="TabbedPanelsTab">PENUNJANG</li>
                <li class="TabbedPanelsTab">PROFESOR</li>
              </ul>
              
              <div class="TabbedPanelsContentGroup">
              <!------------------------------------------------------- Identitas Dosen Begin ------------------------------------------------------->	
                <div style="display: block;" class="TabbedPanelsContent TabbedPanelsContentVisible">
                       <table class="table-details" width="100%">
                          <tr class="subhead">
                             <th colspan="2" style="font-size:15px;">{JUDUL} Identitas Dosen</th>
                          </tr>
                          <tr>
                             <th width="150">No. Sertifikasi</th>
                             <td>: {NOSERTF}</td>
                          </tr>
                          <tr>
                             <th>NIP / NIDN</th>
                             <td>: {NIP} / {NIDN} </td>
                          </tr>
                          <tr>
                             <th>Nama</th>
                             <td>: {NAMA} </td>
                          </tr>
                          <tr>
                             <th>Nama PT</th>
                             <td>: {NAMAPT} </td>
                          </tr>
                          <tr>
                             <th>ALamat PT</th>
                             <td>: {ALAMATPT} </td>
                          </tr>
                          <tr>
                             <th>Fakultas/Departemen</th>
                             <td>: {FAKULTAS} </td>
                          </tr>
                          <tr>
                             <th>Prog. Studi</th>
                             <td>: {PRODI} </td>
                          </tr>
                          <tr>
                             <th>Jab. Fungsional / Gol</th>
                             <td>:  {JABFUNG} / {PKTGOL} </td>
                          </tr>
                          <tr>
                             <th>S1</th>
                             <td>: {S1} </td>
                          </tr>
                          <tr>
                             <th>S2</th>
                             <td>: {S2} </td>
                          </tr>
                          <tr>
                             <th>S3</th>
                             <td>: {S3} </td>
                          </tr>
                          <tr>
                             <th>Jenis</th>
                             <td>: {JENIS}</td>
                          </tr>
                          <tr>
                             <th>Bidang Ilmu</th>
                             <td>: {BIDANG} </td>
                          </tr>
                          <tr>
                             <th>NO. Telp/HP</th>
                             <td>: {HP} </td>
                          </tr>
                          <tr>
                             <th>Tahun Akd. / Semeseter</th>
                             <td>: {THNAKD} - {SEMESTER} </td>
                          </tr>
                          
                          <!---------------------------------- PILIHAN ASESOR 1 BEGIN ---------------------------------->
                          <tr class="subhead">
                             <th style="font-size:12px;padding-top:6px;" colspan="3">Asesor 1</th>
                          </tr>
                          <tr>
                             <th>NIP</th>
                             <td>: {NIP_1} </td>
                          </tr>
                          <tr>
                             <th>Nama</th>
                             <td>: {NAMA_1} </td>
                          </tr>
                          <tr>
                             <th>Pangkat Dan Gol. Ruang</th>
                             <td>: {PANGKAT_1} </td>
                          </tr>
                          <tr>
                             <th>Jabatan</th>
                             <td>: {JABATAN_1} </td>
                          </tr>
                          <tr>
                             <th>Unit Kerja</th>
                             <td>: {UNIT_KERJA_1} </td>
                          </tr>
                          <!---------------------------------- PILIHAN ASESOR 1 END ---------------------------------->
        
                          <!---------------------------------- PILIHAN ASESOR 2 BEGIN ---------------------------------->
                          <tr class="subhead">
                             <th style="font-size:12px;padding-top:6px;" colspan="3">Asesor 2</th>
                          </tr>
                          <tr>
                             <th>NIP</th>
                             <td>: {NIP_2} </td>
                          </tr>
                          <tr>
                             <th>Nama</th>
                             <td>: {NAMA_2} </td>
                          </tr>
                          <tr>
                             <th>Pangkat Dan Gol. Ruang</th>
                             <td>: {PANGKAT_2} </td>
                          </tr>
                          <tr>
                             <th>Jabatan</th>
                             <td>: {JABATAN_2} </td>
                          </tr>
                          <tr>
                             <th>Unit Kerja</th>
                             <td>: {UNIT_KERJA_2} </td>
                          </tr>
                          <!---------------------------------- PILIHAN ASESOR 1 END ---------------------------------->

						  <tr class="subhead">
							 <th colspan="3"></th>
						  </tr>

						  <tr>
							 <th>Tanggal Penilaian</th>
							 <td>: {TGLPENILAIAN}</td>
						  </tr>

						  <tr>
							 <th>Kesimpulan</th>
							 <td valign="top">: {KESIMPULAN}</td>
						  </tr>

                          <tr class="buttons_galihsam">
                            <td>&nbsp;</td>
                            <td style="text-align:right;float: right;">
                                <input name="lanjut_pendidikan" value="Selanjutnya &raquo;&raquo;&raquo;" class="" type="button" onclick="javascript:tp1.showPanel(1);" />
                            </td>
                          </tr>
                       </table>			
                </div>
              <!------------------------------------------------------- Identitas Dosen End ------------------------------------------------------->	
                
                
              <!------------------------------------------------------- Pendidikan Begin ------------------------------------------------------->	
                <div style="display: none;" class="TabbedPanelsContent">
                       <table class="table-details" width="100%">
                       <tr class="subhead" style="font-size:15px;">
                             <th colspan="2">{JUDUL} Kinerja Bidang Pendidikan</th>
                          </tr>
                          <tr>
                            <td colspan="2" align="center" style="font-size:11px;">
        
                                <table class="table-common_galihsam" id="table_kegiatan" width="100%" >
                                    <tr>
                                      <th width="21%" rowspan="2" style="text-align:center;">Nama Kegiatan</th>
                                      <th colspan="2" style="text-align:center;">Beban Kerja</th>
                                      <th width="16%" rowspan="2" style="text-align:center;">Masa Penugasan</th>
                                      <th colspan="2" style="text-align:center;">Kinerja</th>
                                      <th width="5%" rowspan="2" style="text-align:center;">File</th>
									  <th width="4%" rowspan="2" style="text-align:center;">Rekomendasi</th>
                                  </tr>
                                    <tr>
                                        <th width="17%" style="text-align:center;">Bukti Penugasan</th>
                                      <th width="5%" style="text-align:center;">SKS</th>
                                      <th width="17%" style="text-align:center;">Bukti Dokumen</th>
                                      <th width="5%" style="text-align:center;">SKS</th>
                                  </tr>
                                  <tbody id="tbody_penddk_list">
                                  <!-- patTemplate:tmpl name="dataPendidikan" type="condition" conditionvar="DATA_EMPTY" -->
                                    <!-- patTemplate:sub condition="YES" -->
                                        <tr><td colspan="9" align="center"><em>-- Data tidak ditemukan --</em></td></tr>
                                    <!-- /patTemplate:sub -->
                                        <!-- patTemplate:sub condition="NO" -->
                                            <!-- patTemplate:tmpl name="data_item_pendidikan" -->
                                            <tr class="{CLASS_NAME}">
                                                <td>{PENDD_NMKEG}</td>
                                                <td>{PENDD_BKBUKTI}</td>
                                                <td>{PENDD_BKSKS}</td>
                                                <td>{PENDD_MASA}</td>
                                                <td>{PENDD_KBUKTI}</td>
                                                <td>{PENDD_BKSKS}</td>
                                                <td style="text-align:center;">
                                                    <a class="xhr dest_subcontent-element" href="{PENDD_URL_DOWNLOAD}{PENDD_FILE}" target="_blank" title="Download File : {PENDD_FILE}">
                                                        <img src="images/detil.gif" alt="download"/>
                                                    </a>
                                                </td>
												<td>{PENDD_NMREKOMEN}</td>
                                            </tr>
                                            <!-- /patTemplate:tmpl -->
                                        <!-- /patTemplate:sub -->
                                  <!-- /patTemplate:tmpl -->
                                  </tbody>
                                </table>
                                                         
                            </td>
                          </tr>
        
        
                          <tr class="buttons_galihsam">
                            <td>
                                <input name="back_dosen" value="&laquo;&laquo;&laquo; Sebelumnya" class="" type="button" onclick="javascript:tp1.showPanel(0);" />
                            </td>
                            <td style="text-align:right;float: right;">
                                <input name="lanjut_penelitian" value="Selanjutnya &raquo;&raquo;&raquo;" class="" type="button" onclick="javascript:tp1.showPanel(2);" />
                            </td>
                          </tr>
                       </table>
                </div>
              <!------------------------------------------------------- Pendidikan End ------------------------------------------------------->	
        
              
              <!------------------------------------------------------- Penelitian Begin ------------------------------------------------------->	
                <div style="display: none;" class="TabbedPanelsContent">
                       <table class="table-details" width="100%">
                          <tr class="subhead" style="font-size:15px;">
                             <th colspan="2">{JUDUL} Kinerja Bidang Penelitian</th>
                          </tr>
                          <tr>
                             <td colspan="2" align="center" style="font-size:11px;">
        
                                <table class="table-common_galihsam" id="table_kegiatan" width="100%" >
                                    <tr>
                                      <th width="21%" rowspan="2" style="text-align:center;">Nama Kegiatan</th>
                                      <th colspan="2" style="text-align:center;">Beban Kerja</th>
                                      <th width="16%" rowspan="2" style="text-align:center;">Masa Penugasan</th>
                                      <th colspan="2" style="text-align:center;">Kinerja</th>
                                      <th width="5%" rowspan="2" style="text-align:center;">File</th>
									  <th width="4%" rowspan="2" style="text-align:center;">Rekomendasi</th>
                                  </tr>
                                    <tr>
                                        <th width="17%" style="text-align:center;">Bukti Penugasan</th>
                                      <th width="5%" style="text-align:center;">SKS</th>
                                      <th width="17%" style="text-align:center;">Bukti Dokumen</th>
                                      <th width="5%" style="text-align:center;">SKS</th>
                                  </tr>
                                  <tbody id="tbody_penlt_list">
                                  <!-- patTemplate:tmpl name="dataPenelitian" type="condition" conditionvar="DATA_EMPTY" -->
                                    <!-- patTemplate:sub condition="YES" -->
                                        <tr><td colspan="9" align="center"><em>-- Data tidak ditemukan --</em></td></tr>
                                    <!-- /patTemplate:sub -->
                                        <!-- patTemplate:sub condition="NO" -->
                                            <!-- patTemplate:tmpl name="data_item_penelitian" -->
                                            <tr class="{CLASS_NAME}">
                                                <td>{PENLT_NMKEG}</td>
                                                <td>{PENLT_BKBUKTI}</td>
                                                <td>{PENLT_BKSKS}</td>
                                                <td>{PENLT_MASA}</td>
                                                <td>{PENLT_KBUKTI}</td>
                                                <td>{PENLT_BKSKS}</td>
                                                <td style="text-align:center;">
                                                    <a class="xhr dest_subcontent-element" href="{PENLT_URL_DOWNLOAD}{PENLT_FILE}" target="_blank" title="Download File : {PENLT_FILE}">
                                                        <img src="images/detil.gif" alt="download"/>
                                                    </a>
                                                </td>
												<td>{PENLT_NMREKOMEN}</td>
                                            </tr>
                                            <!-- /patTemplate:tmpl -->
                                        <!-- /patTemplate:sub -->
                                  <!-- /patTemplate:tmpl -->
                                  </tbody>
                                </table>
                                     
                             </td>
                          </tr>
        
        
                          <tr class="buttons_galihsam">
                            <td>
                                <input name="back_pendidikan" value="&laquo;&laquo;&laquo; Sebelumnya" class="" type="button" onclick="javascript:tp1.showPanel(1);" />
                            </td>
                            <td style="text-align:right;float: right;">
                                <input name="lanjut_pengabdian" value="Selanjutnya &raquo;&raquo;&raquo;" class="" type="button" onclick="javascript:tp1.showPanel(3);" />
                            </td>
                          </tr>
                       </table>
                </div>
              <!------------------------------------------------------- Penelitian End ------------------------------------------------------->	
        
        
              <!------------------------------------------------------- Pengabdian Begin ------------------------------------------------------->	
                <div style="display: none;" class="TabbedPanelsContent">
                       <table class="table-details" width="100%">
                          <tr class="subhead" style="font-size:15px;">
                             <th colspan="2">{JUDUL} Kinerja Bidang Pengabdian</th>
                          </tr>
                          <tr>
                             <td colspan="2" align="center" style="font-size:11px;">
        
                                <table class="table-common_galihsam" id="table_kegiatan" width="100%" >
                                    <tr>
                                      <th width="21%" rowspan="2" style="text-align:center;">Nama Kegiatan</th>
                                      <th colspan="2" style="text-align:center;">Beban Kerja</th>
                                      <th width="16%" rowspan="2" style="text-align:center;">Masa Penugasan</th>
                                      <th colspan="2" style="text-align:center;">Kinerja</th>
                                      <th width="5%" rowspan="2" style="text-align:center;">File</th>
									  <th width="4%" rowspan="2" style="text-align:center;">Rekomendasi</th>
                                  </tr>
                                    <tr>
                                        <th width="17%" style="text-align:center;">Bukti Penugasan</th>
                                      <th width="5%" style="text-align:center;">SKS</th>
                                      <th width="17%" style="text-align:center;">Bukti Dokumen</th>
                                      <th width="5%" style="text-align:center;">SKS</th>
                                  </tr>
                                  <tbody id="tbody_pengb_list">
                                  <!-- patTemplate:tmpl name="dataPengabdian" type="condition" conditionvar="DATA_EMPTY" -->
                                    <!-- patTemplate:sub condition="YES" -->
                                        <tr><td colspan="9" align="center"><em>-- Data tidak ditemukan --</em></td></tr>
                                    <!-- /patTemplate:sub -->
                                        <!-- patTemplate:sub condition="NO" -->
                                            <!-- patTemplate:tmpl name="data_item_pengabdian" -->
                                            <tr class="{CLASS_NAME}">
                                                <td>{PENGB_NMKEG}</td>
                                                <td>{PENGB_BKBUKTI}</td>
                                                <td>{PENGB_BKSKS}</td>
                                                <td>{PENGB_MASA}</td>
                                                <td>{PENGB_KBUKTI}</td>
                                                <td>{PENGB_BKSKS}</td>
                                                <td style="text-align:center;">
                                                    <a class="xhr dest_subcontent-element" href="{PENGB_URL_DOWNLOAD}{PENGB_FILE}" target="_blank" title="Download File : {PENGB_FILE}">
                                                        <img src="images/detil.gif" alt="download"/>
                                                    </a>
                                                </td>
												<td>{PENGB_NMREKOMEN}</td>
                                            </tr>
                                            <!-- /patTemplate:tmpl -->
                                        <!-- /patTemplate:sub -->
                                  <!-- /patTemplate:tmpl -->
                                  </tbody>
                                </table>
                                     
                             </td>
                          </tr>
        
                          <tr class="buttons_galihsam">
                            <td>
                                <input name="back_penelitian" value="&laquo;&laquo;&laquo; Sebelumnya" class="" type="button" onclick="javascript:tp1.showPanel(2);" />
                            </td>
                            <td style="text-align:right;float: right;">
                                <input name="lanjut_penunjang" value="Selanjutnya &raquo;&raquo;&raquo;" class="" type="button" onclick="javascript:tp1.showPanel(4);" />
                            </td>
                          </tr>
                       </table>
                </div>
              <!------------------------------------------------------- Pengabdian End ------------------------------------------------------->	
        
        
              <!------------------------------------------------------- Penunjang Begin ------------------------------------------------------->	
                <div style="display: none;" class="TabbedPanelsContent">
                       <table class="table-details" width="100%">
                          <tr class="subhead" style="font-size:15px;">
                             <th colspan="2">{JUDUL} Kinerja Bidang Penunjang</th>
                          </tr>
                          <tr>
                             <td colspan="2" align="center" style="font-size:11px;">
        
                                <table class="table-common_galihsam" id="table_kegiatan" width="100%" >
                                    <tr>
                                      <th width="21%" rowspan="2" style="text-align:center;">Nama Kegiatan</th>
                                      <th colspan="2" style="text-align:center;">Beban Kerja</th>
                                      <th width="16%" rowspan="2" style="text-align:center;">Masa Penugasan</th>
                                      <th colspan="2" style="text-align:center;">Kinerja</th>
                                      <th width="5%" rowspan="2" style="text-align:center;">File</th>
									  <th width="4%" rowspan="2" style="text-align:center;">Rekomendasi</th>
                                  </tr>
                                    <tr>
                                        <th width="17%" style="text-align:center;">Bukti Penugasan</th>
                                      <th width="5%" style="text-align:center;">SKS</th>
                                      <th width="17%" style="text-align:center;">Bukti Dokumen</th>
                                      <th width="5%" style="text-align:center;">SKS</th>
                                  </tr>
                                  <tbody id="tbody_penunj_list">
                                  <!-- patTemplate:tmpl name="dataPenunjang" type="condition" conditionvar="DATA_EMPTY" -->
                                    <!-- patTemplate:sub condition="YES" -->
                                        <tr><td colspan="9" align="center"><em>-- Data tidak ditemukan --</em></td></tr>
                                    <!-- /patTemplate:sub -->
                                        <!-- patTemplate:sub condition="NO" -->
                                            <!-- patTemplate:tmpl name="data_item_penunjang" -->
                                            <tr class="{CLASS_NAME}">
                                                <td>{PENUNJ_NMKEG}</td>
                                                <td>{PENUNJ_BKBUKTI}</td>
                                                <td>{PENUNJ_BKSKS}</td>
                                                <td>{PENUNJ_MASA}</td>
                                                <td>{PENUNJ_KBUKTI}</td>
                                                <td>{PENUNJ_BKSKS}</td>
                                                <td style="text-align:center;">
                                                    <a class="xhr dest_subcontent-element" href="{PENUNJ_URL_DOWNLOAD}{PENUNJ_FILE}" target="_blank" title="Download File : {PENUNJ_FILE}">
                                                        <img src="images/detil.gif" alt="download"/>
                                                    </a>
                                                </td>
												<td>{PENUNJ_NMREKOMEN}</td>
                                            </tr>
                                            <!-- /patTemplate:tmpl -->
                                        <!-- /patTemplate:sub -->
                                  <!-- /patTemplate:tmpl -->
                                  </tbody>
                                </table>
                                     
                             </td>
                          </tr>
        
                          <tr class="buttons_galihsam">
                            <td>
                                <input name="back_pengabdian" value="&laquo;&laquo;&laquo; Sebelumnya" class="" type="button" onclick="javascript:tp1.showPanel(3);" />
                            </td>
                            <td style="text-align:right;float: right;">
                                <input name="lanjut_profesor" value="Selanjutnya &raquo;&raquo;&raquo;" class="" type="button" onclick="javascript:tp1.showPanel(5);" />
                            </td>
                          </tr>
                       </table>
                </div>
              <!------------------------------------------------------- Penunjang End ------------------------------------------------------->	
        
        
              <!------------------------------------------------------- Profesor Begin ------------------------------------------------------->	
                <div style="display: none;" class="TabbedPanelsContent">
                       <table class="table-details" width="100%">
                          <tr class="subhead" style="font-size:15px;">
                             <th colspan="2">{JUDUL} Kinerja Bidang Profesor</th>
                          </tr>
                          <tr>
                             <td colspan="2" align="center" style="font-size:11px;">
        
                                <table class="table-common_galihsam" id="table_kegiatan" width="100%" >
                                    <tr>
                                      <th width="21%" rowspan="2" style="text-align:center;">Nama Kegiatan</th>
                                      <th colspan="2" style="text-align:center;">Beban Kerja</th>
                                      <th width="16%" rowspan="2" style="text-align:center;">Masa Penugasan</th>
                                      <th colspan="2" style="text-align:center;">Kinerja</th>
                                      <th width="5%" rowspan="2" style="text-align:center;">File</th>
									  <th width="4%" rowspan="2" style="text-align:center;">Rekomendasi</th>
                                    </tr>
                                    <tr>
                                        <th width="17%" style="text-align:center;">Bukti Penugasan</th>
                                      <th width="5%" style="text-align:center;">SKS</th>
                                      <th width="17%" style="text-align:center;">Bukti Dokumen</th>
                                      <th width="5%" style="text-align:center;">SKS</th>
                                  </tr>
                                  <tbody id="tbody_prof_list">
                                  <!-- patTemplate:tmpl name="dataProfesor" type="condition" conditionvar="DATA_EMPTY" -->
                                    <!-- patTemplate:sub condition="YES" -->
                                        <tr><td colspan="9" align="center"><em>-- Data tidak ditemukan --</em></td></tr>
                                    <!-- /patTemplate:sub -->
                                        <!-- patTemplate:sub condition="NO" -->
                                            <!-- patTemplate:tmpl name="data_item_profesor" -->
                                            <tr class="{CLASS_NAME}">
                                                <td>{PROF_NMKEG}</td>
                                                <td>{PROF_BKBUKTI}</td>
                                                <td>{PROF_BKSKS}</td>
                                                <td>{PROF_MASA}</td>
                                                <td>{PROF_KBUKTI}</td>
                                                <td>{PROF_BKSKS}</td>
                                                <td style="text-align:center;">
                                                    <a class="xhr dest_subcontent-element" href="{PROF_URL_DOWNLOAD}{PROF_FILE}" target="_blank" title="Download File : {PROF_FILE}">
                                                        <img src="images/detil.gif" alt="download"/>
                                                    </a>
                                                </td>
												<td>{PROF_NMREKOMEN}</td>
                                            </tr>
                                            <!-- /patTemplate:tmpl -->
                                        <!-- /patTemplate:sub -->
                                  <!-- /patTemplate:tmpl -->
                                  </tbody>
                                </table>
                                                         
                             </td>
                          </tr>
        
                          <tr class="buttons_galihsam">
                            <td>
                                <input name="back_penunjang" value="&laquo;&laquo;&laquo; Sebelumnya" class="" type="button" onclick="javascript:tp1.showPanel(4);" />
                            </td>
                            <td style="text-align:right;float: right;">
                                <input name="lanjut_konfirmasi" value="Selanjutnya &raquo;&raquo;&raquo;" class="" type="button" onclick="javascript:tp1.showPanel(6);" />
                            </td>
                          </tr>
                       </table>
                </div>
              <!------------------------------------------------------- Profesor End ------------------------------------------------------->	
        
              </div>
            </div>
        
            </div>
        
            <script language="JavaScript" type="text/javascript">
                var tp1 = new Spry.Widget.TabbedPanels("tp1", { defaultTab: 0 });
            </script>
        <!-- TAB PANEL END -->        
        
        </th>
	</tr>
   </table>

<div class="toolbar" style="padding-top:15px;"> 
    <a class="xhr dest_subcontent-element " href="{URL_BACK}" title="back to the current page" tabindex="2">
    <img src="images/button-back.gif" alt="">Back</a> 
</div>
</div></div>
<!-- /patTemplate:tmpl -->
