<!-- patTemplate:tmpl name="content" -->
<script language="javascript" type="text/javascript">
	var xpopup;
	function bukaPopupBidang(url) {
		showPopup(url,'',550, 550);
	}
  
  function popupBidang(xurl)
  {
      var b=xurl;
      var win = window.open( xurl, "myWindow","status = 1, height = 550, width = 600, resizable = 0, scrollbars=1" );
      if (!win.opener) win.opener = window.self;
  };
  
  function js_next(form,url) {
  	var url = url+'&field='+form.nama.value+'&aksi=ya';
      location.href = url;
  }
</script>
<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<div class="{CLASS_PESAN}">
   {ISI_PESAN}
</div>
<br />
<!-- /patTemplate:tmpl -->
<div class="mainContent-fp-element-full">
	<div class="mainContent-fp-element-full-head"><h2>KEPAKARAN DOSEN</h2></div>
	<div class="mainContent-fp-element-full-body">
<form method="POST" name="frmInput" action="{URL_ACTION}" class="xhr_form std_form" id="frmInput" enctype="multipart/form-data">
   <table class="table-details" width="100%" style="display:{DISPLAY_FORM}">
      <tr class="subhead">
         <th colspan="2">
          {LABEL_ACTION} {LABEL_INPUT}
          <div class="toolbar">
            <a class="xhr dest_subcontent-element " href="{URL_KEMBALI}" title="Kembali" tabindex="2"><img src="images/button-back.gif" alt="">Kembali</a>
          </div>
         </th>
      </tr>
      <tr></th>
            <th>Bidang Ilmu
            <td><!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="nama"  / --></td>
      </tr>
      <tr>
            <th>Bidang Kepakaran</th>
            <td>
              <!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="bidang"  / -->
              <input name="pegKode" type="hidden" value="{ID}" />
		          <input name="dataKode" type="hidden" value="{INPUT_ID}" />
            </td>
      </tr>
	    <!--<tr>
         <th >Expertise Field</th>
         <td>
         <input type='text' name='bidanglabel' value='{INPUT_BIDANGLABEL}' id='bidanglabel' size="55" readonly />
            <input type="button" value="..." onclick="popupBidang('{URL_POPUP_BIDANG}')"/>
            <input type='hidden' name='bidang' value='{INPUT_BIDANG}' id='bidang'/>
		      <input name="pegKode" type="hidden" value="{ID}" />
		      <input name="dataKode" type="hidden" value="{INPUT_ID}" />
         </td>
      </tr>-->
	  <tr>
         <th >Upload </th>
         <td>
           <input type="file" name="file" size="40"><br />
				File sebelumnya: <a href="{INPUT_LINK_DOWNLOAD}">{INPUT_UPLOAD}</a>
        <input name="upload" type="hidden" value="{INPUT_UPLOAD}" />
         </td>
      </tr>
      <tr class="buttons">
         <th>&nbsp;</th>
         <td>
            <input name="btnsimpan" value="{LABEL_ACTION} " class="buttonSubmit" type="submit">
            <input name="btnbatal" value="{BUTTON}" class="buttonSubmit" type="{TYPE}">
         </td>
      </tr>
   </table>
</form>
<br />
<div class="pageBar" style="display:{DISPLAY_LIST}">
  <!-- patTemplate:gtfwrendermodule module="paging" submodule="paging" action="view" name="paging_top"  / -->
  <div class="toolbar">
    <a class="xhr dest_subcontent-element " href="{URL_TAMBAH}" title="Tambah" tabindex="2"><img src="images/button-add.gif" alt="">Tambah</a>
  </div>
</div>
<table class="table-common" width="96%" style="display:{DISPLAY_LIST}">
   <tr>
      <th width="5px">No</th>
	  <th width="15%">Aksi</th>
      <th >Bidang Kepakaran</th>
   
   </tr>
   <!-- patTemplate:tmpl name="data" type="condition" conditionvar="DATA_EMPTY" -->
      <!-- patTemplate:sub condition="YES" -->
   <tr><td colspan="3" align="center"><em>-- Data tidak ditemukan --</em></td></tr>
      <!-- /patTemplate:sub -->
      <!-- patTemplate:sub condition="NO" -->
         <!-- patTemplate:tmpl name="data_item" -->
   <tr class="{PAGOL_CLASS_NAME}">
      <td align="center" width="15%">{KD_NUMBER}</td>
	  <td class="links">
		 <a href="{KD_LINK_DOWNLOAD_SK}" title="SK" target="_blank"><img src="images/detil.gif" alt="SK"/></a>
			<!--<a href="{PAGOL_LINK_DOWNLOAD_SK}" title="SK">Lihat SK</a>
         <a class="xhr dest_subcontent-element" href="{PAGOL_URL_DETAIL}" title="detail"><img src="images/button-detail.gif" alt="detail"/></a>
         /-->
         <!--<a class="xhr dest_subcontent-element" href="{KD_URL_EDIT}" title="Ubah"><img src="images/button-edit.gif" alt="Ubah"/></a>-->
         <a class="xhr dest_subcontent-element" href="{KD_URL_DELETE}" title="Hapus"><img src="images/button-delete.gif" alt="Hapus"/></a>
      </td>
      <td align="left">{KD_BIDANGLABEL}</td>
	  <!--<td align="left">{PAGOL_TMT}</td>
	  <td align="left">{PAGOL_PEJABAT}</td>
	  <td align="left">{PAGOL_NOSK}</td>
	  <td align="left">{PAGOL_TGL_SK}</td>
	  <td align="left">{PAGOL_DASAR}</td>
	  <td align="left">{PAGOL_STATUS}</td> /-->
      
   </tr>
         <!-- /patTemplate:tmpl -->
      <!-- /patTemplate:sub -->
   <!-- /patTemplate:tmpl -->
</table>
</div></div>
<!-- /patTemplate:tmpl -->
