
<!-- patTemplate:tmpl name="content" -->
<h1>{LABEL_TITLE}</h1>
<br />
<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<div class="{CLASS_PESAN}">
   {ISI_PESAN}
</div>
<br />
<!-- /patTemplate:tmpl -->
<div><h1>{TITLE}</h1></div><br>
<table class="table table-bordered" width="100%" >
	<tr class="subhead">
		<th colspan="3"><b>Data Pegawai</b></th>
	</tr>
	<tr>
		<td rowspan="4" width="60px"><img src="upload_file/photo/{DATA_FOTO2}" width="100" height="100"></td>
   </tr>
   <tr>
      <td width="120px">Nomor Pegawai</td>
	  <td>{DATA_NIP}</td>
   </tr>
   <tr>
      <td>Nama</td>
	  <td>{DATA_NAMA}</td>
   </tr>
   <tr>
      <td>Alamat</td>
	  <td>{DATA_ALAMAT}</td>
   </tr>
</table> 
<form method="POST" name="frmInput" action="{URL_AKSI}" class="xhr_form std_form" id="frmInput" enctype="multipart/form-data">
   <input type="hidden" name="idPeg" value="{DATA_ID}">
   <table class="table table-bordered" width="100%" >
      <tr class="subhead">
        <th colspan="2" valign="center">Detil Data Cuti</th>
      </tr>
      <tr>
        <th width="39%">Nomor Cuti</th>
        <td>
          {NO}
        </td>
      </tr>
      <tr>
        <th>Tanggal Permintaan</th>
        <td>
          {AJU}
        </td>
      </tr>
      <tr>
        <th>Tanggal Submit</th>
        <td>
          {SUBMIT}
        </td>
      </tr>
      <tr>
        <th>Tanggal Mulai</th>
        <td>
          {MULAI}
        </td>
      </tr>
      <tr>
        <th>Tanggal Selesai</th>
        <td>
          {SELESAI}
        </td>
      </tr>
      <tr>
        <th>Tipe Cuti</th>
        <td>
          {NAMA}
        </td>
      </tr>
	  <tr>
        <th>Durasi</th>
        <td>
          {DURASI}
        </td>
      </tr>
      <tr>
        <th>Alasan Cuti</th>
        <td>
          {ALASAN}
        </td>
      </tr>
      <tr>
        <th>Tanggung Jawab Kerja</th>
        <td>
          {TGGJWB}
        </td>
      </tr>
      <tr>
        <th>Pengganti</th>
        <td>
          {PGGJWB}
        </td>
      </tr>
      <tr style="display:none">
        <th>Kontak Biaya Sementara</th>
        <td>
          {PGGJWBK}
        </td>
      </tr>
      <tr>
        <th>Status Persetujuan Cuti</th>
        <td>
          {STATUS}
        </td>
      </tr>
      <tr>
        <th>Status Terakhir</th>
        <td>
          {TGLSTAT}
        </td>
      </tr>
      <tr class="buttons">
         <td colspan="2" align="right">
          <div class="toolbar"> 
          <a class="xhr dest_subcontent-element " href="{URL_BACK}" title="Kembali" tabindex="2">
          <img src="images/button-back.gif" alt=""> Kembali</a> 	
          </div>
         </td>
      </tr>
   </table>
</form>
<!-- /patTemplate:tmpl -->