<!-- patTemplate:tmpl name="content" -->
<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<div class="{CLASS_PESAN}">
   {ISI_PESAN}
</div>
<br />
<!-- /patTemplate:tmpl -->

<div class="background-blue padding-10 text-big" style="text-transform:uppercase">Laporan Statistik Pegawai</div>

<div class="padding-10">

<div class="panel panel-default">
    <div class="panel-heading text-big"><strong>Pencarian Data</strong></div>
    <div class="panel-body">
        <form method="POST" action="{URL_SEARCH}" class="form-horizontal xhr_simple_form dest_subcontent-element" id="filterbox" role="form">
            <div class="form-group">
                <label for="nip" class="col-sm-2 control-label">Kriteria</label>
                <div class="col-sm-2">
                </div>
            </div>
             <div class="form-group">
                <label for="nip" class="col-sm-2 control-label">Berdasarkan</label>
                <div class="col-sm-2">
                <select class="form-control input-sm" name="berdasarkan" style="width:150px">
                    <option value="unit" {SELECTED_UNIT}}>Unit Kerja</option>
                    <option value="jenisfungsional" {SELECTED_JENISFUNGSIONAL}>Jenis Fungsional</option>
                    <option value="status" {SELECTED_STATUS}>Status Pegawai</option>
                    <option value="golongan" {SELECTED_GOLONGAN}>Pangkat Golongan</option>
                <!--     <option value="fungsional" {SELECTED_FUNGSIONAL}>Jabatan Fungsional</option>  -->
                    <option value="struktural" {SELECTED_STRUKTURAL}>Jabatan Struktural</option>
                    <option value="eselon" {SELECTED_ESELON}>Tingkatan Eselon</option>
                    <option value="pendidikan" {SELECTED_PENDIDIKAN}>Tingkat Pendidikan</option>
                    <option value="spendidikan" {SELECTED_PENDIDIKANS}>Status Pendidikan</option>
                    <option value="jenis" {SELECTED_JENIS}>Jenis Pegawai</option>
                    <option value="agama" {SELECTED_AGAMA}>Agama</option>
                    <option value="statnikah" {SELECTED_STATNIKAH}>Status Pernikahan</option>
                    <option value="usia" {SELECTED_USIA}>Usia Pegawai</option>
                    <option value="masakerja" {SELECTED_MASAKERJA}>Lama Bekerja</option>
                 <!--    <option value="sertifikasi" {SELECTED_SERTIFIKASI}>Tahun Sertifikasi Dosen</option>  -->
                </select>
                </div>
            <!--</div>
             <div class="form-group"> -->
                <label for="nip" class="col-sm-2 control-label">Unit Kerja</label>
                <div class="col-sm-6">
<!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="unit"  / -->
                </div>
            </div>
            <div class="form-group">
                <label for="nip" class="col-sm-2 control-label">Status Pegawai</label>
                <div class="col-sm-2">
                        <!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="status"  / -->
                </div>
            <!--</div>
             <div class="form-group"> -->
                <label for="nip" class="col-sm-2 control-label">Jenis Pegawai</label>
                <div class="col-sm-2">
						<!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="jenis"  / -->
                </div>
            </div>
             <div class="form-group">
                <label for="nip" class="col-sm-2 control-label">Pangkat Golongan</label>
                <div class="col-sm-2">
						<!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="golongan"  / -->
                </div>
            <!--</div>
             <div class="form-group"> -->
                <label for="nip" class="col-sm-2 control-label">Jabatan Fungsional</label>
                <div class="col-sm-2">
					<!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="fungsional"  / -->
                </div>
            </div>
            <div class="form-group">
                <label for="nip" class="col-sm-2 control-label">Tingkat Pendidikan</label>
                <div class="col-sm-2">
						<!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="pendidikan"  / -->
                </div>
            
            </div>

            <div class="form-group">
                <label for="status" class="col-sm-2 control-label">Tampilkan Kolom</label>
               <div class="col-sm-10">

				<input type="checkbox" name="L" {CHECKED_L}>&nbsp;&nbsp;L (Laki-laki)<br />
                <input type="checkbox" name="P" {CHECKED_P}>&nbsp;&nbsp;P (Perempuan)<br />
                <input type="checkbox" name="X" {CHECKED_X}>&nbsp;&nbsp;X (Belum diset jenis kelaminnya)<br />
                <input type="checkbox" name="T" {CHECKED_T}>&nbsp;&nbsp;T (Total)<br />
                <input type="checkbox" name="0" {CHECKED_0}>&nbsp;&nbsp;Tampilkan nilai 0<br />

                </div>	
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                <input type="hidden" name="cari" value="cari" size="30" />
                <button name="btncari" type="submit" class="btn btn-default btn-xs">Cari <span class="glyphicon glyphicon-search"></span></button>
                </div>
            </div>
        </form>
    </div>
</div>

<h3>Rekapitulasi Pegawai {FUNGSIONAL} Berdasarkan {JUDUL}</h3>
<h4>Per Tanggal {TANGGAL}</h4>
<h3>{KRITERIA}</h3><br/>

<div class="row push-down-10">
    <div class="col-md-6">
<!-- patTemplatea:gtfwrendermodule module="paging" submodule="paging" action="view" name="paging_top"  / -->
    </div>
    <div class="col-md-6 text-right">
        <div class="btn-group">            
    <a class="btn btn-xs btn-default" target="_Blank" href="{URL_EXCEL}" title="Export Excel" tabindex="3"><span class="glyphicon glyphicon-ms-excel"></span> Export Excel</a>
        </div>
    </div>
</div>

<div class="table-responsive" style="max-width:100%; overflow-x:scroll;margin-bottom:20px;">

<table class="table table-bordered" >
<tr>
	<th rowspan="2" style="width:15px">No.</th>
	<th rowspan="2" width="500px">Unit Kerja</th>
	<th colspan="{GOLONGAN_COLSPAN}">{JUDUL}</th>
	<th rowspan="2" colspan="{JUMLAH_CHECK}" class="right">Jumlah</th>
</tr>
<tr>
<!-- patTemplate:tmpl name="kolom_status" -->
	<th colspan="{JUMLAH_CHECK}">{GOLONGAN}</th>
<!-- /patTemplate:tmpl -->
</tr>
<tr>
	<th>1</th>
	<th>2</th>
<!-- patTemplate:tmpl name="kolom_nomor_kolom" -->
	<th colspan="{JUMLAH_CHECK}">{NOMOR_KOLOM}</th>
<!-- /patTemplate:tmpl -->
</tr>
<tr>
	<th colspan="2" style="font-size:9px"><i>Jenis Kelamin</i></th>
  <!-- patTemplate:tmpl name="kolom_kelamin" -->
    <th style="display:{L}">L</th>
	<th style="display:{P}">P</th>
	<th style="display:{X}">X</th>
	<th style="display:{T}">T</th>
  <!-- /patTemplate:tmpl -->
</tr>

<!-- patTemplate:tmpl name="table_list" type="condition" conditionvar="EMPTY" -->
   <!-- patTemplate:sub condition="YES" -->
   <!-- /patTemplate:sub -->
   <!-- patTemplate:sub condition="NO" -->
   <!-- patTemplate:tmpl name="table_item" -->
     <tr>
  		<td class="{CLASS_NAME}">{NO}</td>
        <td>{UNIT_KERJA}</td>
      <!-- patTemplate:tmpl name="jumlah" -->
      	<td align="right" class="text-right" style="display:{L}"><font color="red">{JML_L}</font></td>
      	<td align="right" class="text-right" style="display:{P}"><font color="blue">{JML_P}</font></td>
		<td align="right" class="text-right" style="display:{X}"><font color="green">{JML_X}</font></td>
		<td align="right" class="text-right" style="display:{T}"><font color="black">{JML_T}</font></td>
      <!-- /patTemplate:tmpl -->
      </tr>
  <!-- /patTemplate:tmpl -->
	<!-- /patTemplate:sub -->
<!-- /patTemplate:tmpl -->
<tr>
	<th colspan="2" style="font-size:9px"></th>
  <!-- patTemplate:tmpl name="kolom_kelamin2" -->
    <th style="display:{L}">L</th>
	<th style="display:{P}">P</th>
	<th style="display:{X}">X</th>
	<th style="display:{T}">T</th>
  <!-- /patTemplate:tmpl -->
</tr>
<tr>
	<th style="width:15px"></th>
	<th></th>
<!-- patTemplate:tmpl name="kolom_status2" -->
	<th colspan="{JUMLAH_CHECK}">{GOLONGAN}</th>
<!-- /patTemplate:tmpl -->
	<th colspan="{JUMLAH_CHECK}" class="right">Jumlah</th>
</tr>
</table>
</div>

<h3>Ringkasan</h3>
<div class="table-responsive" style="max-width:100%; overflow-x:scroll;margin-bottom:20px;">
<table class="table table-bordered">
<tr>
	<th style="width:15px">No.</th>
	<th>{JUDUL}</th>
	<th style="display:{L}">L</th>
	<th style="display:{P}">P</th>
	<th style="display:{X}">X</th>
	<th style="display:{T}">Total</th>
	<th style="display:{T}">Persentase</th>
</tr>
<!-- patTemplate:tmpl name="variable_item" -->
<tr>
 	<td class="{CLASS_NAME}">{NO}</td>
    <td>{GOLONGAN}</td>
   	<td align="right" class="text-right" style="display:{L}"><font color="red">{JML_L}</font></td>
   	<td align="right" class="text-right" style="display:{P}"><font color="blue">{JML_P}</font></td>
	<td align="right" class="text-right" style="display:{X}"><font color="green">{JML_X}</font></td>
	<td align="right" class="text-right" style="display:{T}"><font color="black">{JML_T}</font></td>
	<td align="right" class="text-right" style="display:{T}"><font color="black">{PERSEN}%</font></td>
</tr>
<!-- /patTemplate:tmpl -->
</table>
</div>

<div class="petunjuk-area">
   <h4>Petunjuk:</h4>
   <ul>
      <li>L : Jumlah Laki-laki </li>
	  <li>P : Jumlah Perempuan </li>
	  <li>X : Jumlah yang belum diset jenis kelaminnya </li>
	  <li>L : Jumlah Total </li>
   </ul>
</div>
</div>
<!-- /patTemplate:tmpl -->