<!-- patTemplate:tmpl name="content" -->
<br />
<h1>PENDAPATAN LAIN</h1>
<br />
  <table class="table-details" width="100%">
     <tr class="subhead">
        <th colspan="2">Detail Pendapatan Lain</th>
     </tr>
     <tr>
        <th width="150">Jenis</th>
        <td>{JENIS}</td>
     </tr>
     <tr>
        <th width="150">Keterangan</th>
        <td>{DESKRIPSI}</td>
     </tr>
     <tr>
        <th>Tanggal</th>
        <td>{TANGGAL}</td>
     </tr>
     <tr>
        <th>Total</th>
        <td>Rp {NOMINAL}</td>
     </tr>
     
     <tr class="subhead">
        <th colspan="2">Daftar Pegawai</th>
     </tr>
     <tr>
     <td colspan="2">
     <table class="table-common" width="100%" id="table-komponen" >
				<tr>
				 <th width="90px">Nomor Pegawai</th>
				 <th>Nama</th>
				 <th width="110px">Nominal</th>
				</tr>
  <!-- patTemplate:tmpl name="data" type="condition" conditionvar="IS_EMPTY" -->
     <!-- patTemplate:sub condition="YES" -->
     <tr><td colspan="3" align="center"><em>-- Data tidak ditemukan --</em></td></tr>
     <!-- /patTemplate:sub -->
     <!-- patTemplate:sub condition="NO" -->
        <!-- patTemplate:tmpl name="data_item" -->
        <tr class="{DATA_CLASS_NAME}">
           <td style="padding-left:15px;">{DATA_KODE}</td>
           <td style="padding-left:15px;">{DATA_NAMA}</td>
           <td style="padding-left:15px;">{DATA_NOMINAL}</td>
        </tr>
        <!-- /patTemplate:tmpl -->
     <!-- /patTemplate:sub -->
  <!-- /patTemplate:tmpl -->
  </table>
  </td>
  </tr>
   <tr class="subhead">
      <th colspan="2">
	<div class="pageBar">
      <div class="toolbar"> 
   		<a class="xhr dest_subcontent-element" href="{URL_KEMBALI}" title="Kembali" ><img src="images/button-back.gif" alt="Kembali"> Kembali</a>
      </div>
   </div>			
			</th>
         </tr>
      </table>   
   <br />   
<!-- /patTemplate:tmpl -->
