<!-- patTemplate:tmpl name="content" -->
<h1>{LABEL_TITLE}</h1>
<br />
<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<div class="{CLASS_PESAN}">
   {ISI_PESAN}
</div>
<br />
<!-- /patTemplate:tmpl -->
<h1>Laporan Angka Kredit Pegawai</h1>
<br />
<form method="POST" action="{URL_SEARCH}" class="dataquest xhr_simple_form dest_subcontent-element" id="filterbox">
   <table>
      <tr>
         <th colspan="2"><h2><strong>Search Data</strong></h2></th>
      </tr>
      <tr>              
         <th width="30%">Periode Awal</th>
         <td>
            <!-- patTemplate:gtfwrendermodule module="tanggal" submodule="Tanggal" action="view" name="awal" / -->
         </td>
      </tr>
      <tr>              
         <th width="30%">Periode Akhir</th>
         <td>
            <!-- patTemplate:gtfwrendermodule module="tanggal" submodule="Tanggal" action="view" name="akhir" / -->
         </td>
      </tr>
      <tr>              
         <th width="30%">Unit Kerja</th>
         <td>
            <!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="unit_kerja"  / -->*
         </td>
      </tr>
      <tr>
         <th>&nbsp;</th>
         <td>
		        <input type="hidden" name="cari" value="cari" size="30" />
            <input type="submit" name="btncari" value=" Search &raquo;" class="buttonSubmit"/>
         </td>
      </tr>
   </table>
</form>
<br />
<div class="pageBar">
  <!-- patTemplate:gtfwrendermodule module="paging" submodule="paging" action="view" name="paging_top"  / -->
  <div class="toolbar">
    <a target="_Blank" href="{URL_EXCEL}" title="Export Excel" tabindex="3"><img src="images/button-excel.gif" alt="Export Excel">Export Excel</a>
    <!--<a target="_Blank" href="{URL_RTF}" title="Export Excel" tabindex="3"><img src="images/button-simpan.gif" alt="Export Excel">Simpan Rtf</a>-->
  </div>
</div>

<table class="table-common">
<tr>
	<th rowspan="2">No.</th>
	<th rowspan="2">NIP</th>
	<th rowspan="2">Nama</th>
	<th rowspan="2">L/P</th>
	<th rowspan="2">Jabatan</th>
	<th rowspan="2">Golongan</th>
	<th rowspan="2">Unit Kerja</th>
	<th colspan="4" >Angka Kredit</th>
	<th rowspan="2">Dapat Diangkat</th>
	<th rowspan="2">Tanggal PAK</th>
</tr>
<tr>
	<th>Jumlah Lama</th>
	<th>Jumlah Baru</th>
	<th>Digunakan</th>
	<th>Lebihan</th>
</tr>
<tr>
	<th class=bottom>1</th>
	<th class=bottom>2</th>
	<th class=bottom>3</th>
	<th class=bottom>4</th>
	<th class=bottom>5</th>
	<th class=bottom>6</th>
	<th class=bottom>7</th>
	<th class=bottom>8</th>
	<th class=bottom>9</th>
	<th class=bottom>10</th>
	<th class=bottom>11</th>
	<th class=bottom>12</th>
	<th class=bottom>13</th>
</tr>
<!-- patTemplate:tmpl name="table_list" type="condition" conditionvar="EMPTY" -->
   <!-- patTemplate:sub condition="YES" -->
    <tr><td align="center" colspan="13">---Data Tidak Ditemukan---</td></tr>
   <!-- /patTemplate:sub -->
   <!-- patTemplate:sub condition="NO" -->
   <!-- patTemplate:tmpl name="table_item" -->
     <tr>
  		<td style="{CLASS_NAME}">{NO}</td>
  		<td nowrap>{NIP}</td>
  		<td nowrap>{NAMA}</td>
  		<td nowrap>{JENIS_KELAMIN}</td>
  		<td nowrap>{JABATAN}</td>
  		<td nowrap>{GOLONGAN}</td>
  		<td nowrap>{UNIT_KERJA}</td>
  		<td nowrap>{PAK_JUMLAH_LAMA}</td>
  		<td nowrap>{PAK_JUMLAH_BARU}</td>
  		<td nowrap>{PAK_JUMLAH_DIGUNAKAN}</td>
  		<td nowrap>{PAK_JUMLAH_LEBIHAN}</td>
  		<td nowrap>{DAPAT_DIANGKAT}</td>
  		<td nowrap>{TANGGAL_PAK}</td>
  	</tr>
  <!-- /patTemplate:tmpl -->
	<!-- /patTemplate:sub -->
<!-- /patTemplate:tmpl -->
</table>
<!-- /patTemplate:tmpl -->