<!-- patTemplate:tmpl name="content" -->
<div class="col-md-12">
	<div class="container article">
		<h2 class="section-title">Agenda</h2>
		<div class="line-double"></div>
		
		<h3 class="article-title">{TITLE}</h3>
		<hr/>
		<div class="article-meta">Tempat&#9;:&nbsp;{TEMPAT}<br/>Waktu&#9;:&nbsp;{MULAI}<br/>Sticky&#9;:&nbsp;{STICKY}</div>
		<!-- patTemplate:tmpl name="foto" varscope="content" type="condition" conditionvar="FOTO" -->
		<!-- patTemplate:sub condition="__empty" -->
		<!-- /patTemplate:sub -->
		<!-- patTemplate:sub condition="__default" -->
		<div class="pull-right" style="margin: 5px 10px; text-align: center; max-width: 300px;">
			<img src="{FOTO}" rel="foto agenda" style="max-width: 300px; max-height: 250px;" >
			<div class="small" style="margin: 0 auto; word-wrap: break-word; max-width: 100%;">{CAPTION_FOTO}</div>
		</div>
		<!-- /patTemplate:sub -->
		<!-- /patTemplate:tmpl -->
		<div class="article-text"><p>{ARTIKEL}</p></div>
		<hr/>
		<a class="btn btn-link xhr dest_subcontent-element" href="<!-- patTemplate:gtfwgeturl module="agenda" sub="agendaList" action="view" type="html" params=""  / -->">Lihat Agenda Lain</a>
	</div>
</div>
<!-- /patTemplate:tmpl -->