<!-- patTemplate:tmpl name="content" -->
<script language="javascript" type="text/javascript">
	var xpopup;
	function centangin_semua(varname, start_num, end_num) {
		var obj = document.getElementById('cek_all');
		if(obj.checked == false) {
			for(i=start_num;i<=end_num;i++) {
				document.getElementById(varname + i).checked = false;
			}
		} else {
			for(i=start_num;i<=end_num;i++) {
				document.getElementById(varname + i).checked = true;
			}
		}
	}
	function show_checkbox (varname, start_num, end_num) {
		//show check_all checkbox
		document.getElementById('cek_all').style.display='';
		//document.getElementById('btnHapus').type="button";
	}
	function konfirmasi_delete(varname, start_num, end_num) {
		//var idDelete = document.getElementById('id_delete').value;
		for(i=start_num;i<=end_num;i++) {
			if(document.getElementById(varname + i).checked == true) {
				//document.getElementById('form_list').submit();
				document.getElementById('btnHapus').type="submit";
				document.getElementById('btnHapus').click();
				return true;
			}
		}
		alert('Silakan beri tanda cek pada minimal 1 data');
		return false;
	}
</script>

<br />
<h1>DATA KLAIM ASURANSI</h1>
<br />
<table class="table-details" width="100%" >
	<tr class="subhead">
		<th colspan="3"><b>Data Pegawai</b></th>
	</tr>
	<tr>
		<td rowspan="4" width="60px"><img src="upload_file/photo/{FOTO2}" width="100" height="100"></td>
   </tr>
   <tr>
      <td width="120px">Nomor Pegawai</td>
	  <td>{NIP}</td>
   </tr>
   <tr>
      <td>Nama</td>
	  <td>{NAMA}</td>
   </tr>
   <tr>
      <td>Alamat</td>
	  <td>{ALAMAT}</td>
   </tr>
</table> 
<br />
<form method="POST" action="{URL_SEARCH}" class="dataquest xhr_simple_form dest_subcontent-element" id="filterbox">
   <table>
      <tr>
         <th colspan="2"><h2><strong>Pencarian Data</strong></h2></th>
      </tr>
  	  <tr>
    		<th>Status Persetujuan Klaim  </th>
    		<td>
    			<!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="tampilkan" / -->
        </td>
   	 </tr>
      <tr>              
         <th width="30%">&nbsp;</th>
         <td><input type="submit" name="btncari" value=" Cari &raquo;" class="buttonSubmit"/></td>
      </tr>
   </table>
</form>

<br /> 
   <!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
   <div class="{CLASS_PESAN}">
      {ISI_PESAN}
   </div>
   <br />
   <!-- /patTemplate:tmpl -->
   <h2>Manajemen Sejarah Klaim Asuransi</h2>
   <!-- patTemplate:tmpl name="data_balance" -->
	<div class="{CLASS_BALANCE}">
		<h4>Data Saldo Asuransi : {DATA_BALANCE}</h4>
	</div>
   <!-- /patTemplate:tmpl -->
   <div class="pageBar">
   <!-- patTemplate:gtfwrendermodule module="paging" submodule="paging" action="view" name="paging_top"  / -->
      <div class="toolbar"> 
   		<a class="xhr dest_subcontent-element" href="{URL_KEMBALI}" title="Pilih Pegawai" tabindex="2"><img src="images/button-back.gif" alt="Pilih Pegawai"> Pilih Pegawai</a>
      	<a class="xhr dest_subcontent-element" href="{URL_BALANCE_BENEFIT}" title="Saldo Asuransi" tabindex="3"><img src="images/button-check.gif" alt="Saldo Asuransi"> Saldo Asuransi</a>
		<a class="xhr dest_subcontent-element" href="{URL_TAMBAH_BENEFIT}" title="Tambah Data Klaim Asuransi" tabindex="3"><img src="images/button-add.gif" alt="Tambah Data Klaim Asuransi"> Tambah Data Klaim Asuransi</a>
	  </div>
   </div>
	<table class="table-common" width="800px">
      <tr>
         <th width="10%">No</th>
         <th width="80px">Aksi</th>
         <th width="70px">Nomor Klaim</th>
         <th width="130px">Tipe Klaim</th>
         <th width="70px">Tanggal</th>
         <th width="90px">Tanggal Klaim</th>
         <th width="110px">Status</th>
         <th>Total Klaim </th>
      </tr>
      <!-- patTemplate:tmpl name="data_history" type="condition" conditionvar="HISTORY_EMPTY" -->
         <!-- patTemplate:sub condition="YES" -->
         <tr><td colspan="8" align="center"><em>-- Data tidak ditemukan --</em></td></tr>
         <!-- /patTemplate:sub -->
         <!-- patTemplate:sub condition="NO" -->
            <!-- patTemplate:tmpl name="data_history_item" -->
            <tr class="{DATA_CLASS_NAME}">
               <td align="center">{DATA_NUMBER}</td>
               <td class="links" align="center">
                  <a class="xhr dest_subcontent-element" href="{DATA_URL_DETAIL}" title="Detail"><img src="images/button-detail.gif" alt="Detail"/></a>
				  <a class="xhr dest_subcontent-element" href="{DATA_URL_EDIT}" title="Ubah"><img src="images/button-edit.gif" alt="Ubah"/></a>
               </td>
               <td align="center">{DATA_NO}</td>
               <td>{DATA_TIPE_KLAIM}</td>
					     <td align="center">{DATA_TGL_BENEFIT}</td>
               <td align="center">{DATA_TGL_KLAIM}</td>
               <td align="center">{DATA_STATUS}</td>
               <td>{DATA_TOTAL_KLAIM}</td>
            </tr>
            <!-- /patTemplate:tmpl -->
         <!-- /patTemplate:sub -->
      <!-- /patTemplate:tmpl -->
   </table>
<!-- /patTemplate:tmpl -->
