<!-- patTemplate:tmpl name="content" -->
<script language="javascript" type="text/javascript">
var xpopup;
function bukaPopupKomp(xurl) {
  a=document.getElementById('satker').value;
  b=xurl+a;
  showPopup(b,'Employee List',500, 500);
}
function setDS() {
	var status_unit_kerja = document.getElementById('satker').value;
	var direct_spv = document.getElementById('peg_label_2');
	var direct_spv_id = document.getElementById('pegId2');
	var direct_spv_button = document.getElementById('but_peg_2');
	var direct_spv_work_unit = document.getElementById('sat_label_2');
	var direct_spv_work_unit_id = document.getElementById('satId2');
	var mor = document.getElementById('peg_label_1');
	var mor_id = document.getElementById('pegId1');
	var mor_button = document.getElementById('but_peg_1');
	var mor_work_unit = document.getElementById('sat_label_1');	
	var mor_work_unit_id = document.getElementById('satId1');
	
	if (status_unit_kerja == 1 ) {
		direct_spv.value = 'Board of Trusty (BOT)';
		direct_spv_value = '-1';
		//direct_spv_button.style.display = 'none';
		direct_spv_work_unit.value = 'Board of Trusty (BOT)';
		direct_spv_work_unit_id.value = '';	
		
		mor.value = 'no information';
		mor_id.value = '';
		//mor_button.style.display = 'none';
		mor_work_unit.value = 'no information';
		mor_work_unit_id.value = '';		 			
	} else {
		direct_spv.value = '';
		direct_spv_id.value = '';
		//direct_spv_button.style.display = '';
		direct_spv_work_unit.value = '';
		direct_spv_work_unit_id.value = '';
		
		mor.value = '';
		mor_id.value = '';
		//mor_button.style.display = '';
		mor_work_unit.value = '';
		mor_work_unit_id.value = '';	
	}
		
}
</script>
<div id="TOP" class="background-blue padding-10 text-big">{TITLE}</div>

<div class="padding-10">
<!-- patTemplate:gtfwrendermodule module="profile" submodule="profilebox" action="view" name="profile"  / -->

<div class="table-responsive">
    <table class="table">
	    <tr class="background-blue-light">
		    <th colspan="3" class="text-center">
                <div class="btn-group">
                    
	                    <a class="btn btn-default btn-xs" href="javascript:Tab('LISTDATA','FORMDATA');">
	                        <span class="glyphicon glyphicon-list"></span> Lihat List Data
	                    </a>
                    
		                <a class="btn btn-default btn-xs" href="javascript:Tab('FORMDATA','LISTDATA');">
	                        <span class="glyphicon glyphicon-plus"></span> Tambah
                        </a> 
                    <a class="xhr dest_subcontent-element btn btn-default btn-xs" href="{URL_BACK}" title="Pilih Pegawai" tabindex="2">
                          <span class="glyphicon glyphicon-share"></span> Pilih Pegawai
                    </a> 
                    <!-- <a class="xhr dest_subcontent-element btn btn-default btn-xs" href="{URL_SPT}" title="Pilih Pegawai" tabindex="2">
                          <span class="glyphicon glyphicon-share"></span> Cetak SPT Staf
                    </a> --> 
                </div>
		    </th>
	    </tr>
    </table>
</div>
<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<script language="javascript" type="text/javascript">
function Tutup(){
	document.getElementById('warning_box').style.display='none';
}
</script>
<div class="{CLASS_PESAN}" id="warning_box">
   {ISI_PESAN} <a href="javascript:Tutup();">&nbsp;[Tutup Pesan]</a>
</div>
<!-- /patTemplate:tmpl --> 

<div id="FORMDATA" style="display:none">

<div class="table-responsive">
    <form method="POST" name="frmInput" action="{URL_ACTION}" enctype="multipart/form-data">
    <input type="hidden" value="Aktif" name="status">
        <table class="table">
            <tr class="background-blue-light text-big">
                <th colspan="2">{LABEL_ACTION} {LABEL_INPUT}</th>
            </tr>
          <tr>
              <th width="25%">Pangkat Golongan</th>
              <td>
              <!--{PANGGOL} -->
              <!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="satker_pangkat"  / -->
              </td>
            </tr>
	        <tr>
              <th width="25%">Unit Kerja *</th>
              <td>
	          	<!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="satker"  / -->
              <div>
                <label style="cursor: pointer;">
                    <input type="checkbox" name="old_satker_check" value="1" id="old_satker_check" {OLD_SATKER_CHECKED} />
                    Tidak tersedia ? 
                </label>
               </div>   
              </td>
            </tr>
            <tr id="row-input-old-satker">
               <th>Unit Kerja (lama)</th>
               <td>
                 <input type="text" value="{INPUT_OLD_SATKER}" id="old_satker" name="old_satker" size="50"> <span  style="color:#d34;font-size:10px !important">*diisi jika nama satuan/unit kerja tidak tersedia di daftar combobox unit kerja</span>
               </td>
            </tr>

          <tr>
              <th width="25%">Garis Koordinasi Unit Kerja</th>
              <td>
                  <div id="jab_holder" class="pull-left">
                  <!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="ref_jab"  / -->
                  </div>
                  <p id="jab_holder_loading" class="pull-left form-control-static hidden" style="margin-left: 15px;">Loading...</p>
              </td>
            </tr>
            <tr>
              <th width="25%">Jenis Kepegawaian *</th>
              <td>
              <!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="jenpeg"  / -->
              </td>
            </tr>
	      <tr style="display:none">
             <th width="180">Supervisor</th>
             <td>
               <input type="text" name="peg_label_2" id="peg_label_2" value="{3_NMP}" size="40" readonly="readonly" />
               <input type="hidden" name="pegId2" id="pegId2" value="{3_IDP}" />
               <input type="button"  name="but_peg_2" onclick="bukaPopupKomp('{URL_POPUP_PEG_2}')" value=" ... " />&nbsp;*
             </td>
          </tr>
          <tr style="display:none">
             <th width="180">Unit Kerja supervisor</th>
             <td>
               <input type="text" name="sat_label_2" id="sat_label_2" value="{3_NMS}" size="40" readonly="readonly" />
               <input type="hidden" name="satId2" id="satId2" value="{3_IDS}" />
             </td>
          </tr>
       <tr style="display:none">
		    <th width="180">MOR</th>
		    <td>
			    <input type="text" name="peg_label_1" id="peg_label_1" value="{2_NMP}" size="40" readonly="readonly" />
			    <input type="hidden" name="pegId1" id="pegId1" value="{2_IDP}" />
			    <input type="button"  name="but_peg_1" onclick="bukaPopupKomp('{URL_POPUP_PEG_1}')" value=" ... " />&nbsp;*
		    </td>
	    </tr>
	    <tr style="display:none">
		    <th width="180">Unit Kerja MOR</th>
		    <td>
			    <input type="text" name="sat_label_1" id="sat_label_1" value="{2_NMS}" size="40" readonly="readonly" />
			    <input type="hidden" name="satId1" id="satId1" value="{2_IDS}" />
		    </td>
	    </tr>
	      <tr>
             <th >TMT</th>
             <td>
               <!-- patTemplate:gtfwrendermodule module="tanggal" submodule="Tanggal" action="view" name="tmt" / -->
             </td>
          </tr>
	      <tr class="background-blue-light">
		    <th colspan="2">Keputusan</th>
	      </tr>
	      <tr>
             <th >Pejabat</th>
             <td>
               <input type="text" name="pejabat" value="{INPUT_PEJABAT}"  size="30" />
             </td>
          </tr>
	      <tr>
             <th >Nomor</th>
             <td>
               <input type="text" name="sk_no" value="{INPUT_NOSK}"  size="30" />
             </td>
          </tr>
	      <tr>
             <th >Tanggal</th>
             <td>
               <!-- patTemplate:gtfwrendermodule module="tanggal" submodule="Tanggal" action="view" name="tgl_sk" / -->
             </td>
          </tr>
	      <!--<tr>
             <th>Status Aktif *</th>
             <td>
               -- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="status"  / --
             </td> -->
          </tr>
	      <tr>
             <th >Unggah Dokumen </th>
             <td>
               <input type="file" name="file" size="40"><br />
				    Dokumen sebelumnya: <a href="{INPUT_LINK_DOWNLOAD}">{INPUT_UPLOAD}</a>
            <input name="upload" type="hidden" value="{INPUT_UPLOAD}" />
             </td>
          </tr>
          <!--<tr>
             <th>Deskripsi Tugas</th>
             <td><textarea cols="65" rows="15" name="tugas" id="isiBerita">{INPUT_TUGAS}</textarea></td>
          </tr> -->
          <input type="hidden" name="tugas" value="" />
          <tr class="buttons">
             <th>&nbsp;</th>
             <td>
                <input type="hidden" name="pegId" id="pegId" value="{ID}" />
                <input type="hidden" name="pgtgkt" value="{PGTINKAT}" />
                <input type="hidden" name="dataId" id="dataId" value="{INPUT_ID}" />
                <div style="display:none"><input name="btnsimpan" value="{LABEL_ACTION} " class="buttonSubmit" type="submit"></div>
			    <input name="btnsimpanBohong" value="{LABEL_ACTION} " class="buttonSubmit btn btn-info btn-xs" type="button" onclick="konfirmasi();">
                <input name="btnbatal" value="{BUTTON}" class="buttonSubmit btn btn-warning btn-xs" type="{TYPE}">
             </td>
          </tr>
        </table>
    </form>
</div>

<div class="petunjuk-area">
   <h4>Petunjuk:</h4>
   <ul>
      <li>Tanda * menunjukkan bahwa field tersebut harus diisi. </li>
   </ul>
</div></div>
<div id="LISTDATA" style="display:">
<h3>Catatan Mutasi Unit Kerja</h3>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <tr>
            <th width="5px" rowspan="2">No</th>
            <th rowspan="2">Unit Kerja</th>
            <th rowspan="2">Jenis Kepegawaian</th>
            <th rowspan="2">TMT</th>
            <th rowspan="2">Pangkat/Golongan</th>
            <th colspan="3">Keputusan</th>
            <!-- <th rowspan="2">Status</th> -->
            <th width="130px" rowspan="2">Aksi</th>
        </tr>
        <tr>
            <th>Jabatan</th>
            <th>Nomor</th>
            <th>Tanggal</th>
        </tr>
        <!-- patTemplate:tmpl name="data" type="condition" conditionvar="DATA_EMPTY" -->
            <!-- patTemplate:sub condition="YES" -->
                <tr><td colspan="9" align="center"><em>-- Data not found --</em></td></tr>
            <!-- /patTemplate:sub -->
            <!-- patTemplate:sub condition="NO" -->
                <!-- patTemplate:tmpl name="data_item" -->
                <tr class="{SATKER_CLASS_NAME}">
                    <td align="center" width="5px">{SATKER_NUMBER}</td>
                    <td align="left">{SATKER_SATKERNAMA}</td>
                  <td align="left">{SATKER_JNSPEG}</td>
	                <td align="left">{SATKER_TMT}</td>
                  <td align="left">{SATKER_PANGKAT_NAME}</td>
	                <td align="left">{SATKER_PEJABAT}</td>
	                <td align="left">{SATKER_NOSK}</td>
	                <td align="left">{SATKER_TGL_SK}</td>
	                <!-- <td align="left">{SATKER_STATUS}</td> -->
                    <td>
                        <div class="btn-group" id="tombol_{ISTRI_NUMBER}">
                                <a class="xhr dest_subcontent-element btn btn-primary btn-xs" href="{SATKER_URL_DETAIL}" title="Detail">
                                    <span class="glyphicon glyphicon-open"></span>
                                </a>
                                <a class="xhr dest_subcontent-element btn btn-success btn-xs" href="{SATKER_URL_EDIT}" title="Edit">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>

                                <a class="btn btn-default btn-xs" style="display:{SATKER_VIEW_DOWNLOAD}" href="{SATKER_LINK_DOWNLOAD_SK}" title="SK" target="_blank">
                                    <span class="glyphicon glyphicon-download-alt"></span>
                                </a>
                            
                                <a class="xhr dest_subcontent-element btn btn-danger btn-xs" href="{SATKER_URL_DELETE}" title="Delete">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            
                        </div>
                    </td>
                </tr>
            <!-- /patTemplate:tmpl -->
        <!-- /patTemplate:sub -->
   <!-- /patTemplate:tmpl -->
    </table>
</div>
<div class="petunjuk-area">
   <h4>Petunjuk:</h4>
   <ul>
	  <li>Gunakan tombol <span class="glyphicon glyphicon-open"></span> untuk melihat detail data. </li>
      <li>Gunakan tombol <span class="glyphicon glyphicon-pencil"></span> untuk mengubah data. </li>
      <li>Gunakan tombol <span class="glyphicon glyphicon-trash"></span> untuk menghapus data. </li>
	  <li>Gunakan tombol <span class="glyphicon glyphicon-download-alt"></span> untuk mendownload SK (jika ada). </li>
	  <li><a href="#TOP" id="link-top">Klik Disini</a> untuk kembali ke atas. </li>
   </ul>
</div>
</div>

</div>

<script language="javascript" type="text/javascript">
function konfirmasi() {
	// if (document.getElementById('satker').value=='' || document.getElementById('old_satker').value=='') {
	// 	alert('Anda belum memilih Satuan Kerja');
	// 	document.getElementById('satker').focus();
 //    document.getElementById('old_satker').focus();
	// 	return false;
	// }
	
	document.frmInput.btnsimpan.click();
}

function Tab(aktif,nonaktif){
	document.getElementById(aktif).style.display='';
	document.getElementById(nonaktif).style.display='none';
}

function CekAksi(){
    var dataId2='0'+'{INPUT_ID}';
	if (dataId2=='0') {
		Tab('LISTDATA','FORMDATA');
	}else{
		Tab('FORMDATA','LISTDATA');
	}
}
CekAksi();
</script>
<script lang="javascript">
$(document).ready(function(){
    $('#satker').change(function(e){
        $("#jab_holder_loading").removeClass("hidden");
        // Fallback if request is not responded by server
        var timer = setTimeout(function(){
            $("#jab_holder_loading").addClass("hidden");
        }, 10000);

        var idjab = $(this).val();
        // replaceContentWithUrl('jenis_holder','{URL_JENIS}&ascomponent=1&parent='+idjab);
        
        // Take record of previous (default) value in Edit
        var prevVal = "{INPUT_REF_JAB}";
        $('#jab_holder').load('{URL_JENIS}', '&ascomponent=1&parent='+idjab, function(data, status, xhr){
            var $select = $("#jab_holder > select");
            // Select previous value, if exists
            if(prevVal != "" && $('> option[value="'+prevVal+'"]', $select).length > 0) {
                $select.val(prevVal).trigger("change").trigger("chosen:updated");
            } else {
                // Automatically select 2nd option, if it's not empty
                var secondOpt = $select.find("option:eq(1)");
                if(secondOpt.val() !== "") {
                    secondOpt.prop("selected", true);
                }
            }
            $("#jab_holder_loading").addClass("hidden");
            clearTimeout(timer);
        });
        // alert('{URL_JENIS}&ascomponent=1&parent='+idjab);
    }).trigger("change");
});
</script>
<script>
$(document).ready(function(){
    $("#old_satker_check").off("change").on("change", function(e){
        var value = this.checked;
        $("#row-input-old-satker").toggle(value);
        if(value) {
            $("#row-input-old-satker").show();
            $("#satker").val("").trigger("change").trigger("chosen:updated");
        } else {
            $("#row-input-old-satker").hide();
            $("#old_satker").val("");
        }
    }).trigger("change");
});
</script>
<script>
    //var TE_isiBerita = standardTinyEditor('isiBerita');
</script>
<!-- /patTemplate:tmpl -->
