<!-- patTemplate:tmpl name="content" -->
<div class="background-blue padding-10 text-big">MANAJEMEN AGENDA</div>
<div class="padding-10">

<!-- patTemplate:tmpl name="message" type="simpleCondition" requiredvars="MESSAGE" -->
<div class="row">
    <div class="col-md-12">
		<div class="alert alert-warning">
        <p>{MESSAGE}</p>
		</div>
    </div>
</div>
<!-- /patTemplate:tmpl -->

<h2>Tambah/Ubah Agenda</h2>

	<form name="form_agenda" id="form_agenda" action="<!-- patTemplate:gtfwgeturl module="manajemen_agenda" sub="{SUB}" action="view" type="html" / -->" method="post" autocomplete=off class="" id="frmInput" enctype="multipart/form-data">
    <div class="table-responsive">
        <table class="table">
	     <tr class="background-blue-light">
			<th colspan="2">
				Tambah/Ubah Agenda
			</th>
		 </tr>
         <tr>
            <th width="20%">Nama Agenda</th>
            <td><input type="text" name="title" value="{TITLE}" size="50" /></td>
         </tr>
         <tr>
            <th>Mulai</th>
            <td>
               <!-- patTemplate:gtfwrendermodule module="tanggal" submodule="Tanggal" action="view" name="mulai" / -->
               <!--<input type="text" class="input" readonly name="tanggal_mulai" value="{START_DATE}" readonly /><a href="javascript:void(0)" onclick="if(self.gfPop)gfPop.fPopCalendar(document.form_agenda.tanggal_mulai,null,null);">...</a>-->
            </td>
         </tr>
         <tr>
            <th>Selesai</th>
            <td>
               <!-- patTemplate:gtfwrendermodule module="tanggal" submodule="Tanggal" action="view" name="selesai" / -->
               <!--<input type="text" class="input" readonly name="tanggal_selesai" value="{END_DATE}" readonly /><a href="javascript:void(0)" onclick="if(self.gfPop)gfPop.fPopCalendar(document.form_agenda.tanggal_selesai,null,null);">...</a>-->
            </td>
         </tr>
         <tr>
            <th width="20%">Tempat</th>
            <td><input type="text" name="tempat" value="{LOCATION}" size="50" /></td>
         </tr>
         <tr>
            <th>Keterangan</th>
            <td><textarea cols="65" rows="15" name="article" id="isiAgenda">{ARTICLE}</textarea></td>
         </tr>
         <!-- <tr>
            <th>URL</th>
            <td><input type="text" name="url" value="{URL}" size="40" /></td>
         </tr> -->
         <tr>
            <th>Photo</th>
            <td>
               <input type="file" name="foto" />
               <!-- patTemplate:tmpl name="foto" visibility="hidden" -->
               <br />Photo lama:
               <br /><div style="width: 150px;"><img src="{FOTO_PATH}" alt="{FOTO}" title="{FOTO}" class="img-responsive" /></div>
               <!-- /patTemplate:tmpl -->
               <br />Ukuran file maksimum adalah 1Mb jenis pixel format JPG, atau PNG
            </td>
         </tr>
         <tr>
            <th>Judul Foto</th>
            <td><input type="text" name="caption" value="{CAPTION}" size="40" /></td>
         </tr>
         <tr>
            <th>Status</th>
            <td><input type="checkbox" name="status" value="1" size="40" {CHECKED} /> Sticky</td>
         </tr>
         <tr class="background-blue-light">
			<td></td>
            <td>
               <input type="hidden" name="dataId" value="{ID}" />
               <input type="hidden" name="id" value="{ID}" />
               <div class="btn-group">
                  <input type="submit" name="action" value="Simpan" class="btn btn-info btn-xs"/>
                  <a href="<!-- patTemplate:gtfwgeturl module="manajemen_agenda" sub="AdminListAgenda" action="view" type="html" params=""  / -->" class="xhr dest_subcontent-element btn btn-warning btn-xs">Batal</a>
               </div>
            </td>
         </tr>
        </table>
    </div>
   </form>

</div>

<script>
    var TE_isiAgenda = standardTinyEditor('isiAgenda');
</script>
<!-- /patTemplate:tmpl -->