<!-- patTemplate:tmpl name="content" -->
<div class="background-blue padding-10 text-big">Kebijakan dan Peraturan Unit Kerja</div>
<div class="padding-10">

<!-- patTemplate:tmpl name="message" type="simpleCondition" requiredvars="MESSAGE" -->
<div class="row">
    <div class="col-md-12">
		<div class="alert alert-warning">
        <p>{MESSAGE}</p>
		</div>
    </div>
</div>
<!-- /patTemplate:tmpl -->

   <form name="form_policy" id="form_policy" action="<!-- patTemplate:gtfwgeturl module="manajemen_policy" sub="{SUB}" action="view" type="html" / -->" method="post" autocomplete="off" enctype="multipart/form-data">
    <div class="table-responsive">
        <table class="table">
         <tr class="background-blue-light">
			<th valign="center" nowrap="nowrap" colspan="2">Data</th>
		 </tr>
		 <tr>
            <th width="20%">Unit Kerja</th>
            <td>
                <div class="input-group col-sm-5">
                    <!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="satker"  / --> *
                </div>
            </td>
         </tr>
		 <tr>
            <th>Deskripsi</th>
            <td><textarea cols="50" rows="5" name="deskripsi" id="isiDeskripsi">{SATKERPOLICYDESKRIPSI}</textarea></td>
         </tr>
         <tr>
            <th>Tanggal</th>
            <td>
               <!-- patTemplate:gtfwrendermodule module="tanggal" submodule="Tanggal" action="view" name="tgl_satker_policy" / -->
               <!--<input type="text" class="input" readonly name="tanggal_policy" value="{DATE}" readonly />
               <a href="javascript:void(0)" onclick="if(self.gfPop)gfPop.fPopCalendar(document.form_policy.tanggal_policy,null,null);">...</a>-->
            </td>
         </tr>
         <tr>
            <th>Status</th>
            <td><input type="checkbox" name="status" value="Aktif" size="40" {CHECKED} /> Aktif</td>
         </tr>
         <tr>
            <th></th>
			<td>
               <input type="hidden" name="id" value="{SATKERPOLICYID}" />
               <!-- <div style="display:none"><input name="actionsave" id="actionsave" value="Save" class="buttonSubmit" type="submit" ></div> -->
               <div class="btn-group">
                  <input type="submit" name="actionsave" value="Simpan" class="btn btn-info btn-xs" onclick="cekIsiForm()" />
                  <a href="{URL_BACK}" class="xhr dest_subcontent-element btn btn-warning btn-xs">Batal</a>
               </div>
            </td>
         </tr>
        </table>
    </div>
   </form>
   
</div>

<script language="javascript" type="text/javascript">
function cekIsiForm(){
    
    var satker=document.getElementById('satker').selectedIndex;
    
    if (satker==0) {
        alert('Unit Kerja Harus Dipilih');
        document.form_policy.satker.focus();
        return false;
    }
    
    document.form_policy.actionsave.click();  
  }
  
    var TE_isiDeskripsi = standardTinyEditor('isiDeskripsi');
</script>
<!-- /patTemplate:tmpl -->