<!-- patTemplate:tmpl name="content" -->
<script languange="javascript">
  var xpopup;
  function cariPegawai(temp,xurl) {
    document.getElementById('temp').value=temp;
    b=xurl;
    showPopup(b,'Employee List',500, 500);
  }

  function konfirmasi(){
    var atasan_pejabat=document.getElementById('atasan_pejabat_id').value;
    var pejabat=document.getElementById('pejabat_id').value;
    if (pejabat==''){
      alert('Pejabat Penilai Harus Dipilih');
      return false;
    }else if (atasan_pejabat==''){
      alert('Atasan Pejabat Penilai Harus Dipilih');
      return false;
    }else{
      document.frmInput.btnsimpan.click();
    }
  }
</script>
<div id="TOP"><h1>Daftar Penilaian Pelaksanaan Pekerjaan (DP3)</h1></div><br>
<!-- patTemplate:gtfwrendermodule module="profile" submodule="profilebox" action="view" name="profile"  / -->
<table class="table-edit" width="100%" >
	<tr class="subhead">
		<th colspan="2">
			<div class="toolbar"> 
				<a href="javascript:Tab('LISTDATA','FORMDATA');"><img src="images/button-aturan.gif" title="Lihat List Data">Lihat List Data</a>
				<a href="javascript:Tab('FORMDATA','LISTDATA');"><img src="images/button-add.gif" title="Form Data">Tambah Data</a>
				<a class="xhr dest_subcontent-element " href="{URL_BACK}" title="Pilih Pegawai" tabindex="2"><img src="images/button-back.gif" alt=""> Pilih Pegawai</a> 
			</div>
		</th>
	</tr>
</table>
<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<script language="javascript" type="text/javascript">
function Tutup(){
	document.getElementById('warning_box').style.display='none';
}
</script>
<div class="{CLASS_PESAN}" id="warning_box">
   {ISI_PESAN} <a href="javascript:Tutup();">&nbsp;[Tutup Pesan]</a>
</div>
<!-- /patTemplate:tmpl --> 
<div id="FORMDATA" style="display:none">
<br/>
<form method="POST" name="frmInput" action="{URL_ACTION}" class="xhr_form std_form" id="frmInput" enctype="multipart/form-data" >
   <input type="hidden" name="temp" id="temp" >
   <table class="table-edit" width="100%" >
      <tr class="subhead">
      <th>{LABEL_ACTION} {LABEL_INPUT}</th>
		  <td align="right">
          </td>
      </tr>
      <tr class="subhead">
		    <th>Pejabat Penilai</th>
		    <td align="right">
            <div class="toolbar"> 
               <a href="javascript:void(0);" onclick="cariPegawai('pejabat','{URL_CARI}')"><img src="images/detil.gif" border="0">Cari</a> 
            </div>
        </td>
	    </tr>
	    <tr>
        <th>NIP</th>
  	    <td>
            <input type="hidden" name="pejabat_id" id="pejabat_id" value="{INPUT_PEJABAT_ID}">
            <div id="pejabat_nip">{INPUT_PEJABAT_NIP}</div>
        </td>
      </tr>
      <tr><th>Nama</th><td><div id="pejabat_nama">{INPUT_PEJABAT_NAMA}</div></td></tr>
      <tr><th>Pangkat dan Golongan Ruang</th><td><div id="pejabat_pangkat">{INPUT_PEJABAT_PANGKAT}</div></td></tr>
      <tr><th>Jabatan</th><td><div id="pejabat_jabatan">{INPUT_PEJABAT_JABATAN}</div></td></tr>
      <tr><th>Unit Kerja</th><td><div id="pejabat_unit_kerja">{INPUT_PEJABAT_UNIT_KERJA}</div></td></tr>
	    <tr class="subhead">
		    <th>Atasan Pejabat Penilai</th>
		    <td align="right">
            <div class="toolbar"> 
               <a href="javascript:void(0);" onclick="cariPegawai('atasan_pejabat','{URL_CARI}')"><img src="images/detil.gif" border="0">Cari</a> 
            </div>
        </td>
	    </tr>
	    <tr>
        <th>NIP</th>
  	    <td>
            <input type="hidden" name="atasan_pejabat_id" id="atasan_pejabat_id" value="{INPUT_ATASAN_PEJABAT_ID}">
            <div id="atasan_pejabat_nip">{INPUT_ATASAN_PEJABAT_NIP}</div>
        </td>
      </tr>
      <tr><th>Nama</th><td><div id="atasan_pejabat_nama">{INPUT_ATASAN_PEJABAT_NAMA}</div></td></tr>
      <tr><th>Pangkat dan Golongan Ruang</th><td><div id="atasan_pejabat_pangkat">{INPUT_ATASAN_PEJABAT_PANGKAT}</div></td></tr>
      <tr><th>Jabatan</th><td><div id="atasan_pejabat_jabatan">{INPUT_ATASAN_PEJABAT_JABATAN}</div></td></tr>
      <tr><th>Unit Kerja</th><td><div id="atasan_pejabat_unit_kerja">{INPUT_ATASAN_PEJABAT_UNIT_KERJA}</div></td></tr>
      <tr class="subhead">
		    <th colspan="2">Yang Dinilai</th>
	    </tr>
	    <tr>
        <th>Nama</th>
  	    <td>{NAMA}</td>
      </tr>
      <tr>
        <th>NIP</th>
  	    <td>{INPUT_NIP}</td>
      </tr>
      <tr>
        <th>Nomor Seri Kartu Pegawai</th>
  	    <td>{INPUT_NO_SERI}</td>
      </tr>
      <tr>
        <th>Tanggal Lahir</th>
  	    <td>{INPUT_TANGGAL_LAHIR}</td>
      </tr>
      <tr>
        <th>Jenis Kelamin</th>
  	    <td>{INPUT_JENIS_KELAMIN}</td>
      </tr>
      <tr>
        <th>Pendidikan Tertinggi</th>
  	    <td>{INPUT_PENDIDIKAN}</td>
      </tr>
      <tr>
        <th>Pangkat dan Golongan/TMT</th>
  	    <td>{INPUT_PANGKAT_GOLONGAN}</td>
      </tr>
      <tr>
        <th>Jabatan Fungsional/TMT</th>
  	    <td>{INPUT_JABATAN_FUNGSIONAL}</td>
      </tr>
     <tr>
         <th >Unit Kerja</th>
         <td>
           {INPUT_UNIT_KERJA_LABEL}
         </td>
     </tr>  
     <tr>
         <th >Periode Awal Penilaian </th>
         <td>
           <!-- patTemplate:gtfwrendermodule module="tanggal" submodule="Tanggal" action="view" name="mulai" / -->
         </td>
      </tr>
      <tr>
         <th >Periode Akhir Penilaian </th>
         <td>
           <!-- patTemplate:gtfwrendermodule module="tanggal" submodule="Tanggal" action="view" name="selesai" / -->
         </td>
      </tr>
	   <tr class="subhead">
		  <th colspan="2">Penilaian</th>
		 </tr>
		 <tr>
         <th >Kesetiaan</th>
         <td>
           <input type="text" name="kesetiaan" id="kesetiaan" value="{INPUT_KESETIAAN}"  size="15" />
         </td>
     </tr>
     <tr>
         <th >Prestasi Kerja</th>
         <td>
           <input type="text" name="prestasi_kerja" id="prestasi_kerja" value="{INPUT_PRESTASI_KERJA}"  size="15" />
         </td>
     </tr>
     <tr>
         <th >Tanggung Jawab</th>
         <td>
           <input type="text" name="tanggung_jawab" id="tanggung_jawab" value="{INPUT_TANGGUNG_JAWAB}"  size="15" />
         </td>
     </tr>  
     <tr>
         <th >Keataatan</th>
         <td>
           <input type="text" name="ketaatan" id="ketaatan" value="{INPUT_KETAATAN}"  size="15" />
         </td>
     </tr>
     <tr>
         <th >Kejujuran</th>
         <td>
           <input type="text" name="kejujuran" id="kejujuran" value="{INPUT_KEJUJURAN}"  size="15" />
         </td>
     </tr>
     <tr>
         <th >Kerjasama</th>
         <td>
           <input type="text" name="kerjasama" id="kerjasama" value="{INPUT_KERJASAMA}"  size="15" />
         </td>
     </tr>
     <tr>
         <th >Prakarsa</th>
         <td>
           <input type="text" name="prakarsa" id="prakarsa" value="{INPUT_PRAKARSA}"  size="15" />
         </td>
     </tr>
     <tr>
         <th >Kepemimpinan</th>
         <td>
           <input type="text" name="kepemimpinan" id="kepemimpinan" value="{INPUT_KEPEMIMPINAN}"  size="15" />
         </td>
     </tr>
     <tr>
         <th >Keberatan dari PNS yang dinilai</th>
         <td>
           <textarea name="keberatan" id="keberatan" cols="50" rows="5">{INPUT_KEBERATAN}</textarea>
         </td>
     </tr>
     <tr>
         <th >Tanggapan Pejabat Penilai Atas Keberatan</th>
         <td>
           <textarea name="tanggapan_keberatan" id="tanggapan_keberatan" cols="50" rows="5">{INPUT_TANGGAPAN_KEBERATAN}</textarea>
         </td>
     </tr>
     <tr>
         <th >Keputusan Atasan Pejabat Penilai</th>
         <td>
           <textarea name="keputusan_atasan" id="keputusan_atasan" cols="50" rows="5">{INPUT_KEPUTUSAN_ATASAN}</textarea>
         </td>
     </tr>
     <tr>
         <th >Lain-lain</th>
         <td>
           <textarea name="lain_lain" id="lain_lain" cols="50" rows="5">{INPUT_LAIN_LAIN}</textarea>
         </td>
     </tr>
     <tr>
         <th >Tanggal Dibuat</th>
         <td>
           <!-- patTemplate:gtfwrendermodule module="tanggal" submodule="Tanggal" action="view" name="tgl_buat" / -->
         </td>
      </tr>
      <tr>
         <th >Tanggal Diterima PNS </th>
         <td>
           <!-- patTemplate:gtfwrendermodule module="tanggal" submodule="Tanggal" action="view" name="tgl_pns" / -->
         </td>
      </tr>
      <tr>
         <th>Tanggal Diterima Atasan Pejabat Penilai </th>
         <td>
           <!-- patTemplate:gtfwrendermodule module="tanggal" submodule="Tanggal" action="view" name="tgl_diterima" / -->
         </td>
      </tr>
	 <tr>
         <th >Attachment </th>
         <td>
           <input type="file" name="file" size="40"><br />
				File sebelumnya: <a href="{INPUT_LINK_DOWNLOAD}">{INPUT_UPLOAD}</a>
        <input name="upload" type="hidden" value="{INPUT_UPLOAD}" />
         </td>
      </tr>
     <tr class="buttons">
         <th>&nbsp;</th>
         <td>
            <input type="hidden" name="dataId" value="{INPUT_ID}"  size="15" />
            <input type="hidden" name="pegId" value="{INPUT_PEGID}"  size="15" />
            <div style="display:none"><input name="btnsimpan" value="{LABEL_ACTION} " class="buttonSubmit" type="submit"></div>
            <input name="btnsimpanbohong" value="{LABEL_ACTION} " class="buttonSubmit" type="button" onclick="konfirmasi();">
            <input name="btnbatal" value="{BUTTON}" class="buttonSubmit" type="{TYPE}">
         </td>
      </tr>
   </table>
</form>
<br />
<div class="petunjuk-area">
   <h4>Petunjuk:</h4>
   <ul>
      <li>Tanda * menunjukkan bahwa field tersebut harus diisi. </li>
   </ul>
</div></div>
<div id="LISTDATA" style="display:">
<h1>History Mutasi DP3</h1><br>
<table class="table-common" width="700px">
   <tr>
      <th width="5px" >No</th>
      <th>pejabat Penilai</th>
  	  <th>Atasan Pejabat Penilai</th>
  	  <th>Yang Dinilai</th>
  	  <th>Periode Penilaian Awal</th>
  	  <th>Periode Penilaian Akhir</th>
  	  <th>Tanggal Penilaian</th>
  	  <th>Tanggal Diterima Pejabat Penilai</th>
      <th width="130px">Action</th>
   </tr>
   <!-- patTemplate:tmpl name="data" type="condition" conditionvar="DATA_EMPTY" -->
      <!-- patTemplate:sub condition="YES" -->
        <tr><td colspan="9" align="center"><em>-- Data not found --</em></td></tr>
      <!-- /patTemplate:sub -->
      <!-- patTemplate:sub condition="NO" -->
         <!-- patTemplate:tmpl name="data_item" -->
         <tr class="{DP3_CLASS_NAME}">
            <td align="center">{DP3_NUMBER}</td>
            <td align="center">{DP3_PEJABAT_PENILAI}</td>
            <td align="left">{DP3_ATASAN_PEJABAT_PENILAI}</td>
        	  <td align="left">{DP3_YANG_DINILAI}</td>
        	  <td align="left">{DP3_MULAI}</td>
        	  <td align="left">{DP3_SELESAI}</td>
        	  <td align="left">{DP3_TANGGAL_PENILAIAN}</td>
        	  <td align="left">{DP3_TANGGAL_DITERIMA}</td>
            <td class="links">
               <a class="xhr dest_subcontent-element" href="{DP3_URL_EDIT}" title="Edit"><img src="images/button-edit.gif" alt="Edit"/></a>
               <a class="xhr dest_subcontent-element" href="{DP3_URL_DELETE}" title="Delete"><img src="images/button-delete.gif" alt="Delete"/></a>
			   <a class="xhr dest_subcontent-element" href="{DP3_URL_DETAIL}" title="Detail"><img src="images/button-detail.gif" alt="Detail"/></a>
			   <div style="display:{DP3_VIEW_DOWNLOAD}"><a href="{DP3_LINK_DOWNLOAD_SK}" title="SK" target="_blank"><img src="images/detil.gif" alt="SK"/></a></div>
			   <a href="{DP3_URL_RTF}" title="Download RTF" target="_Blank"><img src="images/button-simpan.gif" alt="Download Rtf"/></a>
            </td>
         </tr>
         <!-- /patTemplate:tmpl -->
      <!-- /patTemplate:sub -->
   <!-- /patTemplate:tmpl -->
</table>
<div class="petunjuk-area">
   <h4>Petunjuk:</h4>
   <ul>
      <li>Gunakan tombol <img src="images/button-edit.gif" alt="Ubah"/> untuk mengubah data. </li>
      <li>Gunakan tombol <img src="images/button-delete.gif" alt="Delete"/> untuk menghapus data. </li>
	  <li>Gunakan tombol <img src="images/button-detail.gif" alt="Detail"/> untuk melihat detail data. </li>
	  <li>Gunakan tombol <img src="images/detil.gif" alt="Download SK"/> untuk mendownload File Attachment (jika ada). </li>
	  <li><a href="#TOP" id="link-top">Klik Disini</a> untuk kembali ke atas. </li>
   </ul>
</div></div>
<script language="javascript" type="text/javascript">
function Tab(aktif,nonaktif){
	document.getElementById(aktif).style.display='';
	document.getElementById(nonaktif).style.display='none';
}

function CekAksi(){
    var dataId2='0'+'{INPUT_ID}';
	if (dataId2=='0') {
		Tab('LISTDATA','FORMDATA');
	}else{
		Tab('FORMDATA','LISTDATA');
	}
}
CekAksi();
</script>
<!-- /patTemplate:tmpl -->
