<!-- patTemplate:tmpl name="content" -->
<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<div class="{CLASS_PESAN}">
   {ISI_PESAN}
</div>
<br />
<!-- /patTemplate:tmpl -->
<div class="mainContent-fp-element-full">
	<div class="mainContent-fp-element-full-head"><h2>SEMINAR</h2></div>
	<div class="mainContent-fp-element-full-body">
<!-- patTemplate:tmpl name="data" type="condition" conditionvar="DATA_EMPTY" -->
      <!-- patTemplate:sub condition="YES" -->
    <h1>Data tidak ditemukan</h1>
      <!-- /patTemplate:sub -->
      <!-- patTemplate:sub condition="NO" -->
         <!-- patTemplate:tmpl name="data_item" -->

   <table class="table-details" width="100%" >
      <tr class="subhead">
         <th colspan="2">DATA</th>
      </tr>
      
	  <tr>
         <th >Nama Seminar</th>
         <td>
           {DETAIL_NAMA}
         </td>
      </tr>
	  <tr>
         <th >Tingkat</th>
         <td>
           {DETAIL_TINGKATLABEL}
         </td>
      </tr>
      <tr>
         <th >Tanggal </th>
         <td>
           {DETAIL_MULAI}
         </td>
      </tr>
	  
       <tr>
         <th >Peranan</th>
         <td>
           {DETAIL_PERANAN}
         </td>
      </tr>
      
       <tr>
         <th >Tempat</th>
         <td>
           {DETAIL_TEMPAT}
         </td>
      </tr>
      <tr>
         <th >Penyelenggara</th>
         <td>
           {DETAIL_PENYELENGGARA}
         </td>
      </tr>
	  <tr>
         <th >Dokumen</th>
         <td>
           <a href="{DETAIL_LINK_DOWNLOAD_SK}" target="_blank">{DETAIL_UPLOAD}</a>
         </td>
      </tr>     
   </table>

<!-- /patTemplate:tmpl -->
      <!-- /patTemplate:sub -->
   <!-- /patTemplate:tmpl -->
<div class="toolbar"> 
               &nbsp;&nbsp;&nbsp;&nbsp;<a class="xhr dest_subcontent-element " href="{URL_BACK}" title="Kembali" tabindex="2">Kembali</a> 
            </div>

</div></div>
<!-- /patTemplate:tmpl -->