<!-- patTemplate:tmpl name="content" -->
<div class="background-blue padding-10 text-big">Manajemen Pengguna</div>
<div class="padding-10">

<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<div class="row">
    <div class="col-md-12">
        <div class="notebox-alert">
            {ISI_PESAN}
        </div>
    </div>
</div>
<!-- /patTemplate:tmpl -->

<form method="POST" class="xhr_form std_form" action="{URL_ACTION}" id="filterbox">
    <div class="table-responsive">
      <table class="table">
         <tr class="background-blue-light">
            <th colspan="2"> Ubah Password </th>
         </tr>
         
         <tr>
            <th>Password Baru  *</th>
            <td><input type="password" name="password" size="25" maxlength="32" />
            <input type="hidden" name="usr" value="{USER_ID}" size="30" />
          <tr>
            <th>Konfirmasi Password Baru  *</th>
            <td><input type="password" name="retype_password"  size="25" maxlength="32" /></td>
         </tr>
            
         </tr>
         <tr class="background-blue-light">
            <th></th>
            <td>
                <div class="btn-group">
                    <input type="submit" name="btnsimpan" value="Save" class="btn btn-info btn-xs"/>
                    <input type="submit" name="btnbalik" value="Cancel" class="btn btn-warning btn-xs"/>
                </div>
            </td>
         </tr>
      </table>
    </div>
</form>
   
   <div class="petunjuk-area">
      <h4>Petunjuk:</h4>
      <ul>
         <li>Kolom Konfimasi Password Baru harus diisi dengan isi yang sama dengan kolom Password Baru</li>
      </ul>
   </div>
</div>
<!-- /patTemplate:tmpl -->
