<!-- patTemplate:tmpl name="body" -->

<div class="navbar navbar-inverse navbar-fixed-top navbar-main" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" rel="home" href="">
				<!-- patTemplate:gtfwgetconfig config="application" name="application_name" / -->
			</a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse">
			  <!-- patTemplate:gtfwrendermodule name="menu" module="menu" submodule="menu" action="view" type="html" params="" / -->
		</div>
	</div>
</div>

<div class="page-wrapper">
    <div class="main-slider">
		 <!-- patTemplatea:gtfwrendermodule name="header" module="header" submodule="header" action="view" type="html" params="" / -->
	 </div>
	 <div id="subcontent-element" class="subcontent-element container-fluid content">
			<!-- patTemplate:link src="content" / -->
    </div>
    <div class="container hidden">
        <div class="row">
            <div class="col-md-4">
                <!-- patTemplate:gtfwrendermodule name="berita_list" module="berita" submodule="sideBeritaList" action="view" type="html" params="" / -->
            </div>
            <div class="col-md-4">
                <!-- patTemplate:gtfwrendermodule name="agenda" module="agenda" submodule="sideAgendaList" action="view" type="html" params="" / -->
            </div>
            <div class="col-md-4">
                <address>
                    <strong><!-- patTemplate:gtfwgetconfig config="application" name="company_name" / --></strong><br/>
                    <!-- patTemplate:gtfwgetconfig config="application" name="company_address" / -->
                </address>
            </div>
        </div>
    </div>

    <div id="loading-box-active" class="busy-indicator" style="visibility:hidden">
        <div class="animation-icon" >
        </div>
    </div>

    <div class="footer">
		<div class="container">
			<div class="pull-left">
				<p>
					<!-- patTemplate:gtfwgetconfig config="application" name="application_name" / --> - <!-- patTemplate:gtfwgetconfig config="application" name="company_name" / --> <!-- patTemplate:gtfwgetconfig config="application" name="company_city" / --> &copy; <!-- patTemplate:gtfwgetconfig config="application" name="tahun" / -->
				</p>
			</div>
		</div>
	</div>
</div>
<!-- /patTemplate:tmpl -->
