<!-- patTemplate:tmpl name="content" -->
<div id="TOP"><h1>Riwayat Pengalaman Kerja Pegawai</h1></div><br>
<!-- patTemplate:gtfwrendermodule module="profile" submodule="profilebox" action="view" name="profile"  / -->
<table class="table-edit" width="100%" >
	<tr class="subhead">
		<th colspan="2">
			<div class="toolbar"> 
				<a href="javascript:Tab('LISTDATA','FORMDATA');"><img src="images/button-aturan.gif" title="Lihat List Data">Lihat List Data</a>
				<a href="javascript:Tab('FORMDATA','LISTDATA');"><img src="images/button-add.gif" title="Form Data">Tambah Data</a>
				<a class="xhr dest_subcontent-element " href="{URL_BACK}" title="Pilih Pegawai" tabindex="2"><img src="images/button-back.gif" alt=""> Pilih Pegawai</a> 
			</div>
		</th>
	</tr>
</table>
<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<script language="javascript" type="text/javascript">
function Tutup(){
	document.getElementById('warning_box').style.display='none';
}
</script>
<div class="{CLASS_PESAN}" id="warning_box">
   {ISI_PESAN} <a href="javascript:Tutup();">&nbsp;[Tutup Pesan]</a>
</div>
<!-- /patTemplate:tmpl --> 
<div id="FORMDATA" style="display:none">
<br/>
<form method="POST" name="frmInput" action="{URL_ACTION}" class="xhr_form std_form" id="frmInput" enctype="multipart/form-data">
   <table class="table-edit" width="100%" >
      <tr class="subhead">
         <th>{LABEL_ACTION} {LABEL_INPUT}</th>
		 <td align="right">
          </td>
      </tr>
      
	  <tr>
         <th >Nama Perusahaan</th>
         <td>
         <input type="text" name="nama" value="{INPUT_NAMA}"  size="50" />*
		   <input name="pegKode" type="hidden" value="{ID}" />
		   <input name="dataKode" type="hidden" value="{INPUT_ID}" />
         </td>
      </tr>
      <tr>
         <th>Jabatan</th>
         <td>
           <input type="text" name="jabatan" value="{INPUT_JABATAN}"  size="30" />*
         </td>
      </tr>
	  <tr>
         <th >Tanggung Jawab</th>
         <td>
           <textarea name="tanggung_jawab" id="keputusan_atasan" cols="50" rows="5">{INPUT_TANGGUNGJAWAB}</textarea>*
         </td>
     </tr>
      <tr>
         <th >Tahun Mulai</th>
         <td>
           <input type="text" name="mulai" value="{INPUT_MULAI}"  size="5" maxlength="4" />
         </td>
      </tr>
       <tr>
         <th >Tahun Selesai</th>
         <td>
          <input type="text" name="selesai" value="{INPUT_SELESAI}"  size="5" maxlength="4" />
          <i>Biarkan kosong jika masih aktif bekerja</i>
         </td>
      </tr>
	  <tr>
        <th>Status</th>
        <td>
          <!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="tipe"  / --> *
        </td>
      </tr>
	  <tr>
         <th >Upload </th>
         <td>
           <input type="file" name="file" size="40"><br />
				File sebelumnya: <a href="{INPUT_LINK_DOWNLOAD}">{INPUT_UPLOAD}</a>
        <input name="upload" type="hidden" value="{INPUT_UPLOAD}" />
         </td>
      </tr>
      <tr class="buttons">
         <th>&nbsp;</th>
         <td>
            <input name="btnsimpan" value="{LABEL_ACTION} " class="buttonSubmit" type="submit">
            <input name="btnbatal" value="{BUTTON}" class="buttonSubmit" type="{TYPE}">
         </td>
      </tr>
   </table>
</form>
<br />
<div class="petunjuk-area">
   <h4>Petunjuk:</h4>
   <ul>
      <li>Tanda * menunjukkan bahwa field tersebut harus diisi. </li>
   </ul>
</div></div>
<div id="LISTDATA" style="display:">
<h1>History Riwayat Pengalaman Kerja</h1><br>
<table class="table-common" width="100%">
   <tr>
      <th width="5px" >No</th>
      <th >Nama Perusahaan</th>
      <th >Jabatan </th>
	  <th >tanggung Jawab </th>
      <th >Tahun Mulai</th>
      <th >Tahun Selesai</th>
	  <th >Status</th>
      <th width="95px" >Aksi</th>
   </tr>
   <!-- patTemplate:tmpl name="data" type="condition" conditionvar="DATA_EMPTY" -->
      <!-- patTemplate:sub condition="YES" -->
   <tr><td colspan="8" align="center"><em>-- Data tidak ditemukan --</em></td></tr>
      <!-- /patTemplate:sub -->
      <!-- patTemplate:sub condition="NO" -->
         <!-- patTemplate:tmpl name="data_item" -->
   <tr class="{ORG_CLASS_NAME}">
      <td align="center" width="5%">{ORG_NUMBER}</td>
      <td align="left">{ORG_NAMA}</td>
	  <td align="left">{ORG_JABATAN}</td>
	  <td align="left">{ORG_TANGGUNGJAWAB}</td>
	  <td align="center">{ORG_MULAI}</td>
	  <td align="center">{ORG_SELESAI}</td>
	  <td align="center">{ORG_STATUS}</td>
      <td class="links">
	     <script>verifyShow('tombol_{ORG_NUMBER}','&jenis=1&params=sdm_pekerjaan:{ORG_ID}');</script>
		 <div id="tombol_{ORG_NUMBER}">
         <a class="xhr dest_subcontent-element" href="{ORG_URL_EDIT}" title="Ubah"><img src="images/button-edit.gif" alt="Ubah"/></a>
         <a class="xhr dest_subcontent-element" href="{ORG_URL_DELETE}" title="Hapus"><img src="images/button-delete.gif" alt="Hapus"/></a>
		 </div>
		 <div style="display:{ORG_VIEW_DOWNLOAD}"><a href="{ORG_LINK_DOWNLOAD_SK}" title="Attachment" target="_blank"><img src="images/detil.gif" alt="Attachment"/></a></div>
      </td>
   </tr>
         <!-- /patTemplate:tmpl -->
      <!-- /patTemplate:sub -->
   <!-- /patTemplate:tmpl -->
</table><div class="petunjuk-area">
   <h4>Petunjuk:</h4>
   <ul>
      <li>Gunakan tombol <img src="images/button-edit.gif" alt="Ubah"/> untuk mengubah data. </li>
      <li>Gunakan tombol <img src="images/button-delete.gif" alt="Delete"/> untuk menghapus data. </li>
	  <li>Gunakan tombol <img src="images/detil.gif" alt="Download SK"/> untuk mendownload Attachment (jika ada). </li>
	  <li><a href="#TOP" id="link-top">Klik Disini</a> untuk kembali ke atas. </li>
   </ul>
</div></div>
<script language="javascript" type="text/javascript">
function konfirmasi() {
	document.frmInput.btnsimpan.click();
}

function Tab(aktif,nonaktif){
	document.getElementById(aktif).style.display='';
	document.getElementById(nonaktif).style.display='none';
}

function CekAksi(){
    var dataId2='0'+'{INPUT_ID}';
	if (dataId2=='0') {
		Tab('LISTDATA','FORMDATA');
	}else{
		Tab('FORMDATA','LISTDATA');
	}
}
CekAksi();
</script>

<!-- /patTemplate:tmpl -->