<!-- patTemplate:tmpl name="content" -->
<script languange="javascript">
  var xpopup;
  function lihatDetail(xurl) {
		b=xurl;
		showPopup(b,'Detail Pengajuan',700, 500);
  }
</script>
<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<div class="{CLASS_PESAN}">
   {ISI_PESAN}
</div>
<br />
<!-- /patTemplate:tmpl -->
<div><h1>DETAIL PENETAPAN ANGKA KREDIT</h1></div><br>
<table class="table-edit" width="100%" >
	<tr class="subhead">
		<th colspan="3"><b>Informasi Pribadi</b></th>
	</tr>
	<tr>
		<td rowspan="4" width="60px"><img src="upload_file/photo/{FOTO2}" width="100" height="100"></td>
   </tr>
   <tr>
      <td>Nama</td>
	  <td>{NAMA}</td>
   </tr>
   <tr>
      <td>NIP</td>
	  <td>{NIP}</td>
   </tr>
   <tr>
     
      <td valign="top">Alamat</td>
	  <td valign="top">{ALAMAT}</td>
   </tr>
   <tr>
      
   </tr>
</table>

   <table class="table-edit" width="100%" >
      <tr class="subhead">
      <th>Detail Mutasi Penetapan Angka Kredit</th>
		      <td align="right">
            <div class="toolbar"> 
               <a class="xhr dest_subcontent-element " href="{URL_BACK}" title="BAck to the current page" tabindex="2">
               <img src="images/button-back.gif" alt="">Kembali</a> 
            </div>
          </td>
      </tr>
      <tr>
         <th >Nomor PAK</th>
         <td>
           {INPUT_NOPAK}
         </td>
     </tr>
     <tr>
         <th >Tanggal Penetapan </th>
         <td>
           {INPUT_TANGGAL_PENETAPAN}
         </td>
     </tr>
     <tr>
         <th >Pejabat </th>
         <td>
           {INPUT_PEJABAT}
         </td>
     </tr>
	 <tr>
         <th >Tanggal Pengajuan </th>
         <td>
           {INPUT_TANGGAL_PENGAJUAN}
         </td>
     </tr>
     <tr>
         <th >Tanggal Awal Penilaian </th>
         <td>
           {INPUT_MULAI}
         </td>
      </tr>
      <tr>
         <th >Tanggal Akhir Penilaian </th>
         <td>
           {INPUT_SELESAI}
         </td>
      </tr>
      <tr>
        <th>NIP</th>
  	    <td>{INPUT_NIP}</td>
      </tr>
      <tr>
        <th>Nomor Seri Kartu Pegawai</th>
  	    <td>{INPUT_NO_SERI}</td>
      </tr>
      <tr>
        <th>Tanggal Lahir</th>
  	    <td>{INPUT_TANGGAL_LAHIR}</td>
      </tr>
      <tr>
        <th>Jenis Kelamin</th>
  	    <td>{INPUT_JENIS_KELAMIN}</td>
      </tr>
      <tr>
        <th>Pendidikan Tertinggi</th>
  	    <td>{INPUT_PENDIDIKAN}</td>
      </tr>
      <tr>
        <th>Pangkat dan Golongan/TMT</th>
  	    <td>{INPUT_PANGKAT_GOLONGAN}</td>
      </tr>
      <tr>
        <th>Jabatan Fungsional/TMT</th>
  	    <td>{INPUT_JABATAN_FUNGSIONAL}</td>
      </tr>
     <tr>
         <th >Unit Kerja</th>
         <td>
           {INPUT_UNIT_KERJA_LABEL}
         </td>
     </tr>  
     <tr>
         <th>Dapat diangkat dlm Jabatan sebagai</th>
         <td>
           {INPUT_JABATAN}
         </td>
     </tr>  
	   <tr class="subhead">
		  <th>Penetapan Angka Kredit</th>
			<td>
				<div class="toolbar"> 
					<a href="javascript:void(0);" onclick="lihatDetail('{INPUT_URL_DETAIL}')"><img src="images/detil.gif" border="0">Lihat Detail</a> 
				</div>
			</td>
	   </tr>
	   <tr><td colspan="2">
	     <table class="table-common" width="100%">
         <tr>
            <th width="60%">Penetapan Angka Kredit</th>
        	  <th colspan="4"><center>Jumlah</center></th>
         </tr>
         <tr>
              <th>Unsur Utama</th>
			  <th>Lama</th>
        	  <th>Baru</th>
        	  <th>Jumlah</th>
         </tr>
         <!-- patTemplate:tmpl name="unsur_utama" type="condition" conditionvar="DATA_EMPTY" -->
            <!-- patTemplate:sub condition="YES" -->
              <tr><td colspan="4" align="center"><em>-- Unsur Utama belum ditetapkan --</em></td></tr>
            <!-- /patTemplate:sub -->
            <!-- patTemplate:sub condition="NO" -->
               <!-- patTemplate:tmpl name="unsur_utama_item" -->
                 <tr>
                    <td align="left" width="15%">{NAMA}</td>
                    <td align="right">{LAMA}</td>
                    <td align="right">{BARU}</td>
                    <td align="right">{JUMLAH}</td>
                 </tr>
               <!-- /patTemplate:tmpl -->
            <!-- /patTemplate:sub -->
         <!-- /patTemplate:tmpl -->
          <tr class="table-common-even">
              <td align="right" width="15%">Jumlah Unsur Utama</td>
              <td align="right">{UTAMA_LAMA}</td>
              <td align="right">{UTAMA_BARU}</td>
              <td align="right">{UTAMA_JUMLAH}</td>
          </tr>
          <tr>
				<th>Unsur Penunjang</th>
				<th>Lama</th>
				<th>Baru</th>
				<th>Jumlah</th>
         </tr>
         <!-- patTemplate:tmpl name="unsur_penunjang" type="condition" conditionvar="DATA_EMPTY" -->
            <!-- patTemplate:sub condition="YES" -->
              <tr><td colspan="5" align="center"><em>-- Unsur Penunjang belum ditetapkan --</em></td></tr>
            <!-- /patTemplate:sub -->
            <!-- patTemplate:sub condition="NO" -->
               <!-- patTemplate:tmpl name="unsur_penunjang_item" -->
                 <tr>
                    <td align="left" width="15%">{NAMA}</td>
                    <td align="right">{LAMA}</td>
                    <td align="right">{BARU}</td>
                    <td align="right">{JUMLAH}</td>
                 </tr>
               <!-- /patTemplate:tmpl -->
            <!-- /patTemplate:sub -->
         <!-- /patTemplate:tmpl -->
          <tr class="table-common-even"> 
              <td align="right" width="15%">Jumlah Unsur Penunjang</td>
              <td align="right">{PENUNJANG_LAMA}</td>
              <td align="right">{PENUNJANG_BARU}</td>
              <td align="right">{PENUNJANG_JUMLAH}</td>
          </tr>
          <tr class="table-common-even">
              <td align="right" width="15%">Jumlah Unsur Utama dan Unsur Penunjang</td>
              <td align="right">{TOTAL_LAMA}</td>
              <td align="right">{TOTAL_BARU}</td>
              <td align="right">{TOTAL_JUMLAH}</td>
          </tr>
       </table>
     </td></tr>	  
       </table>
     </td></tr>	 
   </table>
<br />
<div class="toolbar"> 
		<!--a target="_Blank" href="{URL_CETAK}" title="Cetak" tabindex="3"><img src="images/button-print.gif" alt="Cetak">Cetak</a-->
		<a target="_Blank" href="{URL_EXCEL}" title="Export Excel" tabindex="3"><img src="images/button-excel.gif" alt="Export Excel">Export Excel</a>
        <a class="xhr dest_subcontent-element " href="{URL_BACK}" title="back to the current page" tabindex="2">
        <img src="images/button-back.gif" alt="">Back</a> 
</div>
<!-- /patTemplate:tmpl -->
