<!-- patTemplate:tmpl name="content" -->

<h1>{TITLE}</h1>
<br />
<form method="POST" action="{URL_SEARCH}" class="dataquest xhr_simple_form dest_subcontent-element" id="filterbox">
   <table>
      <tr>
         <th colspan="2"><h2><strong>Pencarian</strong></h2></th>
      </tr>
      <tr>         
         <th>NIP/Nama Pegawai</th>
         <td><input type="text" name="tampilkan" value="{KEYWORD}" size="30" /></td>    
      </tr>
      <tr>
         <th>&nbsp;</th>
         <td>
            <input type="submit" name="btncari" value=" Cari &raquo;" class="buttonSubmit"/>
         </td>
      </tr>
   </table>
</form>

<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<div class="{CLASS_PESAN}">
   {ISI_PESAN}
</div>
<!-- /patTemplate:tmpl -->
<br />

<div id="form-additional">
</div>

<!-- <form method="POST" action="{URL_DELETE}" id="form_list" class="xhr_simple_form dest_subcontent-element" > -->
<div class="pageBar">
		<!-- patTemplate:gtfwrendermodule module="paging" submodule="paging" action="view" name="paging_top"  / -->
</div>

<table class="table-common" width="100%">
   <tr>
      <th>No Urut</th>
      <th>NIP</th>
      <th>Nama</th>
      <th width="50">Aksi</th>   
   </tr>
   <!-- patTemplate:tmpl name="duk_individu" type="condition" conditionvar="DATA_EMPTY" -->
      <!-- patTemplate:sub condition="YES" -->
         <tr><td colspan="4" align="center"><em>-- Data tidak ditemukan --</em></td></tr>
      <!-- /patTemplate:sub -->
      <!-- patTemplate:sub condition="NO" -->
         <!-- patTemplate:tmpl name="duk_individu_item" -->
         <tr class="{MPG_CLASS_NAME}">
            <td align="center">{MPG_NO}</td>
            <td align="center">{MPG_NIP}</td>
            <td align="left">{MPG_NAMA}</td>
            <td class="links" align="center">
               <a href="{MPG_URL_DETAIL}" class="xhr dest_subcontent-element" title="Pilih Pegawai">Pilih </a>    
            </td>
            
         </tr>
         <!-- /patTemplate:tmpl -->         
      <!-- /patTemplate:sub -->
   <!-- /patTemplate:tmpl -->
   
</table>
<!-- </form>  -->
<!-- /patTemplate:tmpl -->
