
<!-- patTemplate:tmpl name="content" -->
<script language="javascript" type="text/javascript">

function konfirmasi() {
		if(document.getElementById('btnbatal').value == " Reset "){
      document.getElementById('btnbatal').type = "reset";
      document.frmInput.onReset();
    }else{
      document.getElementById('btnbatal').type = "submit";
      document.frmInput.onSubmit();
    }
}
</script>
<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<div class="{CLASS_PESAN}">
   {ISI_PESAN}
</div>
<br />
<!-- /patTemplate:tmpl -->
<div class="mainContent-fp-element-full">
	<div class="mainContent-fp-element-full-head"><h2>{TITLE}</h2></div>
	<div class="mainContent-fp-element-full-body">

<form method="POST" name="frmInput" action="{URL_AKSI}" class="xhr_form std_form" id="frmInput" enctype="multipart/form-data">
   <input type="hidden" name="idPeg" value="{ID}">
   <input type="hidden" name="idSdr" value="{INPUT_ID}">
   <input type="hidden" name="op" value="{OP}" id="op">
   <table class="table-details" width="100%" style="display:{DISPLAY_FORM}">
      <tr class="subhead">
        <th valign="center" colspan="2">
          {LABEL_ACTION} Data Saudara Kandung
          <div class="toolbar">
            <a class="xhr dest_subcontent-element " href="{URL_KEMBALI}" title="Kembali" tabindex="2"><img src="images/button-back.gif" alt="">Kembali</a>
          </div>
        </th>
      </tr>
      <tr>
        <th>Nama</th>
        <td>
          <input type="text" name="nama" size="40" value="{INPUT_NAMA}"/> *
        </td>
      </tr>
      <tr>
        <th>Jender</th>
        <td>
          <!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="jenkel"  / -->
        </td>
      </tr>
      <tr>
        <th>Tempat Lahir</th>
        <td>
          <input type="text" name="tmpt_lahir" value="{INPUT_TMPT}" size="20" />
        </td>
      </tr>
      <tr>
        <th>Tanggal Lahir</th>
        <td>
          <!-- patTemplate:gtfwrendermodule module="tanggal" submodule="tanggal" action="view" name="tgl_lahir"  / -->  
		</td>
      </tr>
      <tr>
        <th>Pekerjaan</th>
        <td>
          <input type="text" name="kerja" value="{INPUT_KERJA}" size="20" />
        </td>
      </tr>
	  <tr>
        <th>Latar Belakang Pendidikan</th>
        <td>
          <!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="educ"  / -->
        </td>
      </tr>
      <tr>
        <th>Keterangan</th>
        <td>
          <textarea name="ket" rows=5 cols=37 tabindex='2'>{INPUT_KET}</textarea>  
        </td>
      </tr>
	   <th>Meninggal Dunia</th>
        <td>
          <!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="mati"  / -->
        </td>
      </tr>
      <tr class="buttons">
         <th>&nbsp;</th>
         <td>
            <input name="btnsimpan" value="Simpan" class="buttonSubmit" type="submit">
            <input name="btnbatal" id="btnbatal" value="{BUTTON}" class="buttonSubmit" type="button" onclick="konfirmasi()">
         </td>
      </tr>
   </table>
</form>
<br />
<div class="petunjuk-area" style="display:{DISPLAY_FORM}">
   <h4>Petunjuk :</h4>
   <ul>
      <li>Tanda * menunjukkan bahwa field tersebut harus diisi. </li>
   </ul>
</div>
<div class="pageBar" style="display:{DISPLAY_LIST}">
  <div class="toolbar">
    <a class="xhr dest_subcontent-element " href="{URL_TAMBAH}" title="Tambah" tabindex="2"><img src="images/button-add.gif" alt="">Tambah</a>
  </div>
</div>
<table class="table-common" width="96%" style="display:{DISPLAY_LIST}">
   <tr>
    <th width="18px">No</th>
    <th width="63px">Aksi</th>
    <th>Name</th>
	  <th>Jender</th>
	  <th>Tanggal Lahir</th>
	  <th>Pekerjaan</th>
	  <th>Pendidikan</th>
	  <th>Meninggal Dunia</th>
   </tr>
   <!-- patTemplate:tmpl name="data_sdr" type="condition" conditionvar="PEGAWAI_EMPTY" -->
      <!-- patTemplate:sub condition="YES" -->
   <tr><td colspan="8" align="center"><em>-- Data tidak ditemukan --</em></td></tr>
      <!-- /patTemplate:sub -->
      <!-- patTemplate:sub condition="NO" -->
         <!-- patTemplate:tmpl name="data_sdr_item" -->
          <tr class="{SDR_CLASS_NAME}">
          <td align="center">{SDR_NUMBER}</td>
          <td class="links">
		  <script>verifyShow('tombol_{SDR_NUMBER}','&jenis=1&params=sdm_saudara:{SDR_ID}');</script>
		  <div id="tombol_{SDR_NUMBER}">
          <a class="xhr dest_subcontent-element" href="{SDR_URL_EDIT}" title="Ubah"><img src="images/button-edit.gif" alt="Ubah"/></a>
          <a class="xhr dest_subcontent-element" href="{SDR_URL_DELETE}" title="Hapus"><img src="images/button-delete.gif" alt="Hapus"/></a>
		  </div>
          </td>
          <td align="left">{SDR_NAMA}</td>
          <td align="center">{SDR_JENKEL}</td>
          <td align="center">{SDR_TGL_LAHIR}</td>
          <td align="left">{SDR_KERJA}</td>
		  <td align="center">{SDR_EDUC}</td>
		  <td align="center">{SDR_MENINGGAL_STATUS}</td>
          </tr>
         <!-- /patTemplate:tmpl -->
      <!-- /patTemplate:sub -->
   <!-- /patTemplate:tmpl -->
</table>
</div>
</div>
<div class="petunjuk-area" style="display:{DISPLAY_LIST}">
   <h4>Petunjuk :</h4>
   <ul>
      <li>Icon <img src="images/button-edit.gif" alt="Ubah"/> digunakan untuk merubah data. </li>
	  <li>Icon <img src="images/button-delete.gif" alt="Ubah"/> digunakan untuk menghapus data. </li>
   </ul>
</div>
<!-- /patTemplate:tmpl -->