<!-- patTemplate:tmpl name="content" -->
<script language="javascript" type="text/javascript">
	function centangin_semua(varname, start_num, end_num) {
		var obj = document.getElementById('cek_all');
		var ceks;
		if(obj.checked == false) {
			for(i=start_num;i<=end_num;i++) {
				ceks = document.getElementById(varname + i);
				if(ceks) ceks.checked = false;
			}
		} else {
			for(i=start_num;i<=end_num;i++) {
				ceks = document.getElementById(varname + i);
				if(ceks) ceks.checked = true;
			}
		}
	}
	
	function getInputForm(){
      GtfwAjax.replaceContentWithUrl('form-additional','<!-- patTemplate:gtfwgeturl module="pak" sub="inputPak" action="view" type="html" htmlentities="no" / -->&ascomponent=1');
   }
</script>

<h1>REFERENSI KEGIATAN ANGKA KREDIT</h1>
<br />
<form method="POST" action="{URL_SEARCH}" class="dataquest xhr_simple_form dest_subcontent-element" id="filterbox">
   <table>
      <tr>
         <th colspan="2"><h2><strong>Pencarian</strong></h2></th>
      </tr>
      <tr>         
         <th><input type="checkbox" {PAK_CHECKED} value="pak" name="check[pak]">&nbsp; Kegiatan</th>
         <td><input type="text" name="penetapan" value="{NAMA}" size="30" /></td>    
      </tr>
      <tr>
         <th>&nbsp;</th>
         <td>
            <input type="submit" name="btncari" value=" Tampilkan &raquo;" class="buttonSubmit"/>
         </td>
      </tr>
   </table>
</form>

<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<div class="{CLASS_PESAN}">
   {ISI_PESAN}
</div>
<!-- /patTemplate:tmpl -->
<br />

<div id="form-additional">
</div>

<form method="POST" action="{URL_DELETE}" id="form_list" class="xhr_simple_form dest_subcontent-element" >
<div class="pageBar">
		<!-- patTemplate:gtfwrendermodule module="paging" submodule="paging" action="view" name="paging_top"  / -->
   <div class="toolbar"> 
	<!--	<a href="javascript:getInputForm();" title="Tambah Data Referensi Penilaian PAK"> /-->
      <a class="xhr dest_subcontent-element" href="{URL_ADD}" title="Tambah Data Referensi Penilaian PAK">
      <img src="images/button-add.gif" alt="">Tambah</a> 	
	<!--	<input type="submit" id="btnHapus" name="btnHapus" value="Hapus" class="inputButton" /> /-->
   </div>
</div>

<table class="table-common" width="700px">
   <tr>
      <!-- <th width="5"><input type="checkbox" name="cek_all" id="cek_all" value="ALL" 
	  onclick="centangin_semua('id_','{FIRST_NUMBER}','{LAST_NUMBER}');" /></th> /-->
      <th>No</th>
      <th width="70">Aksi</th>
	  <th>Jenis</th>
	  <th>Unsur</th>
      <th>Kegiatan</th>
	  <th>Angka Kredit</th>
   </tr>
   <!-- patTemplate:tmpl name="data_pak" type="condition" conditionvar="DATA_EMPTY" -->
      <!-- patTemplate:sub condition="YES" -->
         <tr><td colspan="5" align="center"><em>-- Data tidak ditemukan --</em></td></tr>
      <!-- /patTemplate:sub -->
      <!-- patTemplate:sub condition="NO" -->
         <!-- patTemplate:tmpl name="data_pak_item" -->
         <tr class="{PAK_CLASS_NAME}">
            <!-- <td>
            <input type="checkbox" name="id[]" id="id_{PAK_NUMBER}" value="{PAK_ID}" /> 
            <input type="hidden" name="name[{PAK_NAMA}]" value="{PAK_NAMA}" /></td> /-->
            <td align="center">{PAK_NO}</td>
            <td class="links" align="center">
               <a href="{PAK_URL_UPDATE}" class="xhr dest_subcontent-element" title="Ubah">
                  <img src="images/button-edit.gif" alt="Ubah"/>
               </a>
               <a href="{PAK_URL_DELETE}" class="xhr dest_subcontent-element" title="Hapus">
                  <img src="images/button-delete.gif" alt="Hapus"/>
               </a>     
            </td>
			<td align="center">{PAK_JENIS_UNSUR}</td>
			<td align="center">{PAK_UNSUR}</td>
            <td align="left">{PAK_NAMA}</td>
            <td align="center">{PAK_ANGKA_KREDIT}</td>
         </tr>
         <!-- /patTemplate:tmpl -->         
      <!-- /patTemplate:sub -->
   <!-- /patTemplate:tmpl -->
   
</table>
</form>
<!-- /patTemplate:tmpl -->
