<!-- patTemplate:tmpl name="content" -->
<div class="toolbar"> 
    <a class="xhr dest_subcontent-element" href="{PROFILE_URL_EDIT}" title="Ubah Profil" tabindex="2"><img src="images/button-edit.gif" alt=""> Ubah Profil</a> 	
    <a class="xhr dest_subcontent-element" href="{URL_UPDATE_PASSWORD}" title="Ubah Password" tabindex="2"><img src="images/button-reset_password.gif" alt=""> Ubah Password</a> 	
</div>
<h1>Profil Pengguna</h1>
<br/>

   <!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
   <div class="{CLASS_PESAN}">
      {ISI_PESAN}
   </div><br/>
   <!-- /patTemplate:tmpl -->
   
   <table class="table-details" width="100%">
      <tr class="subhead">
         <th colspan="2">Data Profil</td>
      </tr>
      <tr>
         <th width="100" align="left">Username</th><td> {USERNAME} </td>
      </tr>
     <!--  <tr>
         <th>No Pegawai</th><td> {NO_PEGAWAI}</td>
      </tr> -->
      <tr>
         <th>Nama Lengkap</th><td> {PENGGUNA}</td>
      </tr>
      <tr>
         <th>Deskripsi</th><td> {DESKRIPSI}</td>
      </tr>
      <tr>
         <th>Status</th><td> {STATUS}</td>
      </tr>
      <tr>
         <th>Nama Group</th><td> {NAMA_GROUP}</td>
      </tr>
      <tr>
         <th>Hak Akses</th>
         <td> 
            <!-- patTemplate:tmpl name="list_hak_akses" -->
            {HAK_AKSES}
            <!-- /patTemplate:tmpl -->
         </td>
      </tr>  
   </table>
   
   <div class="petunjuk-area">
      <h4>Petunjuk:</h4>
      <ul>
         <li>Untuk merubah password atau merubah data klik tombol Ubah Password atau Ubah Profil yang berada di kanan atas</li>
      </ul>
   </div>
<!-- /patTemplate:tmpl -->
