<!-- patTemplate:tmpl name="content" -->
<div id="TOP" class="background-blue padding-10 text-big" style="text-transform:uppercase">{TITLE}</div>

<div class="padding-10">

<div class="panel panel-default">
    <div class="panel-heading text-big"><strong>Pencarian Data</strong></div>
    <div class="panel-body">
        <form method="POST" action="{URL_SEARCH}" class="form-horizontal xhr_simple_form dest_subcontent-element" id="filterbox" role="form">
            <div class="form-group">
                <label for="nip" class="col-sm-2 control-label">NIP/Nama Pegawai</label>
                <div class="col-sm-2">
                    <input type="text" name="nip_nama" class="form-control input-sm" id="nip" value="{NIP_NAMA}" size="30" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default btn-xs">Cari <span class="glyphicon glyphicon-search"></span></button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<div class="{CLASS_PESAN}">
   {ISI_PESAN}
</div>
<br />
<!-- /patTemplate:tmpl -->


<div class="row push-down-10">
    <div class="col-md-6">
<!-- patTemplate:gtfwrendermodule module="paging" submodule="paging" action="view" name="paging_top"  / -->
   </div>
</div>
<div class="table-responsive">
<table class="table table-bordered">
   <tr>
      <th width="3%">No</th>
      <th width="20%">Nomor Pegawai</th>
	  <th>Nama</th>
      <th width="63px">Aksi</th>
   </tr>
   <!-- patTemplate:tmpl name="data_pegawai" type="condition" conditionvar="PEGAWAI_EMPTY" -->
      <!-- patTemplate:sub condition="YES" -->
   <tr><td colspan="4" align="center"><em>-- Data tidak ditemukan --</em></td></tr>
      <!-- /patTemplate:sub -->
      <!-- patTemplate:sub condition="NO" -->
         <!-- patTemplate:tmpl name="data_pegawai_item" -->
   <tr class="{CLASS_NAME}">
      <td align="center">{NUMBER}</td>
      <td align="center">{NIP}</td>
	  <td align="left">{NAMA}</td>
      <td class="links">
         <!--<a class="xhr dest_subcontent-element" href="{URL_DETAIL}" title="Select"><img src="images/button-check.gif" alt="Select"/></a>
         <a class="xhr dest_subcontent-element" href="{URL_HISTORY}" title="History"><img src="images/button-bukubuka.gif" alt="History"/></a>-->
		 <a class="xhr dest_subcontent-element btn btn-primary btn-xs" href="{URL_HISTORY}" title="Sejarah"><span class="glyphicon glyphicon-check"></span></a> 
      </td>
   </tr>
         <!-- /patTemplate:tmpl -->
      <!-- /patTemplate:sub -->
   <!-- /patTemplate:tmpl -->
</table>
</div>
</div>
<!-- /patTemplate:tmpl -->