<!-- patTemplate:tmpl name="content" -->
<table class="table" width="100%" >
	<tr class="background-blue-light">
		<td colspan="3"><b>Informasi Pribadi</b></td>
	</tr>
    <tr>
        <td rowspan="4" width="60px">
            <img src="upload_file/photo/{PROFIL_FOTO}" width="100" height="100">
        </td>
    </tr>
	<tr><td>Nama</td><td>{PROFIL_NAME}</td></tr>
	<tr><td>ID Pegawai</td><td>{PROFIL_KODE}</td></tr>
    <tr><td valign="top">Alamat</td><td valign="top">{PROFIL_ALAMAT}</td></tr>
</table>
<!-- /patTemplate:tmpl -->
