<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>Login</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link rel="stylesheet" type="text/css" href="styles/sia-mocca-login-loader.css" title="Mocca"/>
	<link href="images/favicon.ico" rel="SHORTCUT ICON" />
</head>
<body>
	<center>
	<div id="loginWrapper">
		<div id="loginBox">	
			<div id="loginBox-head">
				<h1>TransJogja</h1>
			</div>
			<div id="loginBox-title">
				<h2>Command Center</h2>
				<img src="images/loginBox-title-img.jpg" alt="" />
			</div>
			<div id="loginBox-body">
				<form id="form-login" action="home.html">
					<label for="aid_username">Username</label>
					<input type="text" id="aid_username"/>
					<br />
					<label for="aid_password">Password</label>
					<input type="password" id="aid_password"/>
					<br />
					<label> </label>
					<input type="submit" value="Login" class="button" />
					<div>Need help? Click <a href="#"><b>here</b></a></div>
				</form>
			</div>
			<div id="loginBox-foot"></div>
		</div>
	</div>
	</center>
</body>
</html>
