<!-- patTemplate:tmpl name="content" -->
<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<div class="{CLASS_PESAN}">
   {ISI_PESAN}
</div>
<br />
<!-- /patTemplate:tmpl -->
<div class="mainContent-fp-element-full">
	<div class="mainContent-fp-element-full-head"><h2>KUNJUNGAN</h2></div>
	<div class="mainContent-fp-element-full-body">
<form method="POST" name="frmInput" action="{URL_ACTION}" class="xhr_form std_form" id="frmInput" enctype="multipart/form-data">
   <table class="table-details" width="100%" style="display:{DISPLAY_FORM}">
      <tr class="subhead">
         <th colspan="2">
          {LABEL_ACTION} {LABEL_INPUT}
          <div class="toolbar">
            <a class="xhr dest_subcontent-element " href="{URL_KEMBALI}" title="Kembali" tabindex="2"><img src="images/button-back.gif" alt="">Kembali</a>
          </div>
         </th>
      </tr>
     <tr>
         <th >Tipe Mutasi Kunjungan</th>
         <td>
           <!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="jeniskunj"  / -->*
           <input name="pegKode" type="hidden" value="{ID}" />
		   <input name="dataKode" type="hidden" value="{INPUT_ID}" />
         </td>
      </tr> 
	  <tr>
         <th >Tujuan</th>
         <td>
         <input type="text" name="tujuan" value="{INPUT_TUJUAN}"  size="40" />&nbsp;*
         </td>
      </tr>
      <tr>
         <th>Negara</th>
         <td>
           <!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="negara"  / -->*
         </td>
      </tr>
      <tr>
         <th >Asal Dana</th>
         <td>
           <!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="asdan"  / -->
         </td>
      </tr>
       <tr>
         <th >Mulai</th>
         <td>
           <!-- patTemplate:gtfwrendermodule module="tanggal" submodule="Tanggal" action="view" name="mulai" / -->
         </td>
      </tr>
      <tr>
         <th >Selesai</th>
         <td>
           <!-- patTemplate:gtfwrendermodule module="tanggal" submodule="Tanggal" action="view" name="selesai" / -->
         </td>
      </tr>
      <tr>
         <th >Keterangan </th>
         <td>
           <textarea name="ket" id="ket" cols="50" rows="5">{INPUT_KET}</textarea>
         </td>
      </tr>
	  <tr>
         <th >Upload </th>
         <td>
           <input type="file" name="file" size="40"><br />
				File sebelumnya: <a href="{INPUT_LINK_DOWNLOAD}">{INPUT_UPLOAD}</a>
        <input name="upload" type="hidden" value="{INPUT_UPLOAD}" />
         </td>
      </tr>
      <tr class="buttons">
         <th>&nbsp;</th>
         <td>
            <input name="btnsimpan" value="{LABEL_ACTION} " class="buttonSubmit" type="submit">
            <input name="btnbatal" value="{BUTTON}" class="buttonSubmit" type="{TYPE}">
         </td>
      </tr>
   </table>
</form>
<br />
<div class="pageBar" style="display:{DISPLAY_LIST}">
  <!-- patTemplate:gtfwrendermodule module="paging" submodule="paging" action="view" name="paging_top"  / -->
  <div class="toolbar">
    <a class="xhr dest_subcontent-element " href="{URL_TAMBAH}" title="Tambah" tabindex="2"><img src="images/button-add.gif" alt="">Tambah</a>
  </div>
</div>
<table class="table-common" width="96%" style="display:{DISPLAY_LIST}">
   <tr>
      <th width="5px" >No</th>
	  <th width="99px" >Aksi</th>
      <th >Tipe Mutasi Kunjungan</th>
      <th >Tujuan</th>
      <th >Negara</th>
      <th >Mulai</th>
      <th >Selesai</th>
   </tr>
   <!-- patTemplate:tmpl name="data" type="condition" conditionvar="DATA_EMPTY" -->
      <!-- patTemplate:sub condition="YES" -->
   <tr><td colspan="10" align="center"><em>-- Data tidak ditemukan --</em></td></tr>
      <!-- /patTemplate:sub -->
      <!-- patTemplate:sub condition="NO" -->
         <!-- patTemplate:tmpl name="data_item" -->
   <tr class="{KUNJ_CLASS_NAME}">
      <td align="center" width="5%">{KUNJ_NUMBER}</td>
	  <td class="links">
	     <div id="tombol_{KUNJ_NUMBER}">
         <a class="xhr dest_subcontent-element" href="{KUNJ_URL_EDIT}" title="Ubah"><img src="images/button-edit.gif" alt="Ubah"/></a>
         <a class="xhr dest_subcontent-element" href="{KUNJ_URL_DELETE}" title="Hapus"><img src="images/button-delete.gif" alt="Hapus"/></a>
		 </div>
		 <a class="xhr dest_subcontent-element" href="{KUNJ_URL_DETAIL}" title="Detail"><img src="images/button-detail.gif" alt="Detail"/></a>
		 <div id="download_{KUNJ_NUMBER}"><a href="{KUNJ_LINK_DOWNLOAD_SK}" title="SK" target="_blank"><img src="images/detil.gif" alt="SK"/></a></div>
		 <script>
			verifyShow('tombol_{KUNJ_NUMBER}','&jenis=1&params=sdm_kunjungan_ln:{KUNJ_ID}');
			if ('{KUNJ_LINK_DOWNLOAD_SK}'==''){var download='download_{KUNJ_NUMBER}'; document.getElementById(download).style.display='none';}
		 </script>
      </td>
      <td align="left" width="20%">{KUNJ_JKLABEL}</td>
	  <td align="left">{KUNJ_TUJUAN}</td>
	  <td align="left">{KUNJ_NEGLABEL}</td>
	  <td align="center">{KUNJ_MULAI}</td>
	  <td align="center">{KUNJ_SELESAI}</td>
   </tr>
         <!-- /patTemplate:tmpl -->
      <!-- /patTemplate:sub -->
   <!-- /patTemplate:tmpl -->
</table>
</div></div>
<script>
var display_form='{DISPLAY_FORM}',display_list='{DISPLAY_LIST}';
</script>
<!-- /patTemplate:tmpl -->