<!-- patTemplate:tmpl name="content" -->
<div class="background-blue padding-10 text-big" style="text-transform:uppercase">{TITLE}</div>
<div class="padding-10">

<div class="panel panel-default">
    <div class="panel-heading text-big"><strong>{LABEL_ACTION} {LABEL_INPUT} Data</strong></div>
    <div class="panel-body">
        <form method="POST" action="{URL_ACTION}" class="form-horizontal xhr_simple_form dest_subcontent-element" id="filterbox" role="form">
  <input type="hidden" name="verstatId" value="{VERSTATID}" size="5"/>
            <div class="form-group">
                <label for="nip" class="col-sm-2 control-label">Nama Status</label>
                <div class="col-sm-3">
<input class="form-control" type="text" name="verstatName" value="{VERSTATNAME}" size="30"/>&nbsp;*
                </div>
            </div>
             <div class="form-group">
                <label for="nip" class="col-sm-2 control-label">Icon Status</label>
                <div class="col-sm-3"> 
                <input class="form-control" type="text" name="verstatIcon" value="{VERSTATICON}" size="30"/>&nbsp;*
                </div>
            </div>
             <div class="form-group">
                <label for="nip" class="col-sm-2 control-label">Is Approved</label>
                <div class="col-sm-3"> 
<input type="checkbox" name="verstatIsApproved" value="Aktif" {VERSTATISAPPROVED_CHECKED} /> Tanda Status Diterima
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
 <input name="btnsimpan" value=" {LABEL_ACTION} " class="buttonSubmit btn btn-xs btn-info" type="submit">
      <input name="btnbalik" value=" Batal " class="buttonSubmit btn btn-xs btn-warning" type="submit" />
                </div>
            </div>
        </form>
    </div>
</div>

<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<div class="{CLASS_PESAN}">
{ISI_PESAN}
</div>
<br />
<!-- /patTemplate:tmpl -->

<div class="row push-down-10">
    <div class="col-md-12">
    <h3>{JUDUL_DATA}</h3>
    </div>
    <div class="col-md-6">
        <!-- patTemplate:gtfwrendermodule module="paging" submodule="paging" action="view" name="paging_top"  / -->
    </div>
</div>

<div class="table-responsive">
  <table class="table table-bordered" >
  <tr>
    <th width="15%">No</th>
    <th width="70px">Aksi</th>
    <th>Nama Status</th>
	<th>Icon Status</th>
	<th>Is Approved</th>
  </tr>
  <!-- patTemplate:tmpl name="data" type="condition" conditionvar="DATA_EMPTY" -->
  <!-- patTemplate:sub condition="YES" -->
  <tr>
    <td colspan="5" align="center"><em>-- Data tidak ditemukan --</em></td>
  </tr>
  <!-- /patTemplate:sub -->
  <!-- patTemplate:sub condition="NO" -->
  <!-- patTemplate:tmpl name="data_item" -->
  <tr class="{CLASS_NAME}">
    <td align="center" width="10%">{NUMBER}</td>
    <td class="btn-group">
    <a class="xhr dest_subcontent-element btn btn-xs btn-success" href="{URL_EDIT}" title="Ubah"><span class="glyphicon glyphicon-pencil"></span></a>
    <a class="xhr dest_subcontent-element btn btn-xs btn-danger" onClick="javascript: return showBoxConfirmDelete('{ID}', '{NAMA}', '{URL_DELETE_JS}');" href="{URL_DELETE}" title="Hapus"><span class="glyphicon glyphicon-trash"></span> </a>
    </td>
    <td align="left">{VERSTATNAME}</td>
	<td align="left">{VERSTATICON}</td>
	<td align="center">{VERSTATISAPPROVED}</td>
  </tr>
  <!-- /patTemplate:tmpl -->
  <!-- /patTemplate:sub -->
  <!-- /patTemplate:tmpl -->
  </table>
  </div></div>
<!-- /patTemplate:tmpl -->