<!-- patTemplate:tmpl name="body" -->
            <div class="header">
               <img src="images/dishub-bw.gif" alt="" class="logo" />
               <h2><!-- patTemplate:gtfwgetconfig config="organization" name="company_name" / --><h2>
               <h1><!-- patTemplate:gtfwgetconfig config="organization" name="application_name" / --></h1>               
               <h3>Tanda Bukti Serah Terima</h3>
               <br/><br/>
         		<p class="left" >No Bukti Pembayaran : {KWITANSI}</p>
         		<hr />
            </div>   
         
            <div class="content">
      	      <!-- patTemplate:link src="content" / -->
            </div>            
<!-- /patTemplate:tmpl -->
