<!-- patTemplate:tmpl name="content" -->
<script language="javascript" type="text/javascript">
	var xpopup;
	function bukaPopupKomp(xurl) {
		showPopup(xurl,'komponen gaji',550, 550);
	}
</script>

<div id="TOP" class="background-blue padding-10 text-big">{TITLE}</div>
<div class="padding-10">
<!-- patTemplate:gtfwrendermodule module="profile" submodule="profilebox" action="view" name="profile"  / -->
<div class="table-responsive">
    <table class="table">
        <tr class="background-blue-light">
        <th colspan="3" class="text-center">
                <div class="btn-group">
                    
                      <a class="btn btn-default btn-xs" href="javascript:Tab('LISTDATA','FORMDATA');">
                          <span class="glyphicon glyphicon-list"></span> Lihat List Data
                      </a>
                    <a class="btn btn-default btn-xs" href="javascript:Tab('FORMDATA','LISTDATA');">
                          <span class="glyphicon glyphicon-plus"></span> Tambah
                        </a> 
                        <a class="xhr dest_subcontent-element btn btn-default btn-xs" href="{URL_BACK}" title="Pilih Pegawai" tabindex="2">
                            <span class="glyphicon glyphicon-share"></span> Pilih Pegawai
                        </a> 
                </div>
        </th>
      </tr>
    </table>
</div>

<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<script language="javascript" type="text/javascript">
function Tutup(){
	document.getElementById('warning_box').style.display='none';
}
</script>
<div class="{CLASS_PESAN}" id="warning_box">
   {ISI_PESAN} <a href="javascript:Tutup();">&nbsp;[Tutup Pesan]</a>
</div>
<!-- /patTemplate:tmpl --> 
<div id="FORMDATA" style="display:none">

<div class="table-responsive">
<form method="POST" name="frmInput" action="{URL_ACTION}" class="xhr_form std_form" id="frmInput" enctype="multipart/form-data">
<input name="dataStatus" type="hidden" value="{INPUT_STATUS}" />
<input type="hidden" value="Aktif" name="status">
        <table class="table" >
            <tr class="background-blue-light">
         <th>{LABEL_ACTION} {LABEL_INPUT}</th>
		 <td align="right">
          </td>
      </tr>
      <tr>
         <th >Pangkat/Golongan <span>*</span> </th>
         <td>
           <!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="golongan_ref"  / --> 
         </td>
      </tr>
      <tr>
        <th>Jenis Jabatan Fungsional</th>
        <td>
            <!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="ref_jenis_jab"  / -->
        </td>
      </tr>
  	  <tr>
          <th >Jabatan Fungsional <span>*</span> </th>
          <td>
              <div class="clearfix">
                  <div id="jenis_holder" class="pull-left">
                      <!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="jenis_jabatan"  / -->
                  </div>
                  <p id="jab_holder_loading" class="pull-left form-control-static hidden" style="margin-left: 15px;">Loading...</p>
              </div>
              
              <div>
                  <label style="cursor: pointer;">
                      <input type="checkbox" name="old_fjab_check" value="1" id="old_fjab_check" {OLD_FJAB_CHECKED} />
                      Tidak tersedia
                  </label>
              </div>
          </td>
      </tr>
      <tr id="row-input-old-jab">
         <th >Jabatan Fungsional (lama)</th>
         <td>
           <input type="text" name="old_fjab" id="old_fjab" value="{INPUT_OLD_FJAB}" size="20" /> <span  style="color:#d34;font-size:10px !important">*diisi jika jabatan fungsional tidak tersedia di combobox</span>
       </td>
      </tr>
        <tr>
           <th >Keahlian </th>
           <td>
           <input type="text" value="{INPUT_KEAHLIAN}" name="keahlian" /> <span style="color:#d34;font-size:10px !important">  - optional untuk jabatan tertentu, seperti guru, tenaga kesehatan dll.<spam>
           </td>
        </tr>
        <tr style="display:none">
         <th >Komponen Gaji Kredit Poin</th>
         <td>
            <input name="pegKode" type="hidden" value="{PROFIL_ID}" />
            <input name="dataFung" type="hidden" value="{INPUT_REF_JAB}" />
            <input name="dataKode" type="hidden" value="{INPUT_ID}" />
           <input type="text" name="komp_label" id="komp_label" value="{INPUT_SKSNAMA}" size="30" readonly="readonly" />
           <input type="hidden" name="komp" id="komp" value="{INPUT_SKSKODE}" />
           <input type="hidden" name="komp2" value="{INPUT_SKSKODE}" />
           <input type="button"  name="but_komp" onclick="bukaPopupKomp('{URL_POPUP_KOMP}')" value=" ... " />&nbsp;*
         </td>
      </tr>
      <tr style="display:none">
         <th >SKS Maksimal</th>
         <td>
           <input type="text" name="sksMaks" value="{INPUT_SKSMAKS}"  size="30" />
         </td>
      </tr>
      <tr style="display:none">
         <th >Kredit Dosen</th>
         <td>
           <input type="text" name="ak" value="{INPUT_AK}"  size="30" />
         </td>
      </tr>
  	  <tr>
         <th >TMT</th>
         <td>
           <!-- patTemplate:gtfwrendermodule module="tanggal" submodule="Tanggal" action="view" name="mulai" / -->
         </td>
      </tr>
	  <tr>
         <th >TMT Berikutnya</th>
         <td>
           <!-- patTemplate:gtfwrendermodule module="tanggal" submodule="Tanggal" action="view" name="selesai" / -->
         </td>
      </tr>
    
    <tr class="background-blue-light">
    <th colspan="2">Keputusan</th>
    </tr>
	  <tr>
         <th >Pejabat</th>
         <td>
           <input type="text" name="sk" value="{INPUT_SK}"  size="30" />
         </td>
      </tr>
	  <tr>
         <th >Nomor</th>
         <td>
           <input type="text" name="sk_no" value="{INPUT_SK_NO}"  size="30" />
         </td>
      </tr>
	  <tr>
         <th >Tanggal</th>
         <td>
           <!-- patTemplate:gtfwrendermodule module="tanggal" submodule="Tanggal" action="view" name="sk_tgl" / -->
         </td>
      </tr>
	  <!--<tr>
         <th >Status </th>
         <td>
           !-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="status"  / --
           
         </td>
      </tr> -->
	  <tr>
         <th >Unggah Dokumen </th>
         <td>
           <input type="file" name="file" size="40"><br />
				Dokumen sebelumnya : <a href="{INPUT_LINK_DOWNLOAD}">{INPUT_UPLOAD}</a>
        <input name="upload" type="hidden" value="{INPUT_UPLOAD}" />
         </td>
      </tr>
      <tr class="buttons">
         <th>&nbsp;</th>
         <td>
                <div style="display:none"><input name="btnsimpan" value="{LABEL_ACTION} " class="buttonSubmit" type="submit"></div>
          <input name="btnsimpanBohong" value="{LABEL_ACTION} " class="buttonSubmit btn btn-xs btn-info" type="button" onclick="konfirmasi();">
            <input name="btnbatal" value=" Batal " class="buttonSubmit btn btn-xs btn-warning" type="submit">
         </td>
      </tr>
   </table>
</form>
</div>

<div class="petunjuk-area">
   <h4>Petunjuk:</h4>
   <ul>
      <li>Tanda * menunjukkan bahwa field tersebut harus diisi. </li>
   </ul>
</div>
</div>

<div id="LISTDATA" style="display:">
<h3>History Mutasi Jabatan Fungsional</h3>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
   <tr>
      <th width="5px" rowspan="2">No</th>
      <th rowspan="2">Jabatan</th>
	  <th rowspan="2">TMT</th>
	  <th rowspan="2">TMT Berikutnya</th>
	  <th rowspan="2">Pangkat/Golongan</th>
	  <th colspan="3">Keputusan</th>
	  <!-- <th rowspan="2">Status</th> -->
      <th width="130px" rowspan="2">Aksi</th>
   </tr>
   <tr>
      <th>Pejabat</th>
	  <th>Nomor</th>
	  <th>Tanggal</th>
   </tr>
   <!-- patTemplate:tmpl name="data" type="condition" conditionvar="DATA_EMPTY" -->
      <!-- patTemplate:sub condition="YES" -->
   <tr><td colspan="10" align="center"><em>-- Data tidak ditemukan --</em></td></tr>
      <!-- /patTemplate:sub -->
      <!-- patTemplate:sub condition="NO" -->
         <!-- patTemplate:tmpl name="data_item" -->
   <tr class="{CLASS_NAME}">
      <td align="center" width="5px">{NUMBER}</td>
      <td align="left">{REAL_JAB}</td>
	  <td align="left">{ARR_MULAI}</td>
	  <td align="left">{ARR_SELESAI}</td>
	  <td align="left">{PKT_GOL}</td>
	  <td align="left">{SK}</td>
	  <td align="left">{SK_NO}</td>
	  <td align="left">{ARR_SK_TGL}</td>
	  <!-- <td align="left">{STATUS}</td> -->
      <td>
            <div class="btn-group" id="tombol_{NUMBER}">
                    <a class="xhr dest_subcontent-element btn btn-primary btn-xs" href="{URL_DETAIL}" title="Detail">
                        <span class="glyphicon glyphicon-open"></span>
                    </a>
                    <a class="xhr dest_subcontent-element btn btn-success btn-xs" href="{URL_EDIT}" title="Edit">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="btn btn-default btn-xs" style="display:{VIEW_DOWNLOAD}" href="{LINK_DOWNLOAD}" title="SK" target="_blank">
                        <span class="glyphicon glyphicon-download-alt"></span>
                    </a>

                    <a class="xhr dest_subcontent-element btn btn-danger btn-xs" href="{URL_DELETE}" title="Delete">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
            </div>
      </td>
   </tr>
         <!-- /patTemplate:tmpl -->
      <!-- /patTemplate:sub -->
   <!-- /patTemplate:tmpl -->
</table>
</div>

<div class="petunjuk-area">
   <h4>Petunjuk:</h4>
   <ul>
	  <li>Gunakan tombol <span class="glyphicon glyphicon-open"></span> untuk melihat detail data. </li>
      <li>Gunakan tombol <span class="glyphicon glyphicon-pencil"></span> untuk mengubah data. </li>
      <li>Gunakan tombol <span class="glyphicon glyphicon-trash"></span> untuk menghapus data. </li>
	  <li>Gunakan tombol <span class="glyphicon glyphicon-download-alt"></span> untuk mendownload SK (jika ada). </li>
	  <li><a href="#TOP" id="link-top">Klik Disini</a> untuk kembali ke atas. </li>
   </ul>
</div>
</div>

</div>
<script language="javascript" type="text/javascript">

function konfirmasi() {
	if (document.getElementById('golongan_ref').value=='') {
		alert('Anda belum memilih Pangkat/Golongan');
		document.getElementById('golongan_ref').focus();
		return false;
	}
	
	if (document.getElementById('ref_jab').value=='' && !document.getElementById('old_fjab_check').checked) {
		alert('Anda belum memilih Jabatan Fungsional');
		document.getElementById('ref_jab').focus();
		return false;
	}
	
	document.frmInput.btnsimpan.click();
}

function Tab(aktif,nonaktif){
	document.getElementById(aktif).style.display='';
	document.getElementById(nonaktif).style.display='none';
}

function CekAksi(){
    var dataId2='0'+'{INPUT_ID}';
	if (dataId2=='0') {
		Tab('LISTDATA','FORMDATA');
	}else{
		Tab('FORMDATA','LISTDATA');
	}
}
CekAksi();
</script>
<script lang="javascript">
$(document).ready(function(){
    $('#ref_jenis_jab').change(function(){
        $("#jab_holder_loading").removeClass("hidden");
        // Fallback if request is not responded by server
        var timer = setTimeout(function(){
            $("#jab_holder_loading").addClass("hidden");
        }, 10000);
        
        var idjab = $(this).val();
        // replaceContentWithUrl('jenis_holder','{URL_JENIS}&ascomponent=1&parent='+idjab);
        
        // Take record of previous (default) value in Edit
        var prevVal = "{INPUT_REF_JAB}";
        $('#jenis_holder').load('{URL_JENIS}', '&ascomponent=1&parent='+idjab, function(data, status, xhr){
            var $select = $("#jenis_holder > select");
            // Select previous value, if exists
            if(prevVal != "" && $('> option[value="'+prevVal+'"]', $select).length > 0) {
                $select.val(prevVal).trigger("change").trigger("chosen:updated");
            }
            $("#jab_holder_loading").addClass("hidden");
            clearTimeout(timer);
        });
        // alert('{URL_JENIS}&ascomponent=1&parent='+idjab);
    }).trigger("change");
    
    $("#old_fjab_check").off("change").on("change", function(e){
        var value = this.checked;
        $("#row-input-old-jab").toggle(value);
        if(value) {
            $("#row-input-old-jab").show();
            $("#ref_jab").val("").trigger("change").trigger("chosen:updated");
        } else {
            $("#row-input-old-jab").hide();
            $("#old_jab").val("");
        }
    }).trigger("change");
});
</script>
<!-- /patTemplate:tmpl -->
