<!-- patTemplate:tmpl name="content" -->
<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<div class="{CLASS_PESAN}">
   {ISI_PESAN}
</div>
<br />
<!-- /patTemplate:tmpl -->
<div class="mainContent-fp-element-full">
	<div class="mainContent-fp-element-full-head"><h2>BEASISWA PEGAWAI</h2></div>
	<div class="mainContent-fp-element-full-body">
<form method="POST" name="frmInput" action="{URL_ACTION}" class="xhr_form std_form" id="frmInput" enctype="multipart/form-data">
   <table class="table-details" width="100%" style="display:{DISPLAY_FORM}">
      <tr class="subhead">
         <th colspan="2">
          {LABEL_ACTION} {LABEL_INPUT}
          <div class="toolbar">
            <a class="xhr dest_subcontent-element " href="{URL_KEMBALI}" title="Kembali" tabindex="2"><img src="images/button-back.gif" alt="">Kembali</a>
          </div>
		 </th>
      </tr>
      <tr>
         <th >Tahun Diterima</th>
         <td>
         <input type="text" name="tahun_diterima" value="{INPUT_TAHUN_TERIMA}"  size="5" />
		 <input name="pegKode" type="hidden" value="{ID}" />
		 <input name="dataKode" type="hidden" value="{INPUT_ID}" />
         </td>
      </tr>
	  <tr>
         <th>Jenjang Studi</th>
         <td>
           <!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="jenis"  / -->*
         </td>
      </tr>
	  <tr>
         <th >Nama Beasiswa</th>
         <td>
         <input type="text" name="beasiswa" value="{INPUT_BEASISWA}"  size="50" />
         </td>
      </tr>
       <tr>
         <th >Nama Proyek / Sumber Dana</th>
         <td>
         <!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="dana"  / -->*
         </td>
      </tr>
	  <tr>
         <th >Jangka Waktu </th>
         <td>
         Tahun : <input type="text" name="tahun" value="{INPUT_TAHUN}"  size="4" />  Bulan : <input type="text" name="bulan" value="{INPUT_BULAN}"  size="4" /> <br/><br/> ket: kosongkan jika bulan atau tahun tidak ada
         </td>
		 
      </tr>
	  <tr>
         <th >Keterangan</th>
         <td>
			<textarea name="ket" id="ket" cols="50" rows="5">{INPUT_KET}</textarea>
         </td>
      </tr>
      <tr>
         <th >Upload </th>
         <td>
           <input type="file" name="file" size="40"><br />
				File sebelumnya: <a href="{INPUT_LINK_DOWNLOAD}">{INPUT_UPLOAD}</a>
        <input name="upload" type="hidden" value="{INPUT_UPLOAD}" />
         </td>
      </tr>
      <tr class="buttons">
         <th>&nbsp;</th>
         <td>
            <input name="btnsimpan" value="{LABEL_ACTION} " class="buttonSubmit" type="submit">
            <input name="btnbatal" value="{BUTTON}" class="buttonSubmit" type="{TYPE}">
         </td>
      </tr>
   </table>
</form>
<br />
<div class="pageBar" style="display:{DISPLAY_LIST}">
<!-- patTemplate:gtfwrendermodule module="paging" submodule="paging" action="view" name="paging_top"  / -->
<div class="toolbar">
    <a class="xhr dest_subcontent-element " href="{URL_TAMBAH}" title="Tambah" tabindex="2"><img src="images/button-add.gif" alt="">Tambah</a>
  </div>
</div>
<table class="table-common" width="96%" style="display:{DISPLAY_LIST}">
   <tr>
      <th width="5px" >No</th>
      <th >Tahun Diterima </th>
      <th >Jenjang Pendidikan</th>
      <th >Nama Beasiswa</th>
	  <th >Nama Proyek / Sumber Dana</th>
      <th >Jangka Waktu</th>
	  <th >Keterangan</th>
      <th width="63px" >Aksi</th>
   </tr>
   <!-- patTemplate:tmpl name="data" type="condition" conditionvar="DATA_EMPTY" -->
      <!-- patTemplate:sub condition="YES" -->
   <tr><td colspan="10" align="center"><em>-- Data tidak ditemukan --</em></td></tr>
      <!-- /patTemplate:sub -->
      <!-- patTemplate:sub condition="NO" -->
         <!-- patTemplate:tmpl name="data_item" -->
   <tr class="{HKM_CLASS_NAME}">
      <td align="center" width="5%">{HKM_NUMBER}</td>
      <td align="center">{HKM_TAHUN_TERIMA}</td>
	  <td align="center">{HKM_JENJANG}</td>
	  <td align="left">{HKM_NAMA}</td>
	  <td align="left">{HKM_DANA}</td>
	  <td align="left">{HKM_TAHUN} tahun, {HKM_BULAN} bulan</td>
	  <td align="left">{HKM_KETERANGAN}</td>
      <td class="links">
	     <div id="tombol_{HKM_NUMBER}">
         <a class="xhr dest_subcontent-element" href="{HKM_URL_EDIT}" title="Ubah"><img src="images/button-edit.gif" alt="Ubah"/></a>
         <a class="xhr dest_subcontent-element" href="{HKM_URL_DELETE}" title="Hapus"><img src="images/button-delete.gif" alt="Hapus"/></a>
		 </div>
		 <div id="download_{HKM_NUMBER}">
		 <a href="{HKM_LINK_DOWNLOAD_SK}" title="SK" target="_blank"><img src="images/detil.gif" alt="SK"/></a>
		 </div>
		 <script>
			verifyShow('tombol_{HKM_NUMBER}','&jenis=1&params=sdm_beasiswa:{HKM_ID}');
			if ('{HKM_LINK_DOWNLOAD_SK}'==''){var download='download_{HKM_NUMBER}'; document.getElementById(download).style.display='none';}
		 </script>
      </td>
   </tr>
         <!-- /patTemplate:tmpl -->
      <!-- /patTemplate:sub -->
   <!-- /patTemplate:tmpl -->
</table>
</div></div>
<script>
var display_form='{DISPLAY_FORM}',display_list='{DISPLAY_LIST}';
</script>
<!-- /patTemplate:tmpl -->
