<!-- patTemplate:tmpl name="content" -->
<div class="mainContent-fp-element-full">
	<div class="mainContent-fp-element-full-head"><h2>MANAJEMEN BERITA</h2></div>
	<div class="mainContent-fp-element-full-body">
   <h2>&nbsp;&nbsp;&nbsp;&nbsp;Detail Berita</h2>
   
   <table class="table-form" width="100%">
      <tr>
         <th width="20%">Judul</th>
         <td>{TITLE}</td>
      </tr>
      <tr>
         <th>Artikel</th>
         <td>{ARTICLE}</td>
      </tr>
      <tr>
         <th>URL</th>
         <td>{URL}</td>
      </tr>
      <tr>
         <th>Photo</th>
         <td><img src="{FOTO}" /></td>
      </tr>
      <tr>
         <th>Judul Bab</th>
         <td>{CAPTION}</td>
      </tr>
      <tr>
         <th>Tanggal</th>
         <td>{DATE}</td>
      </tr>
      <tr>
         <th>Status</th>
         <td>{STATUS}</td>
      </tr>
      <tr>
         <td colspan="2" class="table-common-links">
            <a class="xhr dest_subcontent-element " href="{URL_EDIT}"><img src="images/button-edit.gif" alt="" />Ubah</a>
            <a class="xhr dest_subcontent-element " href="{URL_DELETE}"><img src="images/button-delete.gif" alt="" />Hapus</a>
            <a class="xhr dest_subcontent-element " href="{URL_BACK}"><img src="images/button-bukunutup.gif" alt="" />Kembali</a>
         </td>
      </tr>
   </table>
</div></div>
<!-- /patTemplate:tmpl -->