
<!-- patTemplate:tmpl name="content" -->
<script language="javascript" type="text/javascript">

function konfirmasi() {
	if(document.getElementById('btnbatal').value == " Reset "){
      document.getElementById('btnbatal').type = "reset";
      document.frmInput.onReset();
    }else{
      document.getElementById('btnbatal').type = "submit";
      document.frmInput.onSubmit();
    }
}
</script>
<script language="javascript" type="text/javascript">
	var xpopup;
	
	function bukaPopupKomponen(url) {
		showPopup(url,'Dosen List List',900, 500);
	}
	
	function hapus_pegawai(obj) {
		obj.parentNode.parentNode.parentNode.removeChild(obj.parentNode.parentNode);
	}
	
	function cek(){
		nilai = document.getElementById('semua').checked;
		if (nilai) {
			document.getElementById('keyword').value='';
			document.getElementById('keyword').disabled=true;
		}else{
			document.getElementById('keyword').disabled=false;
		}
	}
</script>

<h1>VERIFIKASI SERTIFIKASI DOSEN</h1>
<br />
<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<div class="{CLASS_PESAN}">
   {ISI_PESAN}
</div>
<br />
<!-- /patTemplate:tmpl -->
<table class="table-edit" width="100%" >
<tr class="subhead">
    <th valign="center">{LABEL_ACTION} Sertifikasi Dosen</th>
    <td align="right">
        <div class="toolbar"> 
        <a class="xhr dest_subcontent-element " href="{URL_BACK}" title="Kembali" tabindex="2">
        <img src="images/button-back.gif" alt=""> Kembali</a> 	
        </div>
    </td>
</tr>
<tr>
    <th width="39%">Tahun Sertifikasi</th>
    <td>
		{SRTFKTAHUN}
    </td>
</tr>
<tr>
    <th>Periode Awal</th>
    <td>
        {SRTFKPERIODEAWAL}
    </td>
</tr>
<tr>
    <th>Periode Akhir</th>
    <td>
        {SRTFKPERIODEAKHIR}
    </td>
</tr>
</table>
<form method="POST" action="{URL_SEARCH}" class="dataquest xhr_simple_form dest_subcontent-element" id="filterbox">
   <table>
	  <tr>
         <th><h2><strong>Pencarian</strong></h2></th>
      </tr>
	  <tr>
         <th></th>
		 <td>
		    <input type="checkbox" name="semua" id="semua" onclick="cek();" {SEMUA}>&nbsp;&nbsp;Tampilkan Semua </br>
		 </td>
      </tr>
	  <tr>
         <th>NIP/Nama/No Peserta</th>
		 <td>
			<input type="text" name="keyword" id="keyword" size="35" value="{KEYWORD}" {KEYWORD_DISABLED}>
		 </td>
      </tr>
      <tr>              
         <th width="30%">&nbsp;</th>
         <td><input type="submit" name="btncari" value=" Cari &raquo;" class="buttonSubmit"/></td>
      </tr>
   </table>
</form>
<form method="POST" name="frmInput" action="{URL_AKSI}" class="xhr_form std_form" id="frmInput" enctype="multipart/form-data">
	<input type="hidden" name="srtfkTahun" size="10" maxlength="20" value="{SRTFKTAHUN}" />
	<input type="hidden" name="srtfkId" value="{SRTFKID}">
    <!-- patTemplate:tmpl name="detil_pegawai" type="condition" conditionvar="DATA_EMPTY" -->
		<!-- patTemplate:sub condition="YES" --><!-- /patTemplate:sub -->
    	<!-- patTemplate:sub condition="NO" -->
			<input type="hidden" name="op" value="verify" id="op">
			<table width="900px">
			<tr>
				<td colspan="2">
					<br>
					<h2>Daftar Dosen Yang Diusulkan Menjadi Peserta Sertifikasi Dosen</h2>
					<table class="table-common" width="100%" id="table-komponen" >
						<tr>
							<th rowspan="2">No</th>	
							<th rowspan="2">Verify</th>	 
							<th rowspan="2">Nomor Peserta</th>
							<th rowspan="2">NIP/NIK</th>
							<th rowspan="2">Nama Dosen</th>
							<th rowspan="2">TTL</th>
							<th rowspan="2">Jabatan Akademik</th>
							<th rowspan="2">Pangkat</th>
							<th rowspan="2">Bidang Ilmu</th>
							<th colspan="3">Pendidikan</th>
						</tr>
						<tr>
							<th>S1</th>
							<th>S2</th>
							<th>S3</th>
						</tr>
						<tbody id="table-pegawai">
    						<!-- patTemplate:tmpl name="data_peserta_sertifikasi" -->
    						<tr>
								<td>
									{DATA_NUMBER}
    							</td>
								<td align="center">
									{DATA_SRTFKDETVERIFIKASI_STATUS}
    								<input type="checkbox" name="data[tambah][srtfkdetVerifikasi][{DATA_SRTFKDETPEGID}]" style="display:{DATA_SRTFKDETVERIFIKASI}"/>
									<input type="hidden" name="data[tambah][srtfkdetIsVerifikasi][{DATA_SRTFKDETPEGID}]" value="{DATA_SRTFKDETISVERIFIKASI}"/>
    							</td>
								<td>
									<input type="text" size="15" name="data[tambah][srtfkdetNoPeserta][{DATA_SRTFKDETPEGID}]" value="{DATA_SRTFKDETNOPESERTA}" />
    							</td>
    							<td>
									{DATA_SRTFKDETNIP}
    							</td>
    							<td>
									<input type="hidden" name="data[tambah][srtfkdetPegId][]" value="{DATA_SRTFKDETPEGID}" />
									{DATA_SRTFKDETNAMA}
    							</td>
								<td>
									{DATA_SRTFKDETTEMPATLAHIR}, {DATA_SRTFKDETTANGGALLAHIR}
    							</td>
								<td>
									{DATA_SRTFKDETJABFUNGRNAMA}
    							</td>
								<td>
									{DATA_SRTFKDETPKTGOLRID}
    							</td>
								<td>
									{DATA_SRTFKDETBIDANGNAMA}
    							</td>
								<td>
									{DATA_SRTFKDETS1}
    							</td>
								<td>
									{DATA_SRTFKDETS2}
    							</td>
								<td>
									{DATA_SRTFKDETS3}
    							</td>
    						</tr>
    						<!-- /patTemplate:tmpl -->
						</tbody>
					</table>
				</td>
			</tr>
			<tr class="buttons">
				<th>&nbsp;</th>
				<td>
					<input name="btnsimpan" value=" Verifikasi " class="buttonSubmit" type="submit">
					<input name="btnbatal" id="btnbatal" value="Batal" class="buttonSubmit" type="button" onclick="konfirmasi()">
				</td>
			</tr>
		</table>
    <!-- /patTemplate:sub -->
<!-- /patTemplate:tmpl -->
    				
</form>
<div class="petunjuk-area">
   <h4>Petunjuk:</h4>
   <ul>
      <li>Cari Dosen yang ingin diverifikasi terlebih dahulu berdasarkan NIP atau Nama atau Nomor Peserta.</li>
      <li>Proses Verifikasi adalah proses pembuatan Nomor Peserta Sertifikasi Dosen. </li>
	  <li>Pilih Dosen yang akan diverifikasi dengan mencentang pada kolom Verify. </li>
	  <li>Kosongkan kolom Nomor Peserta jika ingin membuat Nomor Peserta Otomatis. </li>
   </ul>
</div>
<!-- /patTemplate:tmpl -->