
<!-- patTemplate:tmpl name="content" -->
<script language="javascript" type="text/javascript">

function konfirmasi() {
	if(document.getElementById('btnbatal').value == " Reset "){
      document.getElementById('btnbatal').type = "reset";
      document.frmInput.onReset();
    }else{
      document.getElementById('btnbatal').type = "submit";
      document.frmInput.onSubmit();
    }
}
</script>
<script language="javascript" type="text/javascript">
	var xpopup;
	
	function bukaPopupKomponen(url) {
		showPopup(url,'Dosen List',900, 500);
	}
	
	function hapus_pegawai(obj) {
		obj.parentNode.parentNode.parentNode.removeChild(obj.parentNode.parentNode);
	}
</script>

<h1>USULAN SERTIFIKASI DOSEN</h1>
<br />
<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<div class="{CLASS_PESAN}">
   {ISI_PESAN}
</div>
<br />
<!-- /patTemplate:tmpl -->
<form method="POST" name="frmInput" action="{URL_AKSI}" class="xhr_form std_form" id="frmInput" enctype="multipart/form-data">
   <input type="hidden" name="op" value="{OP}" id="op">
   <table class="table-edit" width="100%" >
      <tr class="subhead">
        <th valign="center">{LABEL_ACTION} Sertifikasi Dosen</th>
        <td align="right">
          <div class="toolbar"> 
          </div>
        </td>
      </tr>
	  <tr>
        <th width="39%">Tahun Sertifikasi</th>
        <td>
          <input type="text" name="srtfkTahun" size="10" maxlength="20" value="{SRTFKTAHUN}" /> * format: YYYY, misal: 2010
		  <input type="hidden" name="srtfkId" value="{SRTFKID}">
        </td>
      </tr>
      <tr>
        <th>Periode Awal</th>
        <td>
          <!-- patTemplate:gtfwrendermodule module="tanggal" submodule="tanggal" action="view" name="srtfkPeriodeAwal"  / -->
        </td>
      </tr>
      <tr>
        <th>Periode Akhir</th>
        <td>
          <!-- patTemplate:gtfwrendermodule module="tanggal" submodule="tanggal" action="view" name="srtfkPeriodeAkhir"  / -->
        </td>
      </tr>
	  </table>
	  <div class="pageBar">
		<div class="toolbar">
			<a href="javascript:bukaPopupKomponen('{URL_POPUP_PEGAWAI}')" onclick=""><img src="images/button-add.gif" alt=""> Tambah Dosen</a>
			<a class="xhr dest_subcontent-element " href="{URL_BACK}" title="Kembali" tabindex="2"><img src="images/button-back.gif" alt=""> Kembali</a> 	
		</div>
	  </div>
	  <table width="900px">
		<tr>
        <td colspan="2">
			<br>
			<h2>Daftar Dosen Yang Diusulkan Menjadi Peserta Sertifikasi Dosen</h2>
        	<table class="table-common" width="100%" id="table-komponen" >
    			<tr>
					<th rowspan="2">NIP/NIK</th>
    				<th rowspan="2">Nama Dosen</th>
					<th rowspan="2">TTL</th>
					<th rowspan="2">Jabatan Akademik</th>
					<th rowspan="2">Pangkat</th>
					<th rowspan="2">Bidang Ilmu</th>
					<th colspan="3">Pendidikan</th>
    				<th rowspan="2">Aksi</th>	 
    			</tr>
				<tr>
    				<th>S1</th>
					<th>S2</th>
    				<th>S3</th>
    			</tr>
    			<tbody id="table-pegawai">
    				<!-- patTemplate:tmpl name="detil_pegawai" type="condition" conditionvar="DATA_EMPTY" -->
    					<!-- patTemplate:sub condition="YES" --><!-- /patTemplate:sub -->
    					<!-- patTemplate:sub condition="NO" -->
    						<!-- patTemplate:tmpl name="data_peserta_sertifikasi" -->
    						<tr>
    							<td>
    								<input type="hidden" name="data[tambah][srtfkdetId][]" value="{DATA_SRTFKDETID}" /> 
									<input type="hidden" name="data[tambah][srtfkdetnip][]" value="{DATA_SRTFKDETNIP}" /> 
									{DATA_SRTFKDETNIP}
    							</td>
    							<td>
    								<input type="hidden" name="data[tambah][srtfkdetNama][]" value="{DATA_SRTFKDETNAMA}" />
									<input type="hidden" name="data[tambah][srtfkdetPegId][]" value="{DATA_SRTFKDETPEGID}" />
									{DATA_SRTFKDETNAMA}
    							</td>
								<td>
    								<input type="hidden" name="data[tambah][srtfkdetTempatLahir][]" value="{DATA_SRTFKDETTEMPATLAHIR}" />
									<input type="hidden" name="data[tambah][srtfkdetTanggalLahir][]" value="{DATA_SRTFKDETTANGGALLAHIR}" />
									{DATA_SRTFKDETTEMPATLAHIR}, {DATA_SRTFKDETTANGGALLAHIR}
    							</td>
								<td>
    								<input type="hidden" name="data[tambah][srtfkdetJabfungrId][]" value="{DATA_SRTFKDETJABFUNGRID}" />
									<input type="hidden" name="data[tambah][srtfkdetJabfungrNama][]" value="{DATA_SRTFKDETJABFUNGRNAMA}" />
									{DATA_SRTFKDETJABFUNGRNAMA}
    							</td>
								<td>
    								<input type="hidden" name="data[tambah][srtfkdetPktgolrId][]" value="{DATA_SRTFKDETPKTGOLRID}" />
									<input type="hidden" name="data[tambah][srtfkdetPktgolrNama][]" value="{DATA_SRTFKDETPKTGOLRNAMA}" />
									{DATA_SRTFKDETPKTGOLRID}
    							</td>
								<td>
    								<input type="hidden" name="data[tambah][srtfkdetBidangKode][]" value="{DATA_SRTFKDETBIDANGKODE}" />
									<input type="hidden" name="data[tambah][srtfkdetBidangNama][]" value="{DATA_SRTFKDETBIDANGNAMA}" />
									{DATA_SRTFKDETBIDANGNAMA}
    							</td>
								<td>
    								<input type="hidden" name="data[tambah][srtfkdetS1][]" value="{DATA_SRTFKDETS1}" />
									{DATA_SRTFKDETS1}
    							</td>
								<td>
    								<input type="hidden" name="data[tambah][srtfkdetS2][]" value="{DATA_SRTFKDETS2}" />
									{DATA_SRTFKDETS2}
    							</td>
								<td>
    								<input type="hidden" name="data[tambah][srtfkdetS3][]" value="{DATA_SRTFKDETS3}" />
									{DATA_SRTFKDETS3}
    							</td>
    							<td style="display:{DATA_SRTFKDETVERIFIKASI}">
    								<a href="javascript:void(null)" title="Hapus" onclick="hapus_pegawai(this)"><img src="images/button-delete.gif" alt="Hapus" /></a>
    							</td>
    						</tr>
    						<!-- /patTemplate:tmpl -->
    					<!-- /patTemplate:sub -->
    					<!-- /patTemplate:tmpl -->
    				</tbody>
    		</table>
        </td>
      </tr>
      <tr class="buttons">
         <th>&nbsp;</th>
         <td>
            <input name="btnsimpan" value=" Simpan " class="buttonSubmit" type="submit">
            <input name="btnbatal" id="btnbatal" value="{BUTTON}" class="buttonSubmit" type="button" onclick="konfirmasi()">
         </td>
      </tr>
   </table>
</form>
<div class="petunjuk-area">
   <h4>Petunjuk:</h4>
   <ul>
      <li>Gunakan tombol <img src="images/button-delete.gif" alt="Delete"/> untuk menghapus peserta. </li>
   </ul>
</div>
<!-- /patTemplate:tmpl -->