<!-- patTemplate:tmpl name="content" -->
   <!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
   <div class="{CLASS_PESAN}">
      {ISI_PESAN}
   </div>
   <!-- /patTemplate:tmpl -->
   
<div class="mainContent-fp-element-full">
	<div class="mainContent-fp-element-full-head"><h2>MANAJEMEN GROUP</h2></div>
	<div class="mainContent-fp-element-full-body">   

   <table class="table-common" width="96%">
      <tr class="subhead"><td colspan="6">
        <a class="xhr dest_subcontent-element" href="{GROUP_URL_ADD}" title="Tambah Data Group" tabindex="2"><img src="images/button-add.gif" alt=""> Tambah</a>
        <br />
      </td></tr>
      <tr>
         <th>No</th>
         <th>Aksi</th>
         <th>Nama Grup</th>
         <th>Deskripsi</th>
         <th>Unit Kerja</th>
         <th>Hak Akses</th>   
      </tr>
      <!-- patTemplate:tmpl name="data_group" type="condition" conditionvar="GROUP_EMPTY" -->
         <!-- patTemplate:sub condition="YES" -->
         <tr><td colspan="6" align="center"><em>-- Data tidak ditemukan --</em></td></tr>
         <!-- /patTemplate:sub -->
         <!-- patTemplate:sub condition="NO" -->
            <!-- patTemplate:tmpl name="data_group_item" -->
            <tr class="{GROUP_CLASS_NAME}">
               <td>{GROUP_NUMBER}</td>
               <td class="links">
                  <a class="xhr dest_subcontent-element" href="{GROUP_URL_EDIT}" title="Ubah"><img src="images/button-edit.gif" alt="Ubah" /></a>
                  <a class="xhr dest_subcontent-element" href="{GROUP_URL_DELETE}"><img src="images/button-delete.gif" alt="Delete" /></a>
               </td>
               <td>{GROUP_GROUP_NAME}</td>
               <td>{GROUP_GROUP_DESCRIPTION}</td>
               <td>{GROUP_UNIT_KERJA}</td>
               <td>{GROUP_HAK_AKSES}</td>
            </tr>
            <!-- /patTemplate:tmpl -->
         <!-- /patTemplate:sub -->
      <!-- /patTemplate:tmpl -->
   </table>
</div>
</div>
<!-- /patTemplate:tmpl -->
