<!-- patTemplate:tmpl name="content" -->
<div class="mainContent-fp-element-full">
	<div class="mainContent-fp-element-full-head"><h2>MANAJEMEN AGENDA</h2></div>
	<div class="mainContent-fp-element-full-body">
   <h2>&nbsp;&nbsp;&nbsp;&nbsp;Tambah/Ubah Agenda</h2>
   
   <!-- patTemplate:tmpl name="message" type="simpleCondition" requiredvars="MESSAGE" -->
      <h4>{MESSAGE}</h4>  
   <!-- /patTemplate:tmpl -->
   
   <form name="form_agenda" id="form_agenda" class="xhr_form std_form" id="frmInput" action="<!-- patTemplate:gtfwgeturl module="manajemen_agenda" sub="{SUB}" action="view" type="html" / -->" method="post" autocomplete=off enctype="multipart/form-data">
      <table class="table-form" width="100%">
         <tr>
            <th width="20%"><u>Nama Agenda</u></th>
            <td><input type="text" name="title" value="{TITLE}" size="50" /></td>
         </tr>
         <tr>
            <th><u> Mulai</u></th>
            <td>
               <!-- patTemplate:gtfwrendermodule module="tanggal" submodule="Tanggal" action="view" name="mulai" / -->
               <!--<input type="text" class="input" readonly name="tanggal_mulai" value="{START_DATE}" readonly />
               <a href="javascript:void(0)" onclick="if(self.gfPop)gfPop.fPopCalendar(document.form_agenda.tanggal_mulai,null,null);">...</a>-->
            </td>
         </tr>
         <tr>
            <th><u> Selesai</u></th>
            <td>
               <!-- patTemplate:gtfwrendermodule module="tanggal" submodule="Tanggal" action="view" name="selesai" / -->
               <!--<input type="text" class="input" readonly name="tanggal_selesai" value="{END_DATE}" readonly />
               <a href="javascript:void(0)" onclick="if(self.gfPop)gfPop.fPopCalendar(document.form_agenda.tanggal_selesai,null,null);">...</a>-->
            </td>
         </tr>
         <tr>
            <th width="20%"><u>Tempat</u></th>
            <td><input type="text" name="tempat" value="{LOCATION}" size="50" /></td>
         </tr>
         <tr>
            <th>Keterangan</th>
            <td><textarea cols="65" rows="25" name="article" id="isiAgenda">{ARTICLE}</textarea></td>
         </tr>
         <tr>
            <th>URL</th>
            <td><input type="text" name="url" value="{URL}" size="40" /></td>
         </tr>
         <tr>
            <th>Photo</th>
            <td>
               <input type="file" name="foto" />
               <!-- patTemplate:tmpl name="foto" visibility="hidden" -->
               <br />Photo lama:{FOTO}
               <!-- /patTemplate:tmpl -->
               <br />Ukuran file maksimum adalah {MAX_WIDTH}x{MAX_HEIGHT} jenis pixel format JPG, atau PNG
            </td>
         </tr>
         <tr>
            <th>Judul</th>
            <td><input type="text" name="caption" value="{CAPTION}" size="40" /></td>
         </tr>
         <tr>
            <th>Status</th>
            <td><input type="checkbox" name="status" value="1" size="40" {CHECKED} /> Sticky</td>
         </tr>
         <tr>
            <td colspan="2">
               <input type="hidden" name="id" value="{ID}" />
               <input type="submit" name="action" value="Simpan" />
               <input type="button" name="action" value="Batal" onclick="location.href='<!-- patTemplate:gtfwgeturl module="manajemen_agenda" sub="AdminListAgenda" action="view" type="html" / -->';" />
            </td>
         </tr>
      </table>
   </form>
</div></div>
<!-- /patTemplate:tmpl -->