<!-- patTemplate:tmpl name="content" -->
<h1>Manajemen Group Portal</h1>
<br/>
   <!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
   <div class="notebox-alert">
      {ISI_PESAN}
   </div>
   <br/>
   <!-- /patTemplate:tmpl -->
   <form method="POST" action="{URL_ACTION}" class="xhr_form std_form" id="frmInput">
      <table class="table-edit"  width="100%">
         <tr class="subhead"> 
            <th colspan="2">{JUDUL} Group</th>
         </tr>
         <tr>
            <th>Nama Group</th>
            <td><input type="text" name="groupname" value="{GROUPNAME}" size="30" notab="1"/> *</td>
         </tr>
         <tr>
            <th>Deskripsi</th>
            <td><textarea name="description" cols="65" tabindex="2">{DESKRIPSI}</textarea>
            <input type="hidden" name="grp" value="{GRP}" /></td>
         </tr>
         <tr>
            <th>Unit Kerja</th>
            <td>
         <!-- patTemplate:gtfwrendermodule module="combobox" submodule="combobox" action="view" name="unit_kerja" value="{UNIT_KERJA}" / -->
            *</td>
         </tr>
         <tr>
            <th>Hak Akses</th>
            <td>
            <!-- patTemplate:tmpl name="menu" type="condition" conditionvar="MENU_PARENT" -->
               <!-- patTemplate:sub condition="YES" -->
               <h2><b>{PARENT_MENU}</b></h2>
               <!-- /patTemplate:sub -->
               <!-- patTemplate:sub condition="NO" --> 
               <input type="checkbox" name=menu[] value="{IDMENU}" {CHECK}/>{MENU}<br>
               <!-- /patTemplate:sub -->
            <!-- /patTemplate:tmpl -->      
            </td>
         </tr>
         <tr class="buttons">
            <th></th>
            <td>
               <input type="submit" name="btnsimpan" value=" Save " class="buttonSubmit"/>
               <input type="submit" name="btnbatal" value=" Cancel " class="buttonSubmit"/>
            </td>
         </tr>
      </table>
   </form>
<br/>
<div class="petunjuk-area">
   <h4>Informasi :</h4>
   <ul>
      <li>Tanda * menandakan bahwa field tersebut wajib diisi. </li>
   </ul>
</div>
<!-- /patTemplate:tmpl -->
